<section class="rates" id="rates-host">
  <img src="img/main-page/rates/rates-1.jpg" alt="" class="rates__main-image">
  <div class="gl__page-content rates__content-wrapper">
    <div class="rates__content">
      <div class="rates__content-title">Тариф «Летай.Оранжевый»</div>
      <div class="rates__content-subtitle">Выжми скорость</div>
      <div class="rates__content-caption">Мощный интернет + ТВ 160 каналов</div>
      <button type="button" class="gl__main-btn">Подробнее</button>
    </div>
  </div>
</section>
