<section class="international-calls">
  <div class="gl__page-content">
    <div class="international-calls__content">
      <img src="img/roaming/woman.svg" alt="" class="international-calls__image">

      <h2 class="gl__title international-calls__title">Международные звонки в роуминге по России</h2>

      <ul class="international-calls__faq-list">
        {{> common/faq/faq-item faq=international-calls }}
      </ul>
    </div>
  </div>
</section>
