<section class="ussd-faq">
  <div class="gl__page-content">
    <div class="ussd-faq__content">
      <h2 class="gl__title">Стоимость услуг</h2>
      {{> common/faq/faq-item faq=price-faq }}
    </div>
  </div>
</section>