<section class="roaming-tabs" id="roaming-tabs-host">
  <div class="gl__page-content">
    <div class="roaming-tabs__content">
      <div class="roaming-tabs__menu-tabs-wrapper gl__white-container gl__xs-hide">
        {{> common/menu-tabs
          name="services-adding-funds-account"
          type2=true
          item1="Роуминг по Россиии"
          item2="Роуминг по всему миру"
        }}
      </div>

      <div class="roaming-tabs__select-wrapper gl__xs-show">
        {{> common/select
          name="roaming-tabs"
          option1="Роуминг по Россиии"
          option2="Роуминг по всему миру"
        }}
      </div>
    </div>
  </div>
</section>
