<section class="roaming-tabs" id="roaming-tabs-host">
  <div class="gl__page-content">
    <div class="roaming-tabs__content">
      <div class="roaming-tabs__menu-tabs-wrapper gl__white-container gl__xs-hide">
        {{> common/controls/menu-tabs menu-tabs=roaming-menu-tabs }}
      </div>

      <div class="gl__xs-show">
        <div class="roaming-tabs__select-wrapper">
          {{> common/controls/select selects=roaming-select }}
        </div>

        <div class="roaming-tabs__image-wrapper">
          <img src="img/roaming-page/man.svg" alt="" class="roaming-tabs__image">
        </div>
      </div>
    </div>
  </div>
</section>
