<section class="roaming-without-worries" id="roaming-without-worries-host">
  <div class="gl__page-content">
    <h2 class="gl__title">Роуминг без забот</h2>

    <div class="roaming-without-worries__subtitle">
      Узнайте, как оптимизировать свои расходы в поездках по миру
    </div>

    <div class="roaming-without-worries__content-wrapper">
      {{> common/roaming-without-worries-form }}

      <div class="roaming-without-worries__content-image"
           style="background-image: url('img/roaming-page/man-2.svg')">
      </div>
    </div>
  </div>
</section>
