<section class="roaming-tabs" id="roaming-tabs-host">
  <div class="gl__page-content">
    <div class="roaming-tabs__content">
      <div class="roaming-tabs__menu-tabs-wrapper gl__white-container gl__xs-hide">
        {{> common/menu-tabs
          name="services-adding-funds-account"
          type2=true
          item1="Роуминг по Россиии"
          item2="Роуминг по всему миру"
        }}
      </div>

      <div class="gl__xs-show">
        <div class="roaming-tabs__select-wrapper">
          {{> common/select
            name="roaming-tabs"
            option1="Роуминг по Россиии"
            option2="Роуминг по всему миру"
          }}
        </div>

        <div class="roaming-tabs__image-wrapper">
          <img src="img/roaming/man.svg" alt="" class="roaming-tabs__image">
        </div>
      </div>
    </div>
  </div>
</section>
