<div class="faq">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Тарифы
    </h2>

    <ul class="faq__list-wrapper mod-small">
      {{> common/faq/faq-item faq=ratesFaq }}
    </ul>

    <div class="gl__b-hint-nds">
      Тарифы указаны с учетом НДС
    </div>
  </div>
</div>
