<section class="b-info">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Что такое ISDN PRI?
    </h2>

    <ul class="b-info__list-width-line-mark mod-padding-left mod-min-content">
      {{#each infoIsdnPriList }}
        <li class="b-info__item-line-mark">
          {{ this }}
        </li>
      {{/each}}
    </ul>
  </div>
</section>
