<section class="b-info">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Об услуге
    </h2>

    <p class="b-info__text">
      Цифровые потоки Е1 - это подключение корпоративной мини-АТС к сети Таттелеком по цифровому каналу связи ISDN PRI.
    </p>
  </div>
</section>
