<section class="b-additional-features">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Дополнительные возможности
    </h2>

    {{> common/b-check-items }}

    {{> common/pdf-file }}
  </div>
</section>
