<section class="b-additional-features">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Дополнительные возможности
    </h2>

    {{> common/b-check-items }}

    <a href="" download class="b-additional-features__file-link">
      <svg width="30" height="40" aria-hidden="true" class="b-additional-features__file-link-icon">
        <use xlink:href="#pdf-file"></use>
      </svg>
      <div>
        <div class="b-additional-features__file-link-title">PDF 265 KB</div>
        <div class="b-additional-features__file-link-subtitle">Подробнее о тарифных планах</div>
      </div>
    </a>
  </div>
</section>
