<section class="b-connect-list" id="b-connect-list">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Подключайтесь и обменивайтесь документами:
    </h2>

    <ul class="b-connect-list__wrapper">
      {{#each connect-list }}
        <li class="b-connect-list__item">
          {{ this }}
        </li>
      {{/each}}
    </ul>
  </div>
</section>
