<section class="order-call order-call__b-connect" id="order-call-host">
  <div class="gl__page-content">
    <div class="order-call__content mod-grey mod-absolute-image-desk">
      <div>
        <h2 class="gl__title order-call__title">Выгодный старт - скидки на пол года до 50%!</h2>
        <p class="order-call__text">
          Переходите на электронный обмен документами с государственными и коммерческими организациями РТ прямо сейчас и
          ваш платеж составит всего лишь 5 руб/мес за 1-й, 3-й, 6-й месяцы с момента подключения.
        </p>
        <button type="button" class="gl__main-btn mod-business js-open-callback-modal">Подключить</button>
      </div>

      <img src="img/b-connect/discount-50.jpg" alt="" class="order-call__img mod-absolute-desk">
    </div>
  </div>
</section>
