.b-about-service {
  padding-bottom: 5rem;

  @include for-sm-down {
    padding-bottom: 2.6rem;
  }

  &__content {
  }

  &__btn {
    display: flex;
    align-items: center;
  }

  &__btn-label {
    margin-right: 2rem;

    font-size: var(--fs-h1);
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.015em;

    @include for-bg-down {
      margin-right: 1.4rem;
    }
  }

  &__btn-icon {
  }

  &__wrapper {
  }

  &__content-block {
    padding-top: 5rem;
    padding-left: 18rem;
    max-width: 92rem;

    font-size: var(--fs-t2);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.02em;

    @include for-bg-down {
      padding-top: 3rem;
      padding-left: 12rem;
    }
    @include for-sm-down {
      padding-top: 2rem;
      padding-left: 4.2rem;
    }
  }
}

.b-about-service__text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  max-width: 74rem;
}
