.b-check {
  padding: 5rem 0;

  @include for-lg-down {
    padding: 3rem 0;
  }

  @include for-sm-down {
    padding: 2.6rem 0;
  }
}

.b-check-items {
  padding: 5rem 0;

  @include for-sm-down {
    padding: 2.6rem 0;
  }
}

.b-check-items__list {
  display: grid;
  grid-gap: 4rem 3rem;

  &.column-4 {
    @include for-bg-up {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &.column-3 {
    @include for-bg-up {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &.column-2 {
    @include for-bg-up {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @include for-bg-down {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-sm-down {
    grid-gap: 4rem 2rem;
  }

  @include for-xs-down {
    grid-template-columns: 1fr;
    grid-gap: 2.2rem;
  }
}

.b-check-items__item {
  display: flex;
}

.b-check-items__item-title {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.015em;
  margin-bottom: 3rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.b-check-items__item-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;

  @include for-sm-down {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

.b-check-items__item-image {
  height: 3.4rem;
  margin-right: 2rem;
}

.b-check__btn-more {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  display: flex;
  align-items: center;
  color: var(--main-color-business);
  padding: 2rem;
  margin: 1.8rem -2rem;

  &:hover {
    color: var(--main-color-business-hover);

    .b-check__btn-more-icon {
      fill: var(--main-color-business-hover) !important;
    }
  }
}

.b-check__btn-more-icon {
  height: 2.4rem;
  flex: 0 0 2.4rem;
  fill: var(--main-color-business) !important;
  margin-left: .4rem;
}
