// ######
// Внизу стили для мобильной версии
// ######

.b-page-banner {
  padding: 5rem 0 10rem;

  @include for-sm-down {
    padding: 2.6rem 0 10rem;
  }

  &.b-single-business {
    .b-page-banner__title {
      @include for-sm-down {
        max-width: 50%;
      }
    }
  }

  &__content {
    overflow: hidden;

    position: relative;

    padding: 6rem 50% 6rem 9.2rem;
    border-radius: 2rem;
    height: clamp(35.4rem, 38.4rem, 100000rem);

    @include for-bg-down {
      padding: 4rem;
    }

    @include for-sm-down {
      padding: 2rem;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    object-fit: cover;

    user-select: none;
  }

  &__text {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__title {
    margin-bottom: 1rem;

    font-size: var(--fs-h1);
    font-weight: 600;
    line-height: 1.2;
    color: var(--main-color-business);

    &.white {
      color: white;
    }

    @include for-sm-down {
      margin-bottom: 1.2rem;
    }
  }

  &__accent-title {
    display: block;

    font-size: 5.5rem;
    font-weight: 600;
    line-height: 1.2;

    &.mod-blue {
      color: var(--main-color-business);
    }

    @include for-sm-down {
      font-size: var(--fs-h1);
    }
  }

  // Появляется на мобилке
  &__mobile-title {
    display: none;

    &.mod-blue {
      color: var(--main-color-business);
    }
  }

  &__cost-block {
    display: flex;
    flex-direction: column;

    margin-bottom: 1.8rem;

    color: var(--main-color-business);

    @include for-sm-down {
      margin-bottom: 0.8rem;
    }
  }

  &__cost-label {
    flex-shrink: 0;

    font-size: var(--fs-h2);
    line-height: 1.2;
    font-weight: 300;

    @include for-sm-down {
      font-size: var(--fs-t1);
    }
  }

  &__cost-bottom {
    display: flex;
    align-items: flex-end;
  }

  &__cost {
    flex-shrink: 0;

    margin-right: 0.5rem;

    font-size: 5rem;
    line-height: 1;
    font-weight: 700;

    @include for-sm-down {
      font-size: 3.2rem;
    }
  }

  &__label {
    font-size: var(--fs-h2);
    line-height: 1.2;
    font-weight: 300;
    color: var(--main-color-business);

    @include for-sm-down {
      font-size: var(--fs-t1);
    }
  }

  &__desktop-subtitle {
    font-weight: 300;
    font-size: 3.6rem;
    line-height: 1.2;

    @include for-sm-down {
      font-weight: normal;
      font-size: 2rem;
      line-height: 2.8rem;
    }

    &.mod-blue {
      color: var(--main-color-business);
    }
  }
}

.b-page-banner.mobile-version-available {
  @include for-xs-down {
    // Показываем мобильный заголовок
    .b-page-banner__mobile-title {
      display: block;
    }

    // Изображение меняется через HTML (тег picture с медиа-запросом)

    // Скрываем десктопные заголовки
    // Скрываем цену
    // Скрываем подпись под ценой
    .b-page-banner__accent-title,
    .b-page-banner__desktop-title,
    .b-page-banner__cost-block,
    .b-page-banner__label {
      &:not(.mod-no-hide) {
        display: none;
      }
    }
  }
}
