// ######
// Внизу стили для мобильной версии
// ######

.b-page-banner {
  padding: 5rem 0;

  @include for-lg-down {
    padding: 3rem 0;
  }

  @include for-sm-down {
    padding: 2.6rem 0;
  }

  &.b-single-business {
    .b-page-banner__title {
      margin-bottom: 1rem;
    }

    .b-page-banner__mobile-title {
      font-weight: 600;
      font-size: 3.2rem;
      line-height: 3.8rem;
      margin-bottom: 2rem;
      max-width: 50%;
    }
  }

  &.b-virtual-ats {
    .b-page-banner__title {
      margin-bottom: 0.2rem;
    }

    .b-page-banner__content {
      padding-bottom: 2rem;
    }
  }

  &.b-telephony, &.b-ip-telephony, &.b-communication {
    .b-page-banner__content {
      @include for-sm-up {
        padding-right: 10%;
      }
    }

    .b-page-banner__accent-title {
      font-size: 3.8rem;
      line-height: 5.6rem;

      @include for-sm-down {
        font-size: 2.8rem;
        line-height: 4.6rem;
      }
    }

    .b-page-banner__mobile-title {
      max-width: none;
    }
  }

  &.b-sip-telephony {
    .b-page-banner__text {
      justify-content: flex-start;
    }
  }

  &__content {
    overflow: hidden;

    position: relative;

    padding: 6rem 50% 6rem 9.2rem;
    border-radius: 2rem;

    height: 36rem;

    @include for-bg-down {
      padding: 4rem;
    }

    @include for-sm-down {
      padding: 2rem;
      min-height: 30rem;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    object-fit: cover;

    user-select: none;
  }

  &__text {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  &__title {
    margin-bottom: 2.8rem;

    font-size: var(--fs-h1);
    font-weight: 600;
    line-height: 1.2;
    color: var(--main-color-business);

    &.white {
      color: white;
    }

    @include for-sm-down {
      margin-bottom: 1.2rem;
    }
  }

  &__subtitle {
    color: var(--main-color-business);
    font-weight: 300;
    font-size: var(--fs-t2);
    letter-spacing: 0.02em;
    line-height: 1.6;

    &.white {
      color: white;
    }
  }

  &__large-subtitle {
    color: var(--main-color-business);
    font-size: 3rem;
    line-height: 3.8rem;
    font-weight: 300;
    letter-spacing: 0.015em;

    @include for-sm-down {
      font-size: 2rem;
      line-height: 2.8rem;
      font-weight: normal;
    }

    &.white {
      color: white;
    }
  }

  &__accent-title {
    display: block;

    font-size: 5.5rem;
    font-weight: 600;
    line-height: 1.2;

    @include for-sm-down {
      font-size: var(--fs-h1);
    }
  }

  // Появляется на мобилке
  &__mobile-title {
    display: none;
    max-width: 28rem;
  }

  &__mobile-label {
    display: none;

    margin-top: 4rem;

    font-size: var(--fs-h2);
    font-weight: 300;
    line-height: 1.2;
  }

  &__cost-block {
    display: flex;
    flex-direction: column;

    margin-bottom: 1.8rem;

    color: var(--main-color-business);

    @include for-sm-down {
      margin-bottom: 0.8rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__cost-label {
    flex-shrink: 0;

    font-size: var(--fs-h2);
    line-height: 1.2;
    font-weight: 300;

    @include for-sm-down {
      font-size: var(--fs-t1);
    }
  }

  &__cost-bottom {
    display: flex;
    align-items: flex-end;
  }

  &__cost {
    flex-shrink: 0;

    margin-right: 0.5rem;

    font-size: 5rem;
    line-height: 1;
    font-weight: 700;

    @include for-sm-down {
      font-size: 3.2rem;
    }
  }

  &__label {
    font-size: var(--fs-h2);
    line-height: 1.2;
    font-weight: 300;
    color: var(--main-color-business);

    @include for-sm-down {
      font-size: var(--fs-t1);
    }

    &.white {
      color: white;
    }
  }

  &__btns-container {
    display: flex;

    margin-top: 3.2rem;
  }

  &__btn {
    @include for-xs-down {
      width: 100%;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

.b-page-banner.mobile-version-available {
  @include for-xs-down {
    // Показываем мобильный заголовок
    .b-page-banner__mobile-title {
      display: block;
    }

    .b-page-banner__mobile-label {
      display: block;
    }

    // Изображение меняется через HTML (тег picture с медиа-запросом)

    // Скрываем десктопные заголовки
    // Скрываем цену
    // Скрываем подпись под ценой
    .b-page-banner__accent-title,
    .b-page-banner__desktop-title,
    .b-page-banner__cost-block,
    .b-page-banner__label {
      &:not(.no-hide-mobile) {
        display: none;
      }
    }
  }
}

// Костыль
// Табы над баннером, есть на странице Роуминг
.b-page-banner {
  &__tabs {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 4rem;

    @include for-sm-down {
      margin-bottom: 3rem;
    }
  }

  &__tab {
    flex-shrink: 0;

    margin-right: 2.8rem;

    &:last-of-type {
      margin-right: 0;
    }

    @include for-sm-down {
      margin-right: 1.4rem;
    }
  }

  &__tab-link {
    display: block;

    padding: 2rem 7rem;
    margin-bottom: 1.4rem;

    border: 0.1rem solid var(--main-grey-color);
    border-radius: 10px;

    color: var(--main-grey-color);
    font-size: var(--fs-h3);
    line-height: 1.5;
    letter-spacing: 0.015em;

    transition: color 0.3s, background-color 0.3s, border-color 0.3s ease;

    @include for-sm-down {
      padding: 1.4rem 1rem;
    }

    &.active {
      background-color: var(--main-color-business);
      color: white;
    }

    &:hover,
    &:focus {
      color: white;
      background-color: var(--main-color-business-hover);
      border-color: var(--main-color-business-hover);
    }
  }
}
