.bread-crumbs__container {
  background-color: #FCFCFC;

  &.mod-orange {
    ::selection {
      @extend %select-white-background;
    }

    background-color: var(--main-color);

    .bread-crumbs__link {
      color: #fff;
    }

    a.bread-crumbs__link {
      &:hover {
        color: var(--main-text-color);

        .bread-crumbs__link-icon {
          fill: var(--main-text-color);
        }
      }
    }

    .bread-crumbs__link-icon {
      fill: #fff;
    }
  }
}

.bread-crumbs__list {
  margin-left: -.6rem;
  padding: 1.2rem 0;
}

.bread-crumbs__item {
  display: inline-block;

  &:last-child {
    .bread-crumbs__link-icon {
      display: none;
    }
  }
}

.bread-crumbs__link {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: var(--grey-text);
  padding: .6rem;
}

.bread-crumbs__link-icon {
  height: 1.6rem;
  fill: var(--grey-text);
  margin-left: 1rem;
}
