.instructions__subtitle {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  color: var(--grey-text);
  margin-bottom: 6rem;

  @include for-sm-down {
    margin-bottom: 2rem;
  }
}

.instructions__step-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.2rem;

  @include for-sm-down {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
}

.instructions__step-item {
  padding: 2.4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  @include for-sm-down {
    padding: 2.4rem 1.8rem;
  }

  &:before {
    position: absolute;
    content: '';
    width: 32.2rem;
    height: 32.2rem;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 114, 94, 0.05);
    border-radius: 100%;
    z-index: -1;

    @include for-sm-down {
      width: 32rem;
      height: 32rem;
    }
  }
}

.instructions__step-caption {
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 5rem;
  letter-spacing: 0.015em;
  color: var(--main-color);
  margin-bottom: 1.6rem;

  @include for-sm-down {
    font-size: 2.6rem;
    line-height: 3.4rem;
    margin-bottom: 3rem;
  }
}

.instructions__step-text {
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;

  @include for-sm-down {
    font-size: 1.4rem;
    line-height: 2.3rem;
  }
}

.instructions__mark {
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: underline;
}

.instructions__mark-icon {
  fill: var(--main-color);
  height: 2.4rem;
  margin-right: 1.2rem;
}
