$padding-content: 2rem;

.rates-preview {
  position: relative;
  z-index: 1;
  height: 47rem;
  color: #fff;
  padding: $padding-content 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include for-sm-down {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  &.mod-main-page {
    display: block;

    @include for-sm-down {
      background-color: #131419;
      background-image: none !important;
    }

    .rates-preview__img-wrapper {
      @include for-sm-up {
        display: none;
      }
    }
  }

  &.mod-mobile-communication {
    background-color: #202342;
  }

  &.mod-cashback {
    background-color: #FDDD66;

    .rates-preview__content {
      max-width: 56%;
    }

    .rates-preview__content-subtitle {
      font-size: 5.6rem;
      font-weight: 900;
      line-height: 6.6rem;
      max-width: 30rem;
      margin-bottom: 3.4rem;

      @include for-sm-down {
        font-size: 4rem;
        line-height: 5rem;
      }
    }

    .rates-preview__content-caption-wrapper {
      margin-bottom: 5rem;
    }

    .rates-preview__content-caption {
      font-size: 4rem;
      line-height: 5.2rem;

      @include for-sm-down {
        font-size: 2rem;
        line-height: 2.6rem;
      }
    }

    .rates-preview__img-wrapper {
      @include for-sm-down {
        margin-bottom: 0;
      }
    }

    @include for-sm-up {
      .rates-preview__img {
        position: absolute;
        bottom: 0;
        height: 100%;
        z-index: -1;
      }
    }

    @include for-sm-down {
      .rates-preview__content-wrapper {
        flex-direction: column;
      }

      .rates-preview__img {
        margin-bottom: -$padding-content;
        height: 28.4rem;
      }
    }
  }

  &.mod-together-profitable {
    background: linear-gradient(99.54deg, #D5DDDF 3.54%, #D5DDDF 73.5%);

    .rates-preview__content-subtitle {
      text-transform: initial;

      @include for-sm-up {
        font-size: 5.4rem;
        line-height: 6.4rem;
      }
    }

    .rates-preview__content-wrapper {
      position: relative;
    }

    @include for-sm-down {
      .rates-preview__content-wrapper {
        flex-direction: column;
      }

      .rates-preview__img-wrapper {
        margin-left: calc(var(--page-content-padding-small) * -1);
        margin-right: calc(var(--page-content-padding-small) * -1);
        margin-bottom: -$padding-content;
        width: 100vw;
      }

      .rates-preview__img {
        margin-top: 4rem;
        height: auto;
      }
    }

    @include for-sm-up {
      .rates-preview__img {
        position: absolute;
        top: -$padding-content;
        right: 0;
        height: calc(100% + #{$padding-content} * 2);
        max-width: 60%;
      }
    }
  }

  &.mod-4g-services {
    background-color: #CEA06C;
    z-index: 1;

    .rates-preview__img-wrapper {
      @include for-sm-down {
        height: 20.2rem;
      }
    }

    .rates-preview__img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;

      @include for-sm-down {
        height: 20.2rem;
      }
    }

    .rates-preview__content-subtitle {
      text-transform: none;

      @include for-sm-up {
        text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.54);
      }
    }

    .rates-preview__content-caption {
      @include for-sm-up {
        text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.54);
      }
    }
  }

  &.mod-promo-internet {
    background-color: var(--main-color);

    .rates-preview__content-subtitle {
      text-transform: initial;
      margin-bottom: 2.8rem;
      color: #fff !important;
    }

    .rates-preview__content-caption {
      padding: 1rem 3.2rem;
      background-color: #fff;
      color: var(--main-color) !important;
      font-weight: bold;
      font-size: 4.4rem;
      line-height: 4.4rem;
      display: inline-block;

      &::selection {
        @extend %select-orange-background;
      }
    }

    .rates-preview__btn {
      background-color: #fff;
      color: var(--main-color);
    }

    .rates-preview__img-wrapper {
      @include for-sm-down {
        margin-bottom: 0;
      }
    }

    @include for-md-up {
      .rates-preview__img {
        height: 41.8rem;
      }
    }

    @include for-sm-up {
      .rates-preview__img {
        height: 34rem;
        position: absolute;
        bottom: 0;
        z-index: -1;
      }
    }

    @include for-sm-down {
      .rates-preview__content-wrapper {
        flex-direction: column;
      }

      .rates-preview__img-wrapper {
        margin-top: 2.2rem;
      }

      .rates-preview__img {
        margin-bottom: -$padding-content;
        height: 20rem;
      }
    }

    ::selection {
      @extend %select-white-background;
    }
  }

  &.mod-gpon {
    background-color: #F9FAFB;
    color: var(--main-text-color);
    overflow: hidden;

    .rates-preview__content {
      @include for-sm-up {
        max-width: 46%;
      }
    }

    .rates-preview__img {
      height: 46.8rem;
      position: absolute;
      bottom: 0;
      z-index: -1;

      @include for-lg-down {
        height: 36rem;
      }
    }

    @include for-sm-down {
      .rates-preview__content-wrapper {
        flex-direction: column;
      }

      .rates-preview__img-wrapper {
        margin-bottom: 0;
      }

      .rates-preview__img {
        margin-bottom: -$padding-content;
        height: 26rem;
      }
    }
  }
}

.rates-preview__img-wrapper {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;

  @include for-sm-down {
    width: 100%;
    margin-bottom: 2.6rem;
  }
}

.rates-preview__img {
  height: 27.6rem;
  max-width: 100%;
  object-fit: contain;
}

.rates-preview__content-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;

  @include for-sm-down {
    flex-direction: column-reverse;
    align-items: flex-start;
    width: 100%;
  }
}

.rates-preview__content {
  max-width: 36%;
  width: 100%;

  @include for-sm-down {
    max-width: none;
  }

  &.mod-white-background {
    .rates-preview__content-subtitle {
      color: var(--main-color);
    }

    .rates-preview__content-caption {
      color: var(--grey-text);
    }
  }
}

.rates-preview__content-title {
  font-size: 3.4rem;
  line-height: 4rem;
  margin-bottom: 2rem;

  @include for-sm-down {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

.rates-preview__content-subtitle {
  font-weight: 700;
  font-size: 4.4rem;
  line-height: 5.4rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;

  @include for-sm-down {
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 2rem;
  }
}

.rates-preview__content-caption-wrapper {
  margin-bottom: 5.2rem;

  @include for-sm-down {
    margin-bottom: 2.8rem;
  }
}

.rates-preview__content-caption {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;

  @include for-sm-down {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

.rates-preview__btn {
  padding: 1.4rem 5.8rem;
}

.rates-preview__gpon-title {
  font-size: 4.4rem;
  line-height: 5.8rem;
  margin-bottom: 2rem;

  @include for-sm-down {
    font-size: 3.2rem;
    line-height: 3.8rem;
  }
}

.rates-preview__gpon-subtitle {
  font-size: 2.6rem;
  line-height: 3.4rem;
  letter-spacing: 0.015em;
  margin-bottom: 5.4rem;

  @include for-sm-down {
    font-size: 2.6rem;
    line-height: 2.8rem;
    margin-bottom: 2.4rem;
  }
}

.rates-preview__gpon-advantages-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5.4rem;
  grid-gap: 9rem;

  @include for-lg-down {
    grid-gap: 6rem;
  }

  @include for-bg-down {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  @include for-sm-down {
    margin-bottom: 14rem;
  }
}

.rates-preview__gpon-advantages-item {
  padding-left: 2rem;
  border-left: 1px solid var(--main-grey-color);
}

.rates-preview__gpon-advantages-item-caption {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.015em;
  margin-bottom: .2rem;

  @include for-sm-down {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

.rates-preview__gpon-advantages-item-value {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.015em;

  @include for-sm-down {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.rates-preview__gpon-btn {
  @include for-sm-down {
    margin-bottom: 2.6rem;
  }

  @include for-xs-down {
    width: 100%;
  }
}
