.service-card-with-photo {
  overflow: hidden;

  position: relative;

  padding: 6rem 3rem 3rem 6rem;

  border-radius: 2rem;
  color: white;
  background-color: var(--main-grey-color);

  @include for-hg-down {
    padding: 5rem 3rem 3rem 3rem;
  }
  @include for-sm-down {
    padding: 5rem 2rem 2rem 2rem;
  }

  &.red {
    // Градиенты
    &:nth-child(odd) {
      background: linear-gradient(135deg, #FD6585 0%, #FFD3A5 100%);

      .service-card-with-photo__icon {
        top: -3rem;
        right: -16rem;
      }
    }
    &:nth-child(even) {
      background: linear-gradient(135deg, #FFD3A5 0%, #FD6585 100%);

      .service-card-with-photo__icon {
        top: -46rem;
        right: 1rem;
      }
    }
  }

  &.blue {
    // Градиенты
    &:nth-child(odd) {
      background: linear-gradient(135deg, #ABDCFF 0%, #0396FF 66.15%);

      .service-card-with-photo__icon {
        top: -3rem;
        right: -16rem;
      }
    }
    &:nth-child(even) {
      background: linear-gradient(101.01deg, #0396FF 8.09%, #25A4FF 43.45%, #A8DBFF 87.57%);

      .service-card-with-photo__icon {
        top: -46rem;
        right: 1rem;
      }
    }
  }

  // Градиенты для оверлея изображений. Задаются через json
  .gradient-1 {
    background: linear-gradient(90deg, rgba(234, 84, 85, 0.75) 9%, rgba(254, 182, 146, 0.21) 66%, rgba(254, 182, 146, 0) 100%);
  }
  .gradient-2 {
    background: linear-gradient(123deg, #FFD3A5 18%, #FD6585 100%);
    mix-blend-mode: darken;
    opacity: 0.2;
  }
  .gradient-3 {
    background: linear-gradient(135deg, rgba(0, 130, 222, 0.77) 0%, rgba(39, 149, 227, 0.54) 44.79%, rgba(171, 220, 255, 0.24) 83.85%, rgba(171, 220, 255, 0) 100%);
  }
  .gradient-4 {
    background: linear-gradient(101.01deg, #0396FF 8.09%, #25A4FF 43.45%, #A8DBFF 87.57%);
    mix-blend-mode: darken;
    opacity: 0.2;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    object-fit: cover;
    user-select: none;
  }

  &__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;
  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;

    width: 33.4rem;
    height: 114.8rem;

    user-select: none;

    stroke: white;
  }

  &__content {
    position: relative;
    z-index: 3;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
  }

  &__title {
    margin-bottom: 3.4rem;

    font-size: var(--fs-h2);
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.015em;

    @include for-hg-down {
      margin-bottom: 1.8rem;
    }
  }

  &__subtitle {
    margin-bottom: 8rem;

    font-size: var(--fs-t2);
    line-height: 1.4;
    letter-spacing: 0.02em;

    @include for-hg-down {
      margin-bottom: 4rem;
    }
    @include for-sm-down {
      margin-bottom: 2.8rem;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    @include for-hg-down {
      flex-direction: column;
    }
  }

  &__cost-block {
    display: flex;
    align-items: flex-end;

    margin-right: 2rem;

    @include for-hg-down {
      margin-bottom: 1.2rem;
      margin-right: 0;
    }
  }

  &__cost-label {
    flex-shrink: 0;

    font-size: var(--fs-t1);
    line-height: 1.2;
  }

  &__cost-value {
    flex-shrink: 0;

    margin: 0 0.5rem;

    font-size: 4rem;
    line-height: 1;
  }

  &__btns {
    display: flex;
    align-items: center;

    margin: 0 -1.2rem;

    font-size: var(--fs-t2);

    @include for-hg-down {
      align-self: stretch;
      justify-content: space-between;
    }
  }

  &__btn {
    padding: 1.2rem;
    margin: -1.2rem 0;

    font-size: var(--fs-t2);
    line-height: 1.2;
    letter-spacing: 0.01em;

    &.mod-simple {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__details {
  }

  &__tariffs {
    // На макете на мобилках эта кнопка исчезает
    // Если ее оставить, то не понимаю как красиво адаптировать
    @include for-sm-down {
      display: none;
    }
  }

  &__connect-btn {
    padding: 1.5rem 3rem;

    border: 1px solid #FFFFFF;
    border-radius: 3px;
  }
}
