<section class="tv-online" id="tv-online-host">
  <div class="gl__page-content">
    <h2 class="gl__title">ТВ онлайн</h2>

    <div class="tv-online__list-container">
      <ul class="tv-online__list-wrapper">
        {{#each tv-list }}
          <li class="tv-online__item">
            <a href="{{ this.link }}" class="tv-online__item-link">
              <img src="{{ this.img }}" alt="" class="tv-online__item-image">
              <div class="tv-online__item-caption">{{ this.name }}</div>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="tv-online__broadcast-container">
      <div id="player" class="tv-online__broadcast-iframe">
        <video id="video" src="" class="tv-online__broadcast-video" controls></video>
      </div>

      <div class="tv-online__broadcast-hint-wrapper">
        <img src="img/tv-online-page/logo-5.png" alt="" class="tv-online__broadcast-logo">
        <div class="tv-online__broadcast-mark">Сейчас в эфире</div>
        <div class="tv-online__broadcast-caption">Кичке плейлист</div>
        <div class="tv-online__broadcast-time">17:00-18:00</div>
      </div>
    </div>
  </div>
</section>
