<section class="tv-online" id="tv-online-host">
  <div class="gl__page-content">
    <h2 class="gl__title">ТВ онлайн</h2>

    <div class="tv-online__list-container">
      <ul class="tv-online__list-wrapper">
        {{#each tv-list }}
          <li class="tv-online__item">
            <a href="{{ this.link }}" class="tv-online__item-link">
              <img src="{{ this.img }}" alt="" class="tv-online__item-image">
              <div class="tv-online__item-caption">{{ this.name }}</div>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="tv-online__broadcast-container">
      <div id="player" class="tv-online__broadcast-iframe">
        <video id="video" src="" class="tv-online__broadcast-video" controls></video>
      </div>

      <div class="tv-online__broadcast-hint-wrapper">
        <img src="img/tv-online-page/logo-5.png" alt="" class="tv-online__broadcast-logo">
        <div class="tv-online__broadcast-mark">Сейчас в эфире</div>
        <div class="tv-online__broadcast-caption">Кичке плейлист</div>
        <div class="tv-online__broadcast-time">17:00-18:00</div>
      </div>
    
      <script src="assets/js/hls.min.js"></script>
      <script src="assets/js/swfobjects.js"></script>
      <script>
        const video = document.querySelector("#video");

        var flashVars = {
          src: 'https://hls-iptv.tattelecom.ru/online_tv_Efir/index.m3u8',
          plugin_hls: '/tattelecomNew/swf/flashlsOSMF.swf',
          hls_live_flushurlcache: true,
          autoPlay: true,
          javascriptCallbackFunction: 'jsBridge'
        };

        if (Hls.isSupported()) {
          var hls = new Hls();
          window.hls = hls;
          hls.loadSource('https://hls-iptv.tattelecom.ru/online_tv_Efir/index.m3u8');
          hls.attachMedia(video);
          hls.on(Hls.Events.MANIFEST_PARSED, function () {
            video.play();
          });
        } else {
          swfobject.embedSWF('/tattelecomNew/swf/StrobeMediaPlayback.swf', 'player', 640, 480, '10.1.0', null, flashVars, { allowFullScreen: 'true' }, { name: 'flashPlayer' }, isPlayerEmbedded);
        }
      </script>

    </div>
  </div>
</section>
