.gl-slider {
  position: relative;
}

.gl-slider__container {
  padding: 2rem; margin: -2rem;
}

.gl-slider__wrapper {
  display: flex;
}

.gl-slider__slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  box-shadow: 0 0.266004px 10px rgba(153, 152, 168, 0.2);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.mod-prev {
    left: -6.6rem;
  }

  &.mod-next {
    right: -6.6rem;
  }
}

.gl-slider__slider-btn-icon {
  height: 2.4rem;
}

.gl-slider__pagination-container {
  display: flex;
  justify-content: center;
}

.gl-slider__pagination-wrapper {
  &.swiper-pagination {
    bottom: -5.4rem;
  }

  .swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    background-color: #DBDBDB;
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: var(--main-color);
  }
}

