<section class="b-fractional-slider gl__section" id="b-fractional-slider-host">
  <div class="gl__page-content">
    {{#if sectionTitle }}
      <h2 class="gl__title">
        {{ this.sectionTitle }}
      </h2>
    {{/if}}

    <div class="gl-slider js-swiper" data-swiper-slides-preview="3" data-swiper-gap="20">
      {{> common/controls/b-btns-slider }}
      <div class="gl-slider__b-container gl-slider__container swiper-container js-swiper-container">
        <div class="gl-slider__wrapper swiper-wrapper">
          {{#each slidesList}}
            <div class="b-fractional-slider__slide swiper-slide">
              {{#if isFractionalList }}
                {{#each isFractionalList }}
                  {{>b-main-page/b-fractional-slider/b-fractional-slide }}
                {{/each}}
              {{ else }}
                {{>b-main-page/b-fractional-slider/b-fractional-slide }}
              {{/if}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
