.product-features {
  padding: 3rem  0 6rem;

  @include for-sm-down {
    padding: 1.2rem 0 3rem;
  }
}

.product-features__grid-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 2rem 5rem;

  @include for-bg-down {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem 3rem;
  }

  @include for-sm-down {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.product-features__img-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 5.6rem;
  grid-column: 1;
  grid-row: 1 / 5;

  @include for-sm-down {
    grid-column: auto;
    grid-row: 2;
  }
}

.product-features__img {
  height: 57rem;
  max-width: 100%;
  object-fit: contain;

  @include for-sm-down {
    height: 28rem;
    margin-bottom: 2.8rem;
  }
}

.product-features__title-wrapper {
  grid-column: 2 / 4;
  grid-row: 1;

  @include for-sm-down {
    grid-column: auto;
    grid-row: 1;
  }
}

.product-features__article {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0.02em;
  color: var(--main-grey-color);
  margin-bottom: 1rem;
}

.product-features__price {
  font-weight: 600;
  font-size: 4rem;
  line-height: 5.2rem;
  letter-spacing: 0.015em;
  grid-column: 2;
  grid-row: 2 / 4;

  @include for-sm-down {
    grid-column: auto;
    grid-row: 3;
    margin-bottom: 1.2rem;
  }
}

.product-features-btn-main, .product-features-btn-secondary {
  width: 100%;
  height: min-content;

  @include for-sm-down {
    width: min-content;
  }

  @include for-xs-down {
    width: 100%;
  }
}

.product-features-btn-main {
  grid-column: 3;
  grid-row: 2;
  margin-bottom: 1.4rem;

  @include for-sm-down {
    grid-column: auto;
    grid-row: 5;
    margin-bottom: 5rem;
  }
}

.product-features-btn-secondary {
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  grid-column: 3;
  grid-row: 3;
  display: block;
  margin-bottom: 1rem;

  &:hover {
    text-decoration: underline;
  }

  @include for-sm-down {
    grid-column: auto;
    grid-row: 4;
    color: var(--main-grey-color);
    text-decoration: initial;
    text-align: start;
    margin-bottom: 3.4rem;
  }
}

.product-features__list-wrapper {
  padding-top: 2.6rem;
  border-top: 1px solid var(--border-color);
  grid-column: 2 / 4;
  grid-row: 4;

  @include for-sm-down {
    grid-column: auto;
    grid-row: auto;
    border-top: none
  }
}

.product-features__list-caption {
  font-size: 2.6rem;
  line-height: 3.4rem;
  letter-spacing: 0.015em;
  margin-bottom: 2.4rem;
}

.product-features__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;

  @include for-sm-down {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.2rem 0;
  }
}

.product-features__item-caption {
  font-weight: 300;
  margin-right: 2rem;

  @include for-sm-down {
    color: var(--main-grey-color);
    margin-right: 0;
    margin-bottom: .6rem;
  }
}

.product-features__item-value {
  font-weight: normal;

  @include for-sm-down {
    font-weight: 600;
  }
}
