<section class="b-your-benefit gl__section">
  <div class="gl__page-content">
    <div class="b-your-benefit__content">
      <div>
        <h2 class="gl__title b-your-benefit__red-text">
          Ваша выгода
        </h2>

        <p class="b-your-benefit__text b-your-benefit__red-text">
          При заказе услуги подключение Интернет по радиоканалу мы предоставим вам оборудование в аренду на весь период
          оказания услуги!
        </p>
      </div>

      <img src="img/b-internet-by-radio-page/photo-equipment.jpg" alt="" class="b-your-benefit__img">
    </div>
  </div>
</section>
