<section class="info-drop-menu" id="info-drop-menu-host">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Интернет для офиса
    </h2>

    <div class="b-support-item">
      <div class="b-info__subtitle">
        Подключение
      </div>

      <div class="b-support-item__wrapper">
        <button type="button" class="b-support-item__title gl__drop-menu-btn js-drop-menu-btn">
          <svg width="24" height="24" aria-hidden="true" class="info-drop-menu__title-icon gl__drop-menu-icon">
            <use xlink:href="#arrow-down"></use>
          </svg>
          Как подключить Интернет?
        </button>

        <div class="gl__drop-menu-container js-drop-menu-container">
          <div class="b-support-item__title__content gl__drop-menu js-drop-menu">
            <div class="gl__text">
              <p>Шаг 1. <a href="">Выберите тариф на сайте</a></p>
              <p>Шаг 2. <a href="">Оставьте заявку на подключение</a></p>
              <p>Шаг 3. <a href="">В течние 15 минут с Вами свяжется специалист</a></p>
              <p><a href="">Управление услугами в едином личном кабинете</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="b-support-item__wrapper">
        <button type="button" class="b-support-item__title gl__drop-menu-btn js-drop-menu-btn">
          <svg width="24" height="24" aria-hidden="true" class="info-drop-menu__title-icon gl__drop-menu-icon">
            <use xlink:href="#arrow-down"></use>
          </svg>
          Возможно ли подключение к Интернету Таттелеком ноутбука?
        </button>

        <div class="gl__drop-menu-container js-drop-menu-container">
          <div class="b-support-item__title__content gl__drop-menu js-drop-menu">
            <div class="gl__text">
              <p>......</p>
              <p>......</p>
              <p>......</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="b-support-item">
      <div class="b-info__subtitle">
        Управление тарифом/услугой
      </div>

      <div class="b-support-item__wrapper">
        <button type="button" class="b-support-item__title gl__drop-menu-btn js-drop-menu-btn">
          <svg width="24" height="24" aria-hidden="true" class="info-drop-menu__title-icon gl__drop-menu-icon">
            <use xlink:href="#arrow-down"></use>
          </svg>
          Возможно ли подключение к Интернету Таттелеком ноутбука?
        </button>

        <div class="gl__drop-menu-container js-drop-menu-container">
          <div class="b-support-item__title__content gl__drop-menu js-drop-menu">
            <div class="gl__text">
              <p>......</p>
              <p>......</p>
              <p>......</p>
            </div>
          </div>
        </div>
      </div>
      <div class="b-support-item__wrapper">
        <button type="button" class="b-support-item__title gl__drop-menu-btn js-drop-menu-btn">
          <svg width="24" height="24" aria-hidden="true" class="info-drop-menu__title-icon gl__drop-menu-icon">
            <use xlink:href="#arrow-down"></use>
          </svg>
          Возможно ли подключение к Интернету Таттелеком ноутбука?
        </button>

        <div class="gl__drop-menu-container js-drop-menu-container">
          <div class="b-support-item__title__content gl__drop-menu js-drop-menu">
            <div class="gl__text">
              <p>......</p>
              <p>......</p>
              <p>......</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="b-support-item">
      <div class="b-info__subtitle">
        Диагностика и настройка оборудования/подключения
      </div>

      <div class="b-support-item__wrapper">
        <button type="button" class="b-support-item__title gl__drop-menu-btn js-drop-menu-btn">
          <svg width="24" height="24" aria-hidden="true" class="info-drop-menu__title-icon gl__drop-menu-icon">
            <use xlink:href="#arrow-down"></use>
          </svg>
          Возможно ли подключение к Интернету Таттелеком ноутбука?
        </button>

        <div class="gl__drop-menu-container js-drop-menu-container">
          <div class="b-support-item__title__content gl__drop-menu js-drop-menu">
            <div class="gl__text">
              <p>......</p>
              <p>......</p>
              <p>......</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="b-support-item">
      <div class="b-info__subtitle">
        Оплата услуг
      </div>

      <div class="b-support-item__wrapper">
        <button type="button" class="b-support-item__title gl__drop-menu-btn js-drop-menu-btn">
          <svg width="24" height="24" aria-hidden="true" class="info-drop-menu__title-icon gl__drop-menu-icon">
            <use xlink:href="#arrow-down"></use>
          </svg>
          Возможно ли подключение к Интернету Таттелеком ноутбука?
        </button>

        <div class="gl__drop-menu-container js-drop-menu-container">
          <div class="b-support-item__title__content gl__drop-menu js-drop-menu">
            <div class="gl__text">
              <p>......</p>
              <p>......</p>
              <p>......</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="b-support-item">
      <div class="b-info__subtitle">
        Управление договором /контактными данными
      </div>

      <div class="b-support-item__wrapper">
        <button type="button" class="b-support-item__title gl__drop-menu-btn js-drop-menu-btn">
          <svg width="24" height="24" aria-hidden="true" class="info-drop-menu__title-icon gl__drop-menu-icon">
            <use xlink:href="#arrow-down"></use>
          </svg>
          Возможно ли подключение к Интернету Таттелеком ноутбука?
        </button>

        <div class="gl__drop-menu-container js-drop-menu-container">
          <div class="b-support-item__title__content gl__drop-menu js-drop-menu">
            <div class="gl__text">
              <p>......</p>
              <p>......</p>
              <p>......</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
