<section class="b-fractional-slider" id="b-fractional-slider-host">
  <div class="gl-slider js-swiper-3">
    {{> common/controls/b-btns-slider }}
    <div class="gl__page-content">
      <div class="gl-slider__container swiper-container js-swiper-container-3">
        <div class="gl-slider__wrapper swiper-wrapper">
          {{#each slidesList}}
            <div class="b-fractional-slider__slide swiper-slide">
              {{#if isFractionalList }}
                {{#each isFractionalList }}
                  {{>common/b-fractional-slider/b-fractional-slide }}
                {{/each}}
              {{ else }}
                {{>common/b-fractional-slider/b-fractional-slide }}
              {{/if}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
