.footer {
  padding: 6.2rem 0;
  color: #fff;
  background-color: var(--main-text-color);
  font-weight: 300;

  @include for-sm-down {
    padding: 4.4rem 0;
  }
}

.footer__top-block {
  padding-bottom: 4.4rem;
  border-bottom: 1px solid var(--main-grey-color);

  @include for-xs-down {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.footer__top-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3rem;

  @include for-bg-down {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 4rem;
  }

  @include for-xs-down {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}

.footer__top-grid-item {
  grid-row: 1 / 3;

  @include for-xs-down {
    grid-column: auto !important;
    border-bottom: 1px solid var(--border-color);

    &:first-child {
      .footer__top-grid-item {
        border-top: 1px solid var(--border-color);
      }
    }
  }

  &.mod-first-half-row {
    grid-row: 1 / 2;
  }

  &.mod-second-half-row {
    grid-row: 2 / 3;

    @include for-bg-down {
      grid-column: 2;
      display: flex;
      justify-content: flex-end;
    }

    @include for-xs-down {
      display: block;
      margin-top: 3rem;
    }
  }

  @include for-bg-down {
    grid-row: auto !important;
  }
}

.footer__btn {
  @include for-xs-down {
   width: 100%;
  }
}

.footer__link-title {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.015em;
  margin-bottom: 1.2rem;

  @include for-bg-down {
    font-size: 1.6rem;
    line-height: 2.6rem;
    margin-bottom: 1.2rem;
  }

  @include for-xs-down {
    margin-bottom: 0;
    padding: 2rem 0;
    position: relative;
  }
}

.footer__link-title-icon {
  display: none;
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 2.4rem;
  fill: #fff;

  @include for-xs-down {
    display: block;
  }
}

.footer__links-list {
  margin: -.7rem;

  @include for-xs-up {
    max-height: none !important;
  }

  @include for-xs-down {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.footer__link {
  padding: .7rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  display: inline-block;

  @include for-bg-down {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

.footer__bottom-block {
  display: grid;
  grid-template-columns: repeat(2, auto);
  padding-top: 3.6rem;
  grid-gap: 3.2rem;

  @include for-hg-down {
    grid-template-columns: 1fr;
  }
}

.footer__additional-info-links-list {
  display: flex;
  align-items: center;
  margin: -2rem -3.4rem;

  @include for-hg-down {
    margin: -2rem;
  }

  @include for-sm-down {
    display: block;
    margin: -1rem;
    border-bottom: 1px solid var(--main-grey-color);
    padding-bottom: 2rem;
  }
}

.footer__additional-info-link {
  padding: 2rem 3.4rem;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  transition: color 250ms;
  display: inline-block;

  @include for-hg-down {
    padding: 2rem;
  }

  @include for-sm-down {
    font-size: 1.4rem;
    line-height: 2.2rem;
    padding: 1rem;
  }
}

.footer__bottom-block-agreement-wrapper {
  max-width: 76.2rem;
}

.footer__agreement-text {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--main-grey-color);
  margin-bottom: 3.6rem;
}

.footer__copyright {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.footer__bottom-block-contacts {
  grid-column: 2;
  grid-row: 1 / 3;

  @include for-hg-down {
    grid-column: 1;
    grid-row: 2;
  }
}

.footer__contacts-title {
  text-align: end;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  color: var(--main-grey-color);
  margin-bottom: .6rem;

  @include for-hg-down {
    text-align: start;
  }
}

.footer__contact-phone {
  font-size: 3.8rem;
  line-height: 5rem;
  letter-spacing: 0.015em;
  margin-bottom: 3.2rem;
  white-space: nowrap;
  text-align: end;
}

.footer__contact-social-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: -1.6rem;
  margin-top: 3.6rem;

  @include for-hg-down {
    display: block;
    margin-top: 1rem;
  }

  @include for-sm-down {
    margin: -1.4rem;
    margin-top: 1rem;
  }
}

.footer__contact-social-link {
  padding: 1.6rem;
  display: inline-block;

  @include for-sm-down {
    padding: 1.4rem;
  }
}

.footer__contact-social-icon {
  height: 4rem;
  fill: var(--main-grey-color);
}

.footer__agreement-link {
  color: #fff;

  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}
