.side-bar {
  @extend %modal;
  z-index: var(--z-side-bar);
  display: flex;
  justify-content: flex-end;

  &.mod-show {
    .side-bar__content {
      transform: translateX(0);
    }
  }
}

.side-bar__content {
  height: 100vh;
  width: 40rem;
  max-width: 100vw;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 0.266004px 20px rgba(153, 152, 168, 0.17);
  @extend %scroll;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  transition: transform 300ms;
}

.side-bar__header {
  display: flex;
  justify-content: flex-end;
}

.side-bar__close-btn {
  height: 4rem;
  width: 4rem;
  margin: -.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-bar__close-btn-icon {
  height: 3rem;
  fill: var(--main-text-color)
}

.side-bar__input-search-wrapper {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--main-grey-color);
  margin-bottom: 1.6rem;
}

.side-bar__input-search {
  height: 100%;
  width: 100%;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.8rem;

  &::placeholder {
    color: var(--grey-text);
  }
}

.side-bar__input-search-icon {
  height: 2.4rem;
  width: 2.4rem;
  margin-right: .6rem;
  fill: var(--main-text-color);
}

.side-bar__btn {
  width: 100%;
}

.side-bar__drops-list {
  margin-top: 1.6rem;
}

.side-bar__drop-btn {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: start;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  justify-content: space-between;
  min-height: 4rem;
  padding: 1rem 0;
  color: var(--main-text-color);
}

.side-bar__drop-btn-icon {
  height: 2.4rem;
  fill: var(--main-text-color);
  margin-left: .4rem;
}

.side-bar__drop-content {
  padding: 1rem 0;
}

.side-bar__drop-content-item {
  & + & {
    margin-top: 2.4rem;
  }
}

.side-bar__drop-caption {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  margin-bottom: .8rem;
}

.side-bar__drop-links-list {
  margin: -.6rem;
}

.side-bar__drop-link {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.2rem;
  letter-spacing: 0.02em;
  padding: .6rem;
  display: block;
}

.side-bar__bottom {
  margin: -.6rem;
  margin-top: 2rem;
}

.side-bar__bottom-link {
  display: block;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: var(--grey-text);
  padding: .6rem;
}
