<section class="conditions" id="conditions-host">
  <div class="gl__page-content">
    <button type="button" class="conditions__title gl__drop-menu-btn js-drop-menu-btn">
      Подробные условия участия в программе "Вместе выгодно"
      <svg width="32" height="32" aria-hidden="true" class="conditions__title-icon gl__drop-menu-icon">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </button>

    <p class="conditions__text gl__drop-menu">
      Подробные условия участия в программе "Вместе выгодно"
      Подробные условия участия в программе "Вместе выгодно"
      Подробные условия участия в программе "Вместе выгодно"
      Подробные условия участия в программе "Вместе выгодно"
      Подробные условия участия в программе "Вместе выгодно"
      Подробные условия участия в программе "Вместе выгодно"
      Подробные условия участия в программе "Вместе выгодно"
      Подробные условия участия в программе "Вместе выгодно"
      Подробные условия участия в программе "Вместе выгодно"
      Подробные условия участия в программе "Вместе выгодно"
      Подробные условия участия в программе "Вместе выгодно"
    </p>
  </div>
</section>
