.b-internet-wi-fi-opportunities {
  padding: 5rem 0;

  @include for-lg-down {
    padding: 3rem 0;
  }

  @include for-sm-down {
    padding: 2.6rem 0;
  }
}

.b-internet-wi-fi-opportunities__slide {
  padding: 2rem;
  min-height: 36.2rem;
}
