<section class="b-sip-telephony-rates gl__section">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Тарифы
    </h2>

    <div class="b-sip-telephony-rates__select-wrapper">
      {{> common/controls/select selects=cities-select }}
    </div>
  </div>
</section>
