<section class="bread-crumbs__container" id="bread-crumbs-host">
  <div class="gl__page-content">
    <ul class="bread-crumbs__list">
      {{#if item1 }}
        <li class="bread-crumbs__item"><a href="" class="bread-crumbs__link">
          {{ item1 }}
          <svg width="16" height="16" aria-hidden="true" class="bread-crumbs__link-icon">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </a></li>
      {{/if}}

      {{#if item2 }}
        <li class="bread-crumbs__item"><a href="" class="bread-crumbs__link">
          {{ item2 }}
          <svg width="16" height="16" aria-hidden="true" class="bread-crumbs__link-icon">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </a></li>
      {{/if}}

      {{#if item3 }}
        <li class="bread-crumbs__item"><a href="" class="bread-crumbs__link">
          {{ item3 }}
          <svg width="16" height="16" aria-hidden="true" class="bread-crumbs__link-icon">
            <use xlink:href="#arrow-right"></use>
          </svg>
        </a></li>
      {{/if}}
    </ul>
  </div>
</section>
