<header class="header gl__page-content" id="header-host">
  <div class="header__logo-wrapper">
    <img src="img/header/logo-tat.svg" alt="" class="header__logo mod-tat">
    <img src="img/header/logo-fly.svg" alt="" class="header__logo mod-fly">
  </div>

  <div class="header__content">
    <div class="header__top-block">
      <div class="header__whom-wrapper">
        <a href="" class="header__whom-item">Частным клиентам</a>
        <a href="" class="header__whom-item">Бизнесу</a>
        <a href="" class="header__whom-item">Еще</a>
      </div>

      <div class="header__connection-wrapper">
        <a href="" class="header__connection-item">Поддержка</a>
        <a href="" class="header__connection-item">Офисы продаж</a>
        <a href="" class="header__connection-item">Оплата</a>
        <a href="" class="header__connection-item mod-with-icon">
          <svg width="16" height="16" aria-hidden="true" class="header__connection-item-icon">
            <use xlink:href="#geolocation"></use>
          </svg>
          <span class="header__connection-item-text">Казань</span>
        </a>
        <a href="" class="header__connection-item mod-with-icon">
          <svg width="16" height="16" aria-hidden="true" class="header__connection-item-icon">
            <use xlink:href="#lk"></use>
          </svg>
          <span class="header__connection-item-text">Личный кабинет</span>
        </a>
      </div>
    </div>

    <div class="header__bottom-block">
      <div class="header__navigation-wrapper">
        <a href="" class="header__navigation-item">Мобильная связь</a>
        <a href="" class="header__navigation-item">Интернет</a>
        <a href="" class="header__navigation-item">Телевидение</a>
        <a href="" class="header__navigation-item">Домофон</a>
        <a href="" class="header__navigation-item">Каталог устройств</a>
      </div>

      <div class="header__btns-container">
        <button type="button" class="gl__main-btn header__btn">
          Стать абонентом
        </button>
        <button type="button" class="header__btn header__btn-search">
          <svg width="24" height="24" aria-hidden="true" class="header__btn-search-icon">
            <use xlink:href="#search"></use>
          </svg>
          <span class="header__btn-search-text">
            Поиск
          </span>
        </button>
      </div>
    </div>
  </div>
</header>
