<div class="header__popup-container">
  <div class="header__popup-wrapper">
    <div class="gl__page-content">
      <div class="header__popup-content mod-mobile">
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Тарифы</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Безлимитный интернет</a></li>
            <li><a href="" class="header__popup-item-link">Много звонков</a></li>
            <li><a href="" class="header__popup-item-link">Все и сразу</a></li>
            <li><a href="" class="header__popup-item-link">Детский</a></li>
            <li><a href="" class="header__popup-item-link">Для модемов</a></li>
            <li><a href="" class="header__popup-item-link">Для умных устройств</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Стать абонентом Летай</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Выбрать красивый номер</a></li>
            <li><a href="" class="header__popup-item-link">Перейти со своим номером</a></li>
            <li><a href="" class="header__popup-item-link">Заказать доставку сим-карты</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Акции</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Вместе выгодно 2.0</a></li>
            <li><a href="" class="header__popup-item-link">Вместе выгодно</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Роуминг</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">В поездках по России</a></li>
            <li><a href="" class="header__popup-item-link">В поездках за границей</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Оплата услуг</div>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Полезные команды</div>
        </div>
      </div>

      <div class="header__popup-content mod-internet">
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Тарифы</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Домашний интернет + ТВ + мобильная связь</a></li>
            <li><a href="" class="header__popup-item-link">Домашний интернет</a></li>
            <li><a href="" class="header__popup-item-link">Домашний интернет + ТВ</a></li>
            <li><a href="" class="header__popup-item-link">Интернет + ТВ для частного дома</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Акции</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Вместе выгодно 2.0</a></li>
            <li><a href="" class="header__popup-item-link">Вместе выгодно</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Дополнительные услуги</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Антивирус</a></li>
            <li><a href="" class="header__popup-item-link">Статичный IP</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Оплата услуг</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">???</a></li>
          </ul>
        </div>
      </div>

      <div class="header__popup-content mod-tv">
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Тарифы</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Базовый пакет каналов</a></li>
            <li><a href="" class="header__popup-item-link">Дополнительные пакеты каналов</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Акции</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Вместе выгодно 2.0</a></li>
            <li><a href="" class="header__popup-item-link">Вместе выгодно</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Онлайн ТВ</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">???</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Оплата услуг</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">???</a></li>
          </ul>
        </div>
      </div>

      <div class="header__popup-content mod-doorphone">
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Тарифы</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">???</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Акции</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">???</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Онлайн ТВ</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">???</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Оплата услуг</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">???</a></li>
          </ul>
        </div>
      </div>

      <div class="header__popup-content mod-catalog">
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Смартфоны</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Смартфоны Honor</a></li>
            <li><a href="" class="header__popup-item-link">Смартфоны Samsung</a></li>
            <li><a href="" class="header__popup-item-link">Смартфоны Oppo</a></li>
            <li><a href="" class="header__popup-item-link">Смартфоны Realme</a></li>
            <li><a href="" class="header__popup-item-link">Смартфон Xiaomi</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Смарт-часы и Фитнес-браслеты</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">???</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Наушники и колонки</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">???</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <div class="header__popup-item-caption">Аксессуары</div>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">???</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
