<div class="side-bar gl__bg-show" id="side-bar-host">
  <div class="side-bar__content" id="side-bar-content">
    <div class="side-bar__top">
      <div class="side-bar__header">
        <button type="button" class="side-bar__close-btn js-close-side-bar">
          <svg width="30" height="30" aria-hidden="true" class="side-bar__close-btn-icon">
            <use xlink:href="#close"></use>
          </svg>
        </button>
      </div>
      {{#if isTattelekom }}
      {{ else }}
      <form class="side-bar__search-form {{#if isBusiness }}mod-business{{/if}}">
        <label class="side-bar__input-search-wrapper">
          <svg width="24" height="24" aria-hidden="true" class="side-bar__input-search-icon">
            <use xlink:href="#search"></use>
          </svg>
          <input type="text" class="side-bar__input-search" placeholder="Поиск">
        </label>
      </form>
      {{/if}}

      {{#if isPrivateClients }}
      <button type="button" class="side-bar__btn gl__main-btn js-open-callback-modal">
        Стать абонентом
      </button>

      <ul class="side-bar__drops-list">
        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Мобильная связь
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Тарифы</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Безлимитный интернет</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Много звонков</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Все и сразу</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Детский</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Для модемов</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Для умных устройств</a>
                  </li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Стать абонентом Летай</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Выбрать красивый
                      номер</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Перейти со своим
                      номером</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Заказать доставку
                      сим-карты</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Акции</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно 2.0</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Роуминг</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">В поездках по России</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">В поездках за
                      границей</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Оплата услуг</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Полезные команды</a></div>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Интернет
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Тарифы</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Домашний интернет + ТВ +
                      мобильная связь</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Домашний интернет</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Домашний интернет +
                      ТВ</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Интернет + ТВ для
                      частного дома</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Акции</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно 2.0</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Дополнительные услуги</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Антивирус</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Статичный IP</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Оплата услуг</a></div>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Телевидение
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Тарифы</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Базовый пакет каналов</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Дополнительные пакеты
                      каналов</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Акции</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно 2.0</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Онлайн ТВ</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Оплата услуг</a></div>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Домофон
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Тарифы</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Акции</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Онлайн ТВ</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Оплата услуг</a></div>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Каталог устройств
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Смартфоны</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфоны Honor</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфоны Samsung</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфоны Oppo</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфоны Realme</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфон Xiaomi</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Смарт-часы и Фитнес-браслеты</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Наушники и колонки</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Аксессуары</a></div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      {{/if}}

      {{#if isBusiness }}
      <ul class="side-bar__drops-list">
        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Комплексные решения для бизнеса
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Комплекс услуг связи (Единый бизнес)</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Виртуальная АТС</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Таттелеком Коннект (ЭДокс)</a></div>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Связь
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Мобильная связь</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Тарифы Мобильной
                      связи</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Тарифы Мобильного
                      интернета</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Роуминг</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">«Красивый» номер</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Интернет</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Интернет для офиса</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Интернет Wi-Fi</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Интернет по
                      Радиоканалу</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Виртуальные сети IP
                      VPN</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Телефония</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Междугородная и
                      международная связь</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Виртуальная АТС</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Цифровая Телефония</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Сервисы и услуги</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Цифровые сервисы
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Интернет вещей</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">LoRaWAN</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">М2М решения для
                      бизнеса</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Обработка и хранение данных</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Colocation</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Виртуальный сервер</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Web–хостинг</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Регистрация доменов </a>
                  </li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Контроль и видеонаблюдение</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Облачное
                      видеонаблюдение</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">М2М Контроль</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Видеоаналитика</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Домофония</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Безопасность</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">DDoS защита</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Решения для бизнеса</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Видеоконференцсвязь</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Услуги Ак Барс Банк</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Продвижение
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">SMS рассылка</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Услуги Call–центра</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">SMART Wi-Fi</a></div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      {{/if}}


      {{#if isTattelekom }}
      <ul class="side-bar__drops-list">
        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Мобильная связь
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Тарифы</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Безлимитный интернет</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Много звонков</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Все и сразу</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Детский</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Для модемов</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Для умных устройств</a>
                  </li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Стать абонентом Летай</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Выбрать красивый
                      номер</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Перейти со своим
                      номером</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Заказать доставку
                      сим-карты</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Акции</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно 2.0</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Роуминг</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">В поездках по России</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">В поездках за
                      границей</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Оплата услуг</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Полезные команды</a></div>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Интернет
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Тарифы</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Домашний интернет + ТВ +
                      мобильная связь</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Домашний интернет</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Домашний интернет +
                      ТВ</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Интернет + ТВ для
                      частного дома</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Акции</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно 2.0</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Дополнительные услуги</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Антивирус</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Статичный IP</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Оплата услуг</a></div>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Телевидение
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Тарифы</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Базовый пакет каналов</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Дополнительные пакеты
                      каналов</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Акции</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно 2.0</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Онлайн ТВ</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Оплата услуг</a></div>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Домофон
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Тарифы</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Акции</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Онлайн ТВ</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Оплата услуг</a></div>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Каталог устройств
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Смартфоны</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфоны Honor</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфоны Samsung</a>
                  </li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфоны Oppo</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфоны Realme</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфон Xiaomi</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Смарт-часы и Фитнес-браслеты</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Наушники и колонки</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Аксессуары</a></div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      {{/if}}
    </div>

    <div class="side-bar__bottom">
      <a href="" class="side-bar__bottom-link">Офисы продаж</a>
    </div>
  </div>
</div>