<div class="side-bar gl__bg-show" id="side-bar-host">
  <div class="side-bar__content" id="side-bar-content">
    <div class="side-bar__top">
      <div class="side-bar__header">
        <button type="button" class="side-bar__close-btn js-close-side-bar">
          <svg width="30" height="30" aria-hidden="true" class="side-bar__close-btn-icon">
            <use xlink:href="#close"></use>
          </svg>
        </button>
      </div>

      <form class="side-bar__search-form {{#if isBusiness }}mod-business{{/if}}">
        <label class="side-bar__input-search-wrapper">
          <svg width="24" height="24" aria-hidden="true" class="side-bar__input-search-icon">
            <use xlink:href="#search"></use>
          </svg>
          <input type="text" class="side-bar__input-search" placeholder="Поиск">
        </label>
      </form>

      <button type="button" class="side-bar__btn gl__main-btn js-open-callback-modal">
        Стать абонентом
      </button>

      <ul class="side-bar__drops-list">
        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Мобильная связь
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Тарифы</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Безлимитный интернет</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Много звонков</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Все и сразу</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Детский</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Для модемов</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Для умных устройств</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Стать абонентом Летай</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Выбрать красивый номер</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Перейти со своим номером</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Заказать доставку сим-карты</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Акции</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно 2.0</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Роуминг</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">В поездках по России</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">В поездках за границей</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Оплата услуг</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Полезные команды</a></div>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Интернет
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Тарифы</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Домашний интернет + ТВ + мобильная связь</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Домашний интернет</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Домашний интернет + ТВ</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Интернет + ТВ для частного дома</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Акции</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно 2.0</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Дополнительные услуги</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Антивирус</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Статичный IP</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Оплата услуг</a></div>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Телевидение
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Тарифы</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Базовый пакет каналов</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Дополнительные пакеты каналов</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Акции</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно 2.0</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Вместе выгодно</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Онлайн ТВ</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Оплата услуг</a></div>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Домофон
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Тарифы</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Акции</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Онлайн ТВ</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Оплата услуг</a></div>
              </li>
            </ul>
          </div>
        </li>

        <li class="side-bar__drop-item">
          <button class="side-bar__drop-btn gl__drop-menu-btn js-drop-menu-btn">
            Каталог устройств
            <svg width="24" height="24" aria-hidden="true" class="side-bar__drop-btn-icon gl__drop-menu-icon">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>

          <div class="gl__drop-menu-container js-drop-menu-container">
            <ul class="side-bar__drop-content gl__drop-menu js-drop-menu">
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption">Смартфоны</div>
                <ul class="side-bar__drop-links-list">
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфоны Honor</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфоны Samsung</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфоны Oppo</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфоны Realme</a></li>
                  <li class="side-bar__drop-links-item"><a href="" class="side-bar__drop-link">Смартфон Xiaomi</a></li>
                </ul>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Смарт-часы и Фитнес-браслеты</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Наушники и колонки</a></div>
              </li>
              <li class="side-bar__drop-content-item">
                <div class="side-bar__drop-caption"><a href="">Аксессуары</a></div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <div class="side-bar__bottom">
      <a href="" class="side-bar__bottom-link">Поддержка</a>
      <a href="" class="side-bar__bottom-link">Офисы продаж</a>
      <a href="" class="side-bar__bottom-link">Оплата</a>
    </div>
  </div>
</div>
