<section class="b-tariffs-list gl__section">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Тарифы
    </h2>

    <div class="b-tariffs-list__block-list">
      <h3 class="b-tariffs-list__subtitle">
        Подключение
      </h3>

      {{> common/b-tariffs-list/content-simple }}
    </div>

    <div class="b-tariffs-list__block-list">
      <h3 class="b-tariffs-list__subtitle">
        Абонентская плата
      </h3>

      {{> common/b-tariffs-list/content }}
    </div>
  </div>
</section>
