<section class="b-ip-telephony-list">
  <div class="gl__page-content">
    <h2 class="b-ip-telephony-list__title">
      При помощи IP-телефонии «Таттелеком» вы сможете:
    </h2>

    <ol class="b-ip-telephony-list__list">
      {{#each b-ip-telephony-list }}
        <li class="b-ip-telephony-list__item">
          {{ this }}
        </li>
      {{/each}}
    </ol>
  </div>
</section>
