<section class="order-call mod-giv-month-section" id="order-call-host">
  <div class="gl__page-content">
    <div class="order-call__content">
      <div class="order-call__content-wrapper">
        <div>
          <h2 class="gl__title mod-white">Дарим месяц без абонентской платы</h2>
          <p class="order-call__text nod-give-month">
            Стоимость перехода – <span class="gl__nowrap">0 рублей</span>.
          </p>
        </div>
        <button type="button" class="gl__main-btn mod-white js-open-callback-modal">Перейти</button>
      </div>

      <img src="img/fly-old-number-page/smiling-people.png" alt="" class="order-call__img">
    </div>
  </div>
</section>
