<section class="how-receive" id="transition-host">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Переход в Летай от другого оператора с сохранением номера
    </h2>

    <ul class="how-receive__steps-wrapper">
      <li class="how-receive__step-item mod-flex">
        <div class="how-receive__step-item-num">1</div>
        <div>
          <div class="how-receive__step-item-caption">
            Заявка
          </div>
          <div class="how-receive__step-item-value">
            Оставьте заявку на сайте, и мы поможем вам подобрать тариф. Скоро позвоним!
          </div>
        </div>
      </li>
      <li class="how-receive__step-item mod-flex">
        <div class="how-receive__step-item-num">2</div>
        <div>
          <div class="how-receive__step-item-caption">
            Доставка
          </div>
          <div class="how-receive__step-item-value">
            Доставим SIM-карту с временным номером бесплатно в удобное для вас время
          </div>
        </div>
      </li>
      <li class="how-receive__step-item mod-flex">
        <div class="how-receive__step-item-num">3</div>
        <div>
          <div class="how-receive__step-item-caption">
            Готово
          </div>
          <div class="how-receive__step-item-value">
            Через 8 дней бесплатно переключим ваш текущий номер на SIM-карту
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
