<div class="modal" id="b-roaming-modal">
    <div class="modal__container mod-small js-modal-container">
        <div class="modal__content js-modal-content">
            <div class="modal__head">
                <div class="modal__title modal__roaming-title">
                    «Весь Мир»
                </div>
                <button type="button" class="modal__btn-close js-close-b-roaming-modal">
                    <svg width="32" height="32" aria-hidden="true" class="modal__close-icon">
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
            </div>
            <div class="modal__roaming-text">
                <p>
                    Услуга «Весь Мир» подключается бесплатно. Подходит для случаев, когда роуминг должен быть включен
                    всегда. Услуга дает существенную скидку на звонки и интернет по сравнению с базовыми тарифами.
                </p>
                <p>
                    Абонентская плата всего 10 рублей в месяц.
                    <br>
                    - Подключение по USSD-запросу: *111*328#
                    <br>
                    - Отключение по USSD-запросу: *111*329#
                </p>
                <p>
                    При подключении услуги абонент должен находиться в активном состоянии, должна быть подключена базовая
                    услуга «Международного роуминга».
                </p>
            </div>
        </div>
    </div>
</div>