<div class="modal" id="b-modal-thanks">
    <div class="modal-thanks__container modal__container mod-small mod-b-modal-thanks" id="b-modal-thanks-container">
        <div class="modal__content">
            <div class="modal-thanks__head">
                <button class="modal__btn-close mod-modal-thanks" id="b-close-thanks-modal">
                    <svg width="32" height="32" aria-hidden="true" class="modal__close-icon mod-white">
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
            </div>

            <div class="modal-thanks__title">
                Спасибо за заявку, мы свяжемся с вами в ближайшее время!
            </div>

            <div class="modal-thanks__social-list">
                <p class="modal-thanks__social-text">
                    Мы в социальных сетях:
                </p>
                <ul class="b-socials">
                    <li class="b-socials__item">
                        <a class="b-socials__link" title="Написать в VK" href="test.php" target="_blank">
                            <svg width="60" height="60" aria-hidden="true" class="b-socials__link-icon">
                                <use xlink:href="#b-VK"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="b-socials__item">
                        <a class="b-socials__link" title="Написать в VK" href="#" target="_blank">
                            <svg width="60" height="60" aria-hidden="true" class="b-socials__link-icon">
                                <use xlink:href="#b-Instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="b-socials__item">
                        <a class="b-socials__link" title="Написать в VK" href="#" target="_blank">
                            <svg width="60" height="60" aria-hidden="true" class="b-socials__link-icon">
                                <use xlink:href="#b-wt"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="b-socials__item">
                        <a class="b-socials__link" title="Написать в VK" href="#" target="_blank">
                            <svg width="60" height="60" aria-hidden="true" class="b-socials__link-icon">
                                <use xlink:href="#b-tg"></use>
                            </svg>
                        </a>
                    </li>
                    {{!-- <li class="b-socials__item">
                        <a class="b-socials__link" title="Написать в VK" href="#">
                            <svg width="60" height="60" aria-hidden="true" class="b-socials__link-icon">
                                <use xlink:href="#b-Facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="b-socials__item">
                        <a class="b-socials__link" title="Написать в VK" href="#">
                            <svg width="60" height="60" aria-hidden="true" class="b-socials__link-icon">
                                <use xlink:href="#b-OK"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="b-socials__item">
                        <a class="b-socials__link" title="Написать в VK" href="#">
                            <svg width="60" height="60" aria-hidden="true" class="b-socials__link-icon">
                                <use xlink:href="#b-Youtube"></use>
                            </svg>
                        </a>
                    </li> --}}
                </ul>
            </div>
        </div>
    </div>
</div>