<div class="modal" id="modal-installments-host">
  <div class="modal__container mod-middle js-modal-container">
    <div class="modal__content js-modal-content">
      <div class="modal__head">
        <div class="modal__title">
          Доступно только абонентам «Летай»
        </div>
        <button type="button" class="modal__btn-close js-close-installments-modal">
          <svg width="32" height="32" aria-hidden="true" class="modal__close-icon">
            <use xlink:href="#close"></use>
          </svg>
        </button>
      </div>

      <div class="modal-installments__content">
        <p class="modal-installments__content-text">Первоначальный взнос - 2 459 руб.</p>
        <p class="modal-installments__content-text">Ежемесячный платеж - 2 012 руб.</p>
        <p class="modal-installments__content-text">Срок рассрочки - 11 мес.</p>
        <p class="modal-installments__content-text">Общая сумма рассрочки - 24 591 руб.</p>
      </div>
    </div>
  </div>
</div>
