<div class="modal" id="modal-thanks">
  <div class="modal-thanks__container modal__container mod-small" id="modal-thanks-container">
    <img src="img/modals/background.svg" alt="" class="modal-thanks__background">

    <div class="modal-thanks__head">
      <button type="button" class="modal__btn-close mod-modal-thanks" id="close-thanks-modal">
        <svg width="32" height="32" aria-hidden="true" class="modal__close-icon mod-white">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>

    <div class="modal-thanks__title">
      Спасибо!
    </div>

    <div class="modal-thanks__image-wrapper">
      <img src="img/modals/thanks.svg" alt="" class="modal-thanks__image">
    </div>

    <p class="modal-thanks__text">
      Ваша заявка принята в обработку. Мы свяжемся с вами в ближайшее время.
    </p>
  </div>
</div>
