// Слайдер
.b-promotions {
  overflow: hidden;

  margin-bottom: 10rem;

  @include for-lg-down {
    margin-bottom: 6rem;
  }
  @include for-sm-down {
    margin-bottom: 4rem;
  }

  &__content {
  }
}

// Слайд
.b-promotion {
  padding: 4.8rem 2.8rem 10rem;

  background: linear-gradient(135deg, #3C8CE7 0%, #00EAFF 100%);
  border-radius: 2rem;
  color: white;

  @include for-sm-down {
    padding: 2.8rem 2rem 6rem;
  }

  &__title {
    margin-bottom: 5.2rem;

    font-size: var(--fs-h2);
    line-height: 1.3;
    letter-spacing: 0.015em;
    font-weight: 400;

    @include for-sm-down {
      margin-bottom: 2rem;
    }
  }

  &__description {
    font-size: var(--fs-h3);
    line-height: 1.6;
    letter-spacing: 0.015em;
  }
}
