<section class="rates-preview mod-gpon" id="rates-preview-host">

  <div class="gl__page-content rates-preview__content-wrapper">
    <div class="rates-preview__content mod-white-background">
      <div class="rates-preview__gpon-title">
        GPON
      </div>

      <div class="rates-preview__gpon-subtitle">
        Интернет и ТВ лучше, чем в твоем городе
      </div>

      <ul class="rates-preview__gpon-advantages-list">
        <li class="rates-preview__gpon-advantages-item">
          <div class="rates-preview__gpon-advantages-item-caption">сверхскоростной интернет</div>
          <div class="rates-preview__gpon-advantages-item-value">до 500 Мбит/с</div>
        </li>
        <li class="rates-preview__gpon-advantages-item">
          <div class="rates-preview__gpon-advantages-item-caption">цифровое телевидение</div>
          <div class="rates-preview__gpon-advantages-item-value">более 160 каналов</div>
        </li>
      </ul>

      <button type="button" class="rates-preview__gpon-btn gl__main-btn rates-preview__btn js-open-send-request-modal"
              data-tariff-name="Подключить GPON">
        Подключить
      </button>
    </div>

    <div class="rates-preview__img-wrapper">
      <img src="img/promo-gpon-page/rates-preview.jpg" alt="" class="rates-preview__img">
    </div>
  </div>
</section>
