<section class="gpon-description" id="gpon-description-host">
  <div class="gl__page-content">
    <div class="gpon-description__content">
      <div class="gpon-description__caption">
        Мы понимаем, насколько важно для вас наличие быстрого интернета
        как в городской квартире, так и в загородном доме.
      </div>

      <div class="gpon-description__reminder-wrapper">
        <div class="gpon-description__reminder-caption">
          Современная технология GPON в вашем доме
        </div>

        <ul class="gpon-description__reminder-list">
          <li class="gpon-description__reminder-item">
            <img src="img/promo-gpon-page/square-wifi.png" alt="" class="gpon-description__reminder-item-image">
            <div class="gpon-description__reminder-item-text">
              Скорость до 1 Гбит/с, возможно увеличение до 10 Гбит/с
            </div>
          </li>
          <li class="gpon-description__reminder-item">
            <img src="img/promo-gpon-page/square-tv.png" alt="" class="gpon-description__reminder-item-image">
            <div class="gpon-description__reminder-item-text">
              Без приставки более 160 каналов
            </div>
          </li>
          <li class="gpon-description__reminder-item">
            <img src="img/promo-gpon-page/square-phone.png" alt="" class="gpon-description__reminder-item-image">
            <div class="gpon-description__reminder-item-text">
              25% от Мобильной связи возвращается
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
