<section class="gpon-map" id="gpon-map-host">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Охватываем оптоволоконными сетями по технологии GPON
      многие поселки нашей республики
    </h2>

    <div class="gpon-map__map js-map"
         data-center="[55.8, 49.39]"
         data-mark-coords='
         [[55.88, 49.36, "Инеш"],
         [55.75, 49.65, "Пестрецы"],
         [55.71, 49.35, "Куюки"],
         [55.82, 49.94, "Пановка"]]
'
    >
    </div>
  </div>
</section>
