<section class="gpon-map" id="gpon-map-host">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Охватываем оптоволоконными сетями по технологии GPON
      многие поселки нашей республики
    </h2>

    <div class="gpon-map__map">
      (карта)
    </div>
  </div>
</section>
