<section class="b-page-banner b-m2m-business-control">
  <div class="gl__page-content">
    <h2 class="gl__title">{{title}}</h2>

    <div class="b-page-banner__content">
      <div class="b-page-banner__background"></div>
      <img src="img/b-m2m-business-control-page/banner.png" alt="" class="b-page-banner__right-image">

      <div class="b-page-banner__left-content">
        <h3 class="b-page-banner__m2m-title">
          Тариф «М2М Бизнес Контроль 2.0»
        </h3>

        <div class="b-page-banner__m2m-subtitle">
          М2М Бизнес Контроль – это тарифный план для передачи данных между устройствами посредством мобильной связи.
        </div>

        <div class="b-page-banner__m2m-price-container">
          <div class="b-page-banner__m2m-price-caption">
            Абонентская плата:
          </div>

          <div class="b-page-banner__cost-bottom">
            <span class="b-page-banner__cost">100</span>
            <span class="b-page-banner__cost-label mod-small">₽/мес.</span>
          </div>

          <div class="b-page-banner__m2m-btn-container">
            <button class="b-page-banner__m2m-btn gl__main-btn mod-business-grey-transparent">
              Условия тарифного плана
            </button>

            <button class="b-page-banner__m2m-btn gl__main-btn mod-business">
              Подключить
            </button>
          </div>
        </div>
      </div>

<!--      <div class="b-page-banner__text">-->
<!--        <div>-->
<!--          <h3 class="b-page-banner__title white">-->
<!--            <span class="b-page-banner__accent-title">Оффер</span>-->
<!--          </h3>-->
<!--        </div>-->
<!--        <div class="b-page-banner__btns-container">-->
<!--          <button type="button" class="b-page-banner__btn gl__main-btn mod-b-transparent-white-business">-->
<!--            Подключиться-->
<!--          </button>-->
<!--          <a href="" download="" class="b-page-banner__btn gl__main-btn mod-b-transparent-white-business">-->
<!--            Скачать презентацию-->
<!--          </a>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</section>
