<section class="b-discounts gl__section">
  <div class="gl__page-content">
    <div class="b-discounts__content">
      <h2 class="b-discounts__title">
        Скидки
      </h2>

      <p class="b-info__text">
        На каждую видеокамеру наблюдения возможно подключить разные типы услуг видеоаналитики без ограничения количества
        типов. Предоставляются скидки 10%, 20% или 30% на абон.плату в зависимости от количества подключенных детекторов
        на 1 камеру:
      </p>

      <ul class="b-discounts__list">
        <li class="b-discounts__item">
          <div class="b-discounts__item-caption">10%</div>
          <div class="b-discounts__item-value">от 2 до 3х типов</div>
        </li>
        <li class="b-discounts__item">
          <div class="b-discounts__item-caption">20%</div>
          <div class="b-discounts__item-value">от 4х до 6ти типов</div>
        </li>
        <li class="b-discounts__item">
          <div class="b-discounts__item-caption">30%</div>
          <div class="b-discounts__item-value">более 7 типов</div>
        </li>
      </ul>

      <p class="b-info__text">
        Например, при подключении детекторов саботажа, движения, шума на 1 камеру, абон. плата составит 2268 руб./мес.
        (т.е. 840*3 со скидкой 10%).
      </p>
    </div>
  </div>
</section>
