<section class="b-info">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Как услуга поможет бизнесу
    </h2>

    <ul class="b-info__list-width-line-mark">
      <li class="b-info__item-line-mark">
        Предотвращение несанкционированное проникновение транспортных средств на территорию: поиск автомобиля,
        совершившего правонарушение на одной или нескольких камерах; просмотр всех автомобилей, заезжавших на
        территорию; проверка факта въезда/выезда с территории конкретного автомобиля (детектор распознавания номеров,
        тариф «Видеоаналитика – Номера»)
      </li>
      <li class="b-info__item-line-mark">
        Оперативно отреагировать на возникновение дыма или огня и остановить распространение пожара (детекторы
        дыма/огня, тарифы «Видеоаналитика – Дым»/«Видеоаналитика – Огонь»)
      </li>
      <li class="b-info__item-line-mark">
        Получение информации о неработоспособности системы видеонаблюдения с возможностью оперативно ее восстанавливать
        и непрерывно обеспечивать безопасность сотрудников/посетителей, а также имущества, инфраструктуры (детектор
        саботажа, тариф «Видеоаналитика – Саботаж»)
      </li>
      <li class="b-info__item-line-mark">
        Быстро привлекать дополнительный персонал и ликвидировать очереди в магазине/банке/др. учреждении (детектор
        очереди, тариф «Видеоаналитика – Очередь»
      </li>
      <li class="b-info__item-line-mark">
        Предотвращение форс-мажорных ситуаций в случае выхода оборудования из строя или других опасностей для работников
        и имущества (уровень шума превышает допустимый или прекращена работа шумного оборудования) (детекторы
        шума/тишины, тарифы «Видеоаналитика – Шум»/«Видеоаналитика – Тишина»)
      </li>
      <li class="b-info__item-line-mark">
        Оперативное реагирование на проникновения людей или движущихся объектов на закрытую охраняемую
        территорию/пересекающих линию (детектор движения или детектор пересечения, тарифы «Видеоаналитика – Движение»,
        «Видеоаналитика – Пересечение»)
      </li>
      <li class="b-info__item-line-mark">
        Поиск в видеоархиве лица, попавшегося на воровстве в магазине или поиск лица, который предположительно
        отсутствовал на рабочем месте в определенные дни недели (детектор лиц, тариф «Видеоаналитика – Лица)
      </li>
    </ul>
  </div>
</section>
