<section class="b-tariffs-list">
  <div class="gl__page-content">
    <h2 class="gl__title">
      {{#if customTitle }}{{ customTitle }}{{else}}Тарифы{{/if}}
    </h2>

    {{> common/b-tariffs-list/content }}

    <div class="gl__b-hint-nds mod-no-line">
      Тарифы указаны с учетом НДС
    </div>
  </div>
</section>
