<section class="b-internet-wi-fi-opportunities">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Возможности для вашего бизнеса
    </h2>

    <div class="gl-slider js-swiper" data-swiper-slides-preview="4">
      {{> common/controls/b-btns-slider }}
      <div class="gl-slider__container swiper-container js-swiper-container">
        <ul class="gl-slider__wrapper swiper-wrapper">
          <li class="b-internet-wi-fi-opportunities__slide gl__white-container swiper-slide">1</li>
          <li class="b-internet-wi-fi-opportunities__slide gl__white-container swiper-slide">2</li>
          <li class="b-internet-wi-fi-opportunities__slide gl__white-container swiper-slide">3</li>
          <li class="b-internet-wi-fi-opportunities__slide gl__white-container swiper-slide">4</li>
        </ul>
      </div>
    </div>
  </div>
</section>
