<section class="cashback" id="cashback-host">
  <div class="gl__page-content">
    <h2 class="gl__title">Выберите свой кэшбэк до 25%</h2>

    <div class="gl-slider js-swiper-2">
      <div class="gl-slider__container swiper-container js-swiper-container-2">
        <ul class="gl-slider__wrapper swiper-wrapper">
          {{> mobile-communication-page/cashback/components/slide
            title="Вместе выгодно"
            text="25% от начислений за мобильную связь ежемесячно будет зачисляться на Ваш лицевой счет проводных услуг"
            img="img/mobile-communication/cashback/rates-preview-mobile.jpg"
          }}
          {{> mobile-communication-page/cashback/components/slide
            title="Вместе выгодно 2.0"
            text="Подключите «Летай» и получайте кэшбэк 20%"
            img="img/mobile-communication/cashback/img-2.jpg"
          }}
        </ul>
      </div>

<!--      {{> common/btns-slider}}-->
    </div>
  </div>
</section>
