<div class="card-pay__container">
  <label class="card-pay__input-wrapper">
    <input type="text" class="card-pay__input js-pay-card-number-mask"
           placeholder="XXXX XXXX XXXX XXXX">
  </label>
  <label class="card-pay__input-wrapper">
    <input type="text" class="card-pay__input js-pay-card-date-mask"
           placeholder="ММ/ГГ">
  </label>
  <label class="card-pay__input-wrapper">
    <input type="text" class="card-pay__input js-pay-card-code-mask"
           placeholder="CVC/CVV">
  </label>

  <div class="card-pay__payment-systems-wrapper">
    <img src="img/common/pay/mastercard.svg" alt="" class="card-pay__payment-system">
    <img src="img/common/pay/mir.svg" alt="" class="card-pay__payment-system">
    <img src="img/common/pay/visa.svg" alt="" class="card-pay__payment-system">
  </div>
</div>
