<label class="input-search__wrapper">
  <input type="text" class="input-search" placeholder="Что будем искать?">
  <svg width="24" height="24" aria-hidden="true" class="input-search__icon">
    <use xlink:href="#search"></use>
  </svg>
</label>
