<section class="b-page-banner b-domain-registration">
  <div class="gl__page-content">
    <h2 class="gl__title">{{title}}</h2>

    <div class="b-page-banner__content">
      <div class="b-page-banner__background"></div>
      <div class="b-page-banner__text">
        <div>
          <h3 class="b-page-banner__title white">
            <span class="b-page-banner__accent-title">Оффер</span>
          </h3>
        </div>
        <div class="b-page-banner__btns-container">
          <button type="button" class="b-page-banner__btn gl__main-btn mod-b-transparent-white-business">
            Подключиться
          </button>
          <a href="" download="" class="b-page-banner__btn gl__main-btn mod-b-transparent-white-business">
            Скачать презентацию
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
