.callback__form {
  margin-top: 4rem;

  @include for-sm-down {
    margin-top: 2rem;
  }
}

.callback__form-input-wrap {
  margin-bottom: 1rem;

  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }
}

.callback__content-checkbox-wrapper {
  margin: 2.4rem 0 4rem;

  @include for-sm-down {
    margin: 2rem 0;
  }
}
