.send-request__info {
  margin-top: 1.6rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid var(--border-color);

  @include for-sm-down {
    margin-top: .6rem;
    padding-bottom: 2rem;
  }
}

.send-request__price {
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  line-height: 2.4rem;

  .number {
    font-size: 4rem;
    line-height: 5rem;
    margin-right: .4rem;

    @include for-sm-down {
      font-size: 3rem;
      line-height: 4rem;
    }
  }
}

.send-request__info-hint {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0.02em;
  color: var(--grey-text);
}

.send-request__form-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 3.2rem;
  margin-bottom: 1.8rem;

  @include for-sm-down {
    grid-template-columns: 1fr;
    margin: 2rem 0;
  }
}

.send-request__form-select-wrapper {
  margin-bottom: 2rem;
  margin-top: .6rem;

  &:not(.mod-show) {
    display: none;
  }
}

.send-request__content-checkbox-wrapper {
  margin-bottom: 4rem;
  margin-top: .6rem;

  @include for-sm-down {
    margin-bottom: 3rem;
  }
}

.send-request__product-wrapper {
  display: flex;
  padding: 2.6rem 0 3rem;
  border-bottom: 1px solid var(--border-color);

  &:not(.mod-show) {
    display: none;
  }
}

.send-request__product-img {
  height: 16.4rem;
  margin-right: 2rem;
}

.send-request__product-caption {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--main-grey-color);
  margin-bottom: .4rem;
}

.send-request__product-value {
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.015em;
  margin-bottom: .4rem;
}

.send-request__product-price-wrapper {
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.send-request__product-price {
  font-size: 2.6rem;
  line-height: 3.4rem;
  margin-right: .4rem;
}
