.top-up-account {
  .menu-tabs__radio-btns-container {
    justify-content: space-between;
  }

  .menu-tabs__radio-btns-container {
    border-bottom: 1px solid var(--border-color);
  }
}

.top-up-account__title {
  margin-bottom: 3rem;
}

.top-up-account__form-wrapper {
  padding: 0 6rem;
  display: grid;
  grid-template-columns: 1fr;

  @include for-bg-down {
    padding: 0;
  }
}

.top-up-account__form-input {
  & + & {
    margin-top: 2.6rem;
  }
}

.top-up-account__form-radio-wrapper {
  margin-top: 2rem;
}

.top-up-account__form-radio-caption {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2.2rem;
  letter-spacing: 0.02em;
  margin-bottom: 1.8rem;
}

.top-up-account__form-radio-wrapper {
  margin-bottom: 1.8rem;

  &:last-child {
    margin-bottom: 0;
  }

  &.mod-card-pay {
    margin-bottom: 3rem;
  }

  &.mod-with-select {
    display: flex;
    align-items: center;
  }
}

.top-up-account__form-card-pay-wrapper {
  margin-left: 20px;
  margin-top: 2.4rem;

  @include for-sm-down {
    margin-left: 0;
  }
}

.top-up-account__form-btn-wrapper {
  display: flex;
  justify-content: flex-end;
}

.top-up-account__form-btn {
  @include for-sm-up {
    padding: 1.6rem 6.6rem;
  }
}
