<li class="gl-slider__slide gl__white-container news-list__slide">
  <div class="news-list__slide-title">{{ title }}</div>
  <div class="news-list__slide-text">{{ text }}</div>
  <div class="news-list__slide-btn-wrapper">
    <a href="" class="news-list__slide-link">
      <svg width="26" height="26" aria-hidden="true" class="news-list__slide-link-icon">
        <use xlink:href="#arrow-line-right"></use>
      </svg>
    </a>
  </div>
</li>
