<section class="news-list" id="news-list-host">
  <div class="gl__page-content">
    <div class="gl__title-head">
      <h2 class="gl__title">Новости</h2>
      {{> common/link-show-all text="Все новости" }}
    </div>

    <div class="gl-slider js-swiper-3">
      <div class="gl-slider__container swiper-container js-swiper-container-3">
        <ul class="gl-slider__wrapper swiper-wrapper">
          {{> main-page/news-list/components/slide title="22 май" text="Провели праздник двора для жителей ЖК Салават Купере" }}
          {{> main-page/news-list/components/slide title="22 май" text="Провели праздник двора для жителей ЖК Салават Купере" }}
          {{> main-page/news-list/components/slide title="22 май" text="Провели праздник двора для жителей ЖК Салават Купере" }}
          {{> main-page/news-list/components/slide title="22 май" text="Провели праздник двора для жителей ЖК Салават Купере" }}
          {{> main-page/news-list/components/slide title="22 май" text="Провели праздник двора для жителей ЖК Салават Купере" }}
        </ul>
      </div>

      {{> common/btns-slider}}
    </div>
  </div>
</section>
