{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-page-banner }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Об услуге
        </h2>

        <p class="b-info__text">
          Интеллектуальные телекоммуникационные сервисы «Таттелеком» — современное и экономичное решение для вашего
          офиса, позволяющее повысить эффективность бизнеса с минимальными вложениями.
        </p>
      </div>
    </section>

    {{> common/b-promotions }}

    {{> common/b-request-for-connection }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
