{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-page-banner }}

    {{> common/b-tariffs-list }}

    {{> common/b-steps }}

    {{> common/b-request-for-connection }}

    {{> common/b-useful-articles }}

    <section class="faq">
      <div class="gl__page-content">
        {{> common/faq/faq-item faq=faq-item }}
      </div>
    </section>

    {{> common/b-support }}

  {{/content}}
{{/extend}}
