{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-page-banner }}

    {{> b-communication-page/b-tariffs-list }}

    {{> common/b-steps }}

    {{> common/b-request-for-connection }}

    {{> common/b-useful-articles }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Примечания
        </h2>

       <ul class="b-info__list-width-line-mark">
         <li class="b-info__item-line-mark">Примечание</li>
         <li class="b-info__item-line-mark">Примечание</li>
         <li class="b-info__item-line-mark">Примечание</li>
         <li class="b-info__item-line-mark">Примечание</li>
       </ul>
      </div>
    </section>

    {{> common/b-support }}

  {{/content}}
{{/extend}}
