{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-page-banner }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Об услуге
        </h2>

        <p class="b-info__text">
          DDoS-защита — это диагностика на предмет возникновения не свойственных для данного ресурса объемов, либо
          запросов и чистка интернет трафика от DoS и DDoS-атак.
        </p>
      </div>
    </section>

    {{> common/b-advantages-list }}

    {{> common/b-tariffs-list/section }}

    {{> b-ddos-protection-page/b-info }}

    {{> common/b-request-for-connection }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
