{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-page-banner }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Об услуге
        </h2>

        <p class="b-info__text">
          Цифровые потоки Е1 - это подключение корпоративной мини-АТС к сети Таттелеком по цифровому каналу связи ISDN PRI.
        </p>
      </div>
    </section>

    {{> b-digital-streams-page/b-digital-streams-rates }}

    {{> b-digital-streams-page/b-info-isdn-pri }}

    {{> common/faq/section-faq customTitle="Преимущества подключения E1" noLinkAllFaq=true faq=advantagesFaq }}

    {{> common/b-request-for-connection }}

    {{> common/faq/section-faq faq=faq }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
