{{#extend "layout"}}
  {{#content "main"}}

    {{> b-domain-registration/b-page-banner }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Об услуге
        </h2>

        <p class="b-info__text mod-padding-left">
          Сделайте ваш сайт узнаваемым и легко запоминаемым. Зарегистрируйте web-адрес сайта в виде словосочетания из
          определенного количества букв, цифр и/или дефиса, определенной доменной зоны. Мы внесем его в Реестр
          информации о доменном имени
        </p>
      </div>
    </section>

    {{> common/b-advantages-list }}

    {{> common/b-tariffs-list/section }}

    {{> common/b-request-for-connection }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
