{{#extend "layout"}}
  {{#content "main"}}

    {{> b-internet-by-radio-page/b-page-banner }}

    {{> b-internet-by-radio-page/check-list title="Преимущества" check-items=advantages-check-items }}

    {{> b-internet-by-radio-page/check-list title="Где может быть полезна" check-items=useful-check-items }}

    {{> b-internet-by-radio-page/b-your-benefit }}

    {{> common/b-request-for-connection }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Примечания
        </h2>

        <ul class="b-info__list-width-line-mark">
          <li class="b-info__item-line-mark">Примечание</li>
          <li class="b-info__item-line-mark">Примечание</li>
          <li class="b-info__item-line-mark">Примечание</li>
          <li class="b-info__item-line-mark">Примечание</li>
        </ul>
      </div>
    </section>

    {{> common/faq/section-faq }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
