{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-page-banner }}

    {{> common/b-tariffs-list/section }}

    {{> b-internet-wi-fi-page/b-internet-wi-fi-opportunities }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Об услуге
        </h2>

        <p class="b-info__text">
          Здесь будет информация об услуге
        </p>
      </div>
    </section>

    {{> common/b-request-for-connection }}

    {{> common/b-useful-articles }}

    {{> common/faq/section-faq }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
