{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-page-banner }}

    {{> common/b-tariffs-list/section }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Об услуге
        </h2>

        <p class="b-info__text">
          IP телефония это современный вид связи, позволяющий совершать звонки через Интернет. Возможность гибкой
          настройки позволяет снизать затраты на внедрение и обслуживание АТС. Телефонные номера не имеют географической
          привязки, поэтому каждый из сотрудников сможет принимать звонки на свой номер везде, где есть доступ в
          интернет.
        </p>
      </div>
    </section>

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="b-info__subtitle">
          При помощи IP-телефонии «Таттелеком» вы сможете:
        </h2>

        <ol class="b-info__list-number">
          {{#each b-ip-telephony-list }}
            <li class="b-info__item-number">{{ this }}</li>
          {{/each}}
        </ol>
      </div>
    </section>

    {{> common/b-advantages-opportunities }}

    {{> common/b-request-for-connection }}

    {{> b-ip-telephony-page/b-codes-for-calls }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
