{{#extend "layout"}}
  {{#content "main"}}

    <div class="b-main-page">
      {{>b-main-page/b-fractional-slider/b-fractional-slider slidesList=topSlider }}

      {{>b-main-page/b-low-slider sectionTitle="Комплексные решения для бизнеса" slidesList=businessSolutions }}
    </div>

  {{/content}}
{{/extend}}
