{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-service-cards }}

    {{!-- ЗАГЛУШКА --}}
    {{!-- Я НЕ ЗНАЮ ОТКУДА БРАТЬ КАРТУ --}}
    <section class="b-coverage-map gl__section">
      <div class="gl__page-content">
        <h2 class="gl__title">Карта покрытия 4G</h2>

        <div class="b-coverage-map__content">
          <img class="b-coverage-map__map-image" src="img/common/coverage-map.jpg" alt="Заглушка карты покрытия">
        </div>
      </div>
    </section>

    {{> common/b-promotions }}

    {{> common/b-useful-articles }}

    {{> common/faq/section-faq }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
