{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-page-banner }}

    {{> common/b-service-cost}}

    {{> common/b-steps }}

    {{> common/b-request-for-connection }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">О Роуминге</h2>

        <p class="b-info__text mod-padding-left">
          Мы продолжаем активно развивать собственную сеть на территории Республики Татарстан. За ее пределами у нас нет
          собственной сети. Но даже находясь за пределами домашнего региона, вы всегда сможете оставаться на связи,
          благодаря нашим партнерам-операторам.
        </p>
      </div>
    </section>

    {{> common/faq/section-faq }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
