{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-page-banner }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Об услуге
        </h2>

        <p class="b-info__text">
          Это возможность продвигать свои услуги и товары во время авторизации посетителей через высокоскоростной безлимитный Wi-Fi
        </p>
      </div>
    </section>

    {{> b-smart-wifi-page/b-advantages }}

    {{> common/b-tariffs-list/section }}

    {{> b-smart-wifi-page/b-features }}

    {{> common/b-request-for-connection }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
