{{#extend "layout"}}
  {{#content "main"}}

    <section class="b-tariff">
        <div class="gl__page-content">
            <h2 class="gl__title">{{title}}</h2>
            {{> common/rates-info-form }}

            {{> common/pdf-file}}
        </div>
    </section>

<section class="b-tarif-options">
    <div class="gl__page-content">
        <div class="b-tarif-options__option">
            <div class="b-tarif-options__title-wrapper gl__drop-menu-btn js-drop-menu-btn">
                <h2 class="b-tarif-options__title">Сверх абонентской платы</h2>

                <svg width="24" height="24" aria-hidden="true" class="b-tarif-options__item-btn-icon gl__drop-menu-icon">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </div>
            <div class="gl__drop-menu-container js-drop-menu-container">
                <ul class="b-tarif-options__services-wrapper gl__drop-menu js-drop-menu">
                    <li>Тест</li>
                    <li>Тест</li>
                    <li>Тест</li>
                    <li>Тест</li>
                    <li>Тест</li>
                </ul>
            </div>
        </div>
        <div class="b-tarif-options__option">
            <div class="b-tarif-options__title-wrapper gl__drop-menu-btn js-drop-menu-btn">
                <h2 class="b-tarif-options__title">Примечания</h2>

                <svg width="24" height="24" aria-hidden="true" class="b-tarif-options__item-btn-icon gl__drop-menu-icon">
                    <use xlink:href="#arrow-down"></use>
                </svg>
            </div>
            <div class="gl__drop-menu-container js-drop-menu-container">
                <ul class="b-tarif-options__services-wrapper gl__drop-menu js-drop-menu">
                    <li>Тест</li>
                    <li>Тест</li>
                    <li>Тест</li>
                    <li>Тест</li>
                    <li>Тест</li>
                </ul>
            </div>
        </div>
    </div>
</section>



    {{> common/b-support }}

  {{/content}}
{{/extend}}
