{{#extend "layout"}}
  {{#content "main"}}

    <section class="b-tariff">
        <div class="gl__page-content">
            <h2 class="gl__title">{{title}}</h2>
            {{> common/rates-info-form }}
        </div>
    </section>

    {{> common/b-support }}

  {{/content}}
{{/extend}}
