{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-page-banner }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Об услуге
        </h2>

        <p class="b-info__text">
          Видеоаналитика - это 11 интеллектуальных модулей видеоаналитики для обеспечения безопасности и контроля бизнеса на расстоянии.
        </p>
      </div>
    </section>

    {{> common/b-tariffs-list/section }}

    {{> b-video-analytics/b-discounts }}

    {{> common/faq/section-faq customTitle="Возможности и функции" }}

    {{> common/b-advantages-opportunities }}

    {{> b-video-analytics/b-info }}

    {{> common/b-steps }}

    {{> common/b-request-for-connection }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
