{{#extend "layout"}}
  {{#content "main"}}

    {{> b-virtual-server-page/b-page-banner }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Об услуге
        </h2>

        <p class="b-info__text mod-padding-left">
          <b>Виртуальный выделенный сервер (ВВС)</b> представляет из себя часть ресурсов физических серверов доступных в виде виртуальной машины с установленной операционной системой.
          Физически сервера располагаются в специально подготовленном помещении с гарантированным электропитанием, двумя независимыми энерговводами, системами кондиционирования и пожаротушения, подключены к резервируемой системе хранения и нескольким высокоскоростным каналам Интернет.
          За работой серверов следит круглосуточная смена специалистов.
        </p>
      </div>
    </section>

    {{> common/b-advantages-list }}

    {{> common/b-tariffs-list/section }}

    {{> common/b-request-for-connection }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
