{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-page-banner-gradient-background }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Об услуге
        </h2>

        <p class="b-info__text mod-padding-left">
          Современный способ организации Full HD видео и аудио конференций, а также вебинаров для территориально
          удаленных пользователей
        </p>
      </div>
    </section>

  

  {{/content}}
{{/extend}}
