{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-link-back }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Виртуальный офис-секретарь
        </h2>

        <p class="b-info__text">
          Услуга «виртуальный офис-секретарь» позволяет компании обслуживать все поступающие от клиентов звонки даже при
          небольшом количестве сотрудников или телефонов, за счет того что входящие вызовы обслуживают операторы
          Call-центра «Таттелеком».
        </p>
        <p class="b-info__text">
          На все звонки в рабочее время отвечают профессиональные операторы, представляются от имени вашей компании и
          принимают запросы. Действия операторов, ответы на вопросы и часы работы операторов оговариваются индивидуально
          в специальных сценариях. В остальное время на звонки отвечает автоинформатор, на который может быть записано
          сообщение с краткой справкой о вашей компании, услугах, контактах.
        </p>
      </div>
    </section>

    {{> b-virtual-office-secretary-page/b-tariffs-list }}

    {{> common/b-request-for-connection }}

    {{> common/b-promotions }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
