{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-page-banner }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Об услуге
        </h2>

        <p class="b-info__text">
          Виртуальная сеть позволяет объединить две и более территориально-распределенные локальные сети в офисах в
          единую защищенную сеть для обмена данными.
        </p>
      </div>
    </section>

    {{> b-virtual-networks/b-check-items }}

    {{> b-virtual-networks/b-tariffs-list }}

    {{> common/b-request-for-connection }}

    {{> common/b-useful-articles customTitle="Дополнительные услуги" }}

    {{> common/faq/section-faq }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
