{{#extend "layout"}}
  {{#content "main"}}

    {{> common/b-page-banner }}

    <section class="b-info">
      <div class="gl__page-content">
        <h2 class="gl__title">
          Об услуге
        </h2>

        <p class="b-info__text mod-padding-left">
          Веб-хостинг Таттелеком - доступное и популярное решение для веб-проектов, которое подойдет как небольшим
          сайтам, так и крупным порталам с высокой посещаемостью. Воспользовавшись данной услугой, вы не только
          сэкономите на покупке и установке собственного оборудования, но и избавите себя от забот по его настройке и
          дальнейшему техническому обслуживанию.
        </p>

        <h2 class="b-info__subtitle">
          Веб-хостинг нужен для размещения:
        </h2>

        <ul class="b-info__list-width-line-mark mod-padding-left">
          <li class="b-info__item-line-mark">корпоративного интернет-сайта</li>
          <li class="b-info__item-line-mark">корпоративного портала</li>
          <li class="b-info__item-line-mark">сайта-визитки</li>
          <li class="b-info__item-line-mark">landing page</li>
        </ul>
      </div>
    </section>

    {{> common/b-advantages-list }}

    {{> common/b-advantages-opportunities }}

    {{> common/b-tariffs-list/section }}

    {{> common/b-request-for-connection }}

    {{> common/b-support }}

  {{/content}}
{{/extend}}
