{{#extend "layout"}}
  {{#content "main"}}

    {{> bread-crumbs }}

    <section class="documents">
      <div class="gl__page-content">
        <h2 class="gl__title">Бланки и Документы</h2>

        <div class="documents__content">
          {{> common/documents-list }}
        </div>
      </div>
    </section>

  {{/content}}
{{/extend}}
