{{#extend "layout"}}
  {{#content "main"}}

    {{> bread-crumbs }}

    <section class="instructions gl__section">
      <div class="gl__page-content">
        <h2 class="gl__title">Инструкции</h2>

        <div class="instructions__content">
          {{> common/documents-list }}
          {{> instructions/errors-list}}
        </div>
      </div>
    </section>

    {{> common/faq/section-faq }}

  {{/content}}
{{/extend}}
