<div class="hint__wrapper.html">
  <a style="display: block; font-size: 14px" target="_blank" href=".html">Главная</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/mobile-communication.html">Мобильная связь</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/cashback.html">Кэшбек 20 %</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/together-profitable.html">Вместе выгодно 2.0</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/roaming.html">Роуминг</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/ussd-requests.html">USSD запросы</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/fly-old-number.html">Перейти на Летай со своим номером</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/beautiful-phone.html">Красивые номера</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/applications.html">Приложения Таттелеком</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/tv-online.html">ТВ онлайн</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/child-nearby.html">Ребенок рядом</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/4g-services.html">Каталог товаров</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/product.html">Товар</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/rates-mobile-list.html">Тарифы мобильной связи</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/rates-mobile-item.html">Тариф Мобильный «Много минут»</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/rates-internet-list.html">Тарифы интернета</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/rates-internet-item.html">Тариф Интернета «Летай. Оранжевый Профит»</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/instructions.html">Инструкции</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/documents.html">Бланки и документы</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/third-parties.html">Третьи лица</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/support.html">Служба поддержки</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/promo-internet.html">Промо Много интернета</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/promo-gpon.html">Промо GPON</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/promo-intercom.html">Промо Домофон</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/promo-convergent.html">Промо Конверген</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/payment-services.html">Оплата услуг</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/search-site.html">Поиск по сайту</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/technical-works.html">Технические работы</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/questions.html">ЧаВо</a><br>
  Бизнес<br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-main.html">Главная стр</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-mobile-communication.html">Мобильная связь</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-rates-mobile-list.html">Тарифы Мобильной связи</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-rates-mobile-internet-list.html">Тарифы мобильного интернета</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-single-business.html">Комплекс услуг связи (Единый бизнес)</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-mobile-communication.html">Мобильная связь</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-mobile-communication.html">Мобильная связь</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-roaming-international.html">Роуминг</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-roaming-russia.html">Роуминг по России</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-virtual-ats.html">Виртуальная АТС</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-connect.html">Таттелеком Коннект (ЭДокс)</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-telephony.html">Телефония</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-communication.html">Междугородная и международная связь </a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-ip-telephony.html">IP-телефония</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-sip-telephony.html">SIP-Телефония</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-sip-trunk.html">SIP-trunk</a><br>
  <a style="display: block; font-size: 14px" target="_blank" href="/b-digital-streams.html">Цифровые потоки Е1</a><br>
</div>
