<div class="container">
  <div class="wrapper">
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1">Главная</a>
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1/mobile-communication.html">Мобильная связь</a>
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1/cashback.html">Кэшбек 20 %</a>
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1/together-profitable.html">Вместе выгодно 2.0</a>
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1/roaming.html">Роуминг</a>
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1/ussd-requests.html">USSD запросы</a>
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1/fly-old-number.html">Перейти на Летай со своим
      номером</a>
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1/beautiful-phone.html">Красивые номера</a>
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1/applications.html">Приложения Таттелеком</a>
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1/tv-online.html">ТВ онлайн</a>
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1/child-nearby.html">Ребенок рядом</a>
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1/4g-services.html">4G услуги</a>
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1/product.html">Samsung Galaxy A51 (A515)</a>
    <a class="link" href="https://elizavetashved.github.io/tattelecom-1/rates-mobile-list.html">Тарифы мобильной
      связи</a>
  </div>
</div>
<style>
  .container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .wrapper {
    width: 50%;
  }

  .link {
    display: block;
    font-size: 20px;
    color: #2B2B2B;
    text-decoration: none;
    transition: color 250ms;
    padding: 10px;
  }

  .link:hover {
    text-decoration: underline;
    color: #2f80ed;
  }
</style>
</html>
