{{#extend "layout"}}
  {{#content "main"}}

    <div class="roaming__top-wrapper">
      {{> bread-crumbs isOrangeBackground=true}}
      {{> roaming-page/top-block }}
      <img src="img/roaming/background.svg" alt="" class="roaming__background gl__sm-hide">
      <img src="img/roaming/background-small.svg" alt="" class="roaming__background gl__sm-show">
    </div>

    <div class="js-menu-tabs-container">
      {{> roaming-page/roaming-tabs }}

      <div class="js-menu-tab-content gl__menu-tab-content" data-menu-russia>
        {{> roaming-page/pricing-plans }}

        {{> common/instructions }}

        {{> roaming-page/international-calls }}

        {{> common/faq/section-faq }}

        {{> common/application noAnswer=true }}
      </div>

      <div class="js-menu-tab-content gl__menu-tab-content" data-menu-world>
        world
      </div>
    </div>

  {{/content}}
{{/extend}}
