{{#extend "layout"}}
  {{#content "main"}}

    <div class="roaming__top-wrapper">
      {{> bread-crumbs isOrangeBackground=true}}
      {{> roaming-page/top-block }}
      <img src="img/roaming-page/background.svg" alt="" class="roaming__background gl__sm-hide">
      <img src="img/roaming-page/background-small.svg" alt="" class="roaming__background gl__sm-show">
    </div>

    <div class="js-menu-tabs-container">
      {{> roaming-page/roaming-tabs }}

      <div class="js-menu-tab-content gl__menu-tab-content" data-menu="russia">
        {{> roaming-page/pricing-plans }}

        {{> roaming-page/instructions instructions=instructions-russia }}

        {{> roaming-page/international-calls }}

        {{> common/faq/section-faq faq=faq-russia }}

        {{> common/application noAnswer=true }}
      </div>

      <div class="js-menu-tab-content gl__menu-tab-content" data-menu="world">
        {{> roaming-page/roaming-without-worries }}

        {{> roaming-page/instructions instructions=instructions-world}}

        {{> roaming-page/connection-options }}

        {{> ussd-requests-page/ussd-faq faq=ussd-faq }}

        {{> common/faq/section-faq faq=faq-world }}
      </div>
    </div>

  {{/content}}
{{/extend}}
