{{#extend "layout"}}
{{#content "main"}}
{{> bread-crumbs isTatt=true}}
<section class="tatt-news-inner" id="technical-works-host">
    <div class="gl__page-content tatt-news-inner__content">
        <h1>
            Изменения на архивных тарифных планах мобильной связи
        </h1>

        <div class="tatt-news-inner__date">
            <svg width="18" height="20" aria-hidden="true" class="tatt-news-inner__date-icon">
                <use xlink:href="#calendar"></use>
            </svg>
            07 мая 2021
        </div>

        <p>
            Информируем вас об изменениях на тарифных планах «Тариф №1» и «Свой 2.0». Указанные тарифы являются архивными и имеют более выгодные аналоги среди действующих тарифных планов. Вы всегда можете выбрать и перейти на любой из действующих тарифов по ссылке.
        </p>
        <p>
            С 17.05.2021 на тарифных планах «Тариф №1» (архивный тариф с 2017 года) и «Свой 2.0» (архивный тариф с 2020 года) изменится списание абонентской платы с посуточного на единоразовое списание за месяц, абонентская плата составит 330 рублей/месяц. Полные условия тарифов – в разделе архивные тарифы.
        </p>
        <p>
            Для абонентов вышеуказанных тарифов в течении месяца отменена плата за смену тарифного плана.
        </p>
    </div>
</section>
{{/content}}
{{/extend}}