{{#extend "layout"}}
{{#content "main"}}
{{> bread-crumbs isTatt=true}}
<div class="tatt-about-company">
    <section class="tatt-about-company-hero">
        <div class="gl__page-content tatt-about-company-hero__content">
            <div class="tatt-about-company-hero__title-wrap">
                <h1 class="tatt-about-company-hero__title">
                    ТАТТЕЛЕКОМ
                </h1>
                <p>
                    Таттелеком – крупнейший в Республике Татарстан оператор проводной электросвязи, стабильно занимающий лидирующее положение на рынке оказания телекоммуникационных услуг
                </p>
            </div>
            <img src="img/tatt-about-page/logo.svg" alt="" class="tatt-about-company-hero__img">
        </div>
    </section>
    <section class="tatt-about-company-mission tatt-about-company__section">
        <div class="gl__page-content tatt-about-company-mission__content">
            <h2 class="tatt-about-company__title gl__title">
                Миссия Таттелеком
            </h2>
            <p>
                Коллективный труд на благо общества - наши абоненты должны получать больше, чем абоненты конкурентов.
            </p>
            
            <a href="/" class="tatt-about-company__link">
                О миссии Таттелеком
            </a>
        </div>
    </section>
    <section class="tatt-about-company-brand tatt-about-company__section mod-blue-bg">
        <div class="gl__page-content tatt-about-company-brand__content">
            <h2 class="tatt-about-company__title gl__title">
                Бренд
            </h2>
            <p>
                Текст про бренд. Развитая инфраструктура сетей и возможность комплексного предоставления услуг всем категориям абонентов на территории Республики Татарстан
            </p>
            
            <a href="/" class="tatt-about-company__link">
                Достижения Таттелеком
            </a>
        </div>
    </section>
    <section class="tatt-about-company-history tatt-about-company__section">
        <div class="gl__page-content tatt-about-company-history__content">
            <h2 class="tatt-about-company__title gl__title">
                История
            </h2>
            <p>
                1 апреля 1998 года на базе обособленного структурного подразделения Министерства связи РТ «Казанская междугородная телефонно-телеграфная станция» создано Государственное унитарное предприятие «Управление электрической связи «Таттелеком».
            </p>
            
            <a href="/" class="tatt-about-company__link">
                Больше об истории
            </a>
        </div>
    </section>
    <section class="tatt-about-company-numbers tatt-about-company__section mod-orange-bg">
        <div class="gl__page-content tatt-about-company-numbers__content">
            <h2 class="tatt-about-company__title gl__title">
                Таттелеком в цифрах
            </h2>
            <ul class="tatt-about-company-numbers__list">
                <li class="tatt-about-company-numbers__item">
                    <span class="tatt-about-company-numbers__item-heading">
                        2 млн
                    </span>
                    <span class="tatt-about-company-numbers__item-text">
                        абонентов Тателеком
                    </span>
                </li>
                <li class="tatt-about-company-numbers__item">
                    <span class="tatt-about-company-numbers__item-heading">
                        125 лет
                    </span>
                    <span class="tatt-about-company-numbers__item-text">
                        опыта работы в сфере телекоммуникационных услуг
                    </span>
                </li>
                <li class="tatt-about-company-numbers__item">
                    <span class="tatt-about-company-numbers__item-heading">
                        68 000 кв.км
                    </span>
                    <span class="tatt-about-company-numbers__item-text">
                        охват деятельностью
                    </span>
                </li>
                <li class="tatt-about-company-numbers__item">
                    <span class="tatt-about-company-numbers__item-heading">
                        более 650 000
                    </span>
                    <span class="tatt-about-company-numbers__item-text">
                        абонентов телефонии
                    </span>
                </li>
                <li class="tatt-about-company-numbers__item">
                    <span class="tatt-about-company-numbers__item-heading">
                        свыше 500 000
                    </span>
                    <span class="tatt-about-company-numbers__item-text">
                        абонентов скоростного доступа к сети Интернет
                    </span>
                </li>
                <li class="tatt-about-company-numbers__item">
                    <span class="tatt-about-company-numbers__item-heading">
                        000
                    </span>
                    <span class="tatt-about-company-numbers__item-text">
                        придумать преимущество
                    </span>
                </li>
            </ul>
        </div>
    </section>
    <section class="tatt-about-company-media tatt-about-company__section">
        <div class="gl__page-content tatt-about-company-company__content">
            <h2 class="tatt-about-company__title gl__title">
               Пресс-центр
            </h2>
            <p>
                1 апреля 1998 года на базе обособленного структурного подразделения Министерства связи РТ «Казанская междугородная телефонно-телеграфная станция» создано Государственное унитарное предприятие «Управление электрической связи «Таттелеком».
            </p>
            
            <a href="/" class="tatt-about-company__link">
                Узнать больше
            </a>
        </div>
    </section>
    <section class="tatt-about-company-holders tatt-about-company__section">
        <div class="gl__page-content tatt-about-company-holders__content">
            <h2 class="tatt-about-company__title gl__title">
               Акционерам
            </h2>
            <p>
                Какой-то текст. Например: Российская Федерация в лице Министерства финансов РФ является владельцем доли 50% плюс одна голосующая акция от уставного капитала СберБанка (52,32% от общего количества голосующих акций)
            </p>
            
            <a href="/" class="tatt-about-company__link">
                Узнать больше
            </a>
        </div>
    </section>
    <section class="tatt-about-company-head">
        <div class="gl__page-content tatt-about-company-head__content">
            <img src="img/tatt-about-page/head.jpg" alt="Фото директора">
            <div class="tatt-about-company-head__info">
                <div class="tatt-about-company-head__info-wrap">
                    <h2 class="tatt-about-company-head__title gl__title">
                        Корпоративное управление
                    </h2>
                    <a href="/" class="tatt-about-company-head__info-link">
                        Центральное управление
                    </a>
                    <a href="/" class="tatt-about-company-head__info-link">
                        Управление структурными подразделениями
                    </a>
                </div>
                <div class="tatt-about-company-head__info-wrap">
                    <h2 class="tatt-about-company-head__title gl__title">
                        Структурное подразделение
                    </h2>
                    <a href="/" class="tatt-about-company-head__info-link">
                        Центральное управление
                    </a>
                    <a href="/" class="tatt-about-company-head__info-link">
                        Управление структурными подразделениями
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="tatt-about-company-career tatt-about-company__section">
        <div class="gl__page-content tatt-about-company-career__content">
            <div class="tatt-about-company-career__info">
                <h2 class="tatt-about-company__title gl__title">
                Команда более 4 000 сотрудников
                </h2>
                <p>
                    Таттелеком – крупнейший оператор связи с собственными компетенциями в IT, аналитике и управлении процессами
                </p>
                
                <a href="/" class="tatt-about-company__link">
                    Вакансии Тателеком
                </a>
            </div>
            <img src="img/tatt-about-page/stff.png" class="tatt-about-company-career__img" alt="Сотрудники компании обсуждают проект">
        </div>
    </section>
    <section class="tatt-about-company-goals tatt-about-company__section mod-orange-bg">
        <div class="gl__page-content tatt-about-company-goals__content">
            <h2 class="tatt-about-company__title gl__title">
                Цель или стратегия развития
            </h2>
            <div class="tatt-about-company-goals__info">
                <p>
                    Таттелеком – крупнейший оператор связи с собственными компетенциями в IT, аналитике и управлении процессами
                </p>
                <p>
                    Таттелеком – крупнейший оператор связи с собственными компетенциями в IT, аналитике и управлении процессами
                </p>
            </div>
        </div>
    </section>
    <section class="tatt-about-company-support tatt-about-company__section">
        <div class="gl__page-content tatt-about-company-support__content">
            {{> common/b-support-content }}
        </div>
    </section>
</div>

{{/content}}
{{/extend}}