{{#extend "layout"}}
{{#content "main"}}
{{> bread-crumbs isTatt=true}}
<section class="investors-page">
	<div class="gl__page-content tatt-row-grid">
		<div class="tatt-row-grid__block">
			{{> tattelekom-main/tatt-table-list }}
			<div class="gl__lg-show">
				{{> common/btn-settings text="Навигация" }}
			</div>
		</div>
		<div class="tatt-row-grid__block tatt-info-open-page">
			<h1 class="gl__title investors-page__title">
				Раскрытие информации
			</h1>
			<h2>
				ОТЧЕТНОСТЬ В СООТВЕТСТВИИ С ПОСТАНОВЛЕНИЕМ ПРАВИТЕЛЬСТВА РОССИЙСКОЙ ФЕДЕРАЦИИ ОТ 9 ИЮНЯ 2010 Г. N 401 "О
				СТАНДАРТАХ РАСКРЫТИЯ ИНФОРМАЦИИ СУБЪЕКТАМИ ЕСТЕСТВЕННЫХ МОНОПОЛИЙ, ОСУЩЕСТВЛЯЮЩИМИ ДЕЯТЕЛЬНОСТЬ В ОБЛАСТИ
				ОКАЗАНИЯ УСЛУГ СВЯЗИ"
			</h2>
			<p>
				В соответствии с Постановлением Правительства Российской Федерации от 9 июня 2010 г. N 401 "О стандартах
				раскрытия информации субъектами естественных монополий, осуществляющими деятельность в области оказания услуг
				связи" и приказом Федеральной службы по тарифам от 22 сентября 2010 г. № 318 «Об утверждении форм, сроков и
				периодичности раскрытия информации субъектами естественных монополий, осуществляющими деятельность в области
				оказания услуг связи, а также правил заполнения указанных форм» ПАО «Таттелеком» публикует информацию:
			</p>

			<p>
				1. О тарифах, предельных уровнях тарифов (тарифных планов) на услуги общедоступной электросвязи и общедоступной
				почтовой связи, в отношении которых в соответствии с законодательством Российской Федерации осуществляется
				государственное регулирование.
			</p>
			<p>
				2. Об основных показателях финансово-хозяйственной деятельности субъектов естественных монополий, в отношении
				которой осуществляется государственное регулирование, включая структуру основных производственных затрат на
				реализацию регулируемых услуг.
			</p>

			<div class="tatt-info-documents">
				{{#each archive-list }}
					<div class="tatt-info-documents__item">
          	{{> common/archive-file }}
					</div>
        {{/each}}
			</div>
		</div>
	</div>
</section>
{{/content}}
{{/extend}}