{{#extend "layout"}}
{{#content "main"}}
        {{> bread-crumbs isTatt=true}}
    <section class="investors-page">
        <div class="gl__page-content tatt-row-grid">
            <div class="tatt-row-grid__block">
                {{> tattelekom-main/tatt-table-list }}
                <div class="gl__lg-show">
                    {{> common/btn-settings text="Навигация" }}
                </div>
            </div>
            <div class="tatt-row-grid__block">
                <h1 class="gl__title investors-page__title">
                    Акционерам и инвесторам
                </h1>

                <div class="investors-page__list">
                    {{#each investors-page-list }}
                        <a href="{{this.link}}" class="investors-page__item" style="background-image: url({{this.img}});">
                            <span class="investors-page__item-heading">
                                {{this.name}}
                            </span>
                        </a>
                    {{/each}}
                </div>

                <h2 class="gl__title investors-page__title-course">
                    Курс акций
                </h2>
            </div>
        </div>
    </section>
{{/content}}
{{/extend}}