{{#extend "layout"}}
{{#content "main"}}
<div class="tatt-about-company">
    <div class="tatt-mission-hero" style="background-image: url(img/tatt-about-page/tatt-mission-hero-bg.jpg);">
        {{> bread-crumbs isTatt=true}}
        <div class="gl__page-content tatt-mission-hero__content">
            <h1 class="tatt-mission-hero__title">
                Миссия Таттелеком
            </h1>
            <p>
                Мы — команда высокопрофессиональных специалистов, работающих в сплоченном коллективе предприятия — лидера в отрасли связи Республики Татарстан.
            </p>
        </div>
    </div>
</div>
<section class="tatt-mission-block mod-grey">
    <div class="gl__page-content">
        <h2 class="gl__title tatt-mission-block__title">
            Наша цель
        </h2>
        <p>
            Повышение ценности компании через предоставление абонентам новейших услуг высокого качества, отвечающих требованиям завтрашнего дня; 
        </p>
        <p>
            Обеспечение сотрудникам возможности роста профессионального уровня и материального благосостояния.
        </p>
    </div>
</section>
<section class="tatt-mission-block2">
    <div class="gl__page-content">
        <h3>
            Наши задачи
        </h3>
        <p>
            Повышение ценности компании через предоставление абонентам новейших услуг высокого качества, отвечающих требованиям завтрашнего дня; 
        </p>
        <h3>
            Наши принципы
        </h3>
        <p>
            Обеспечение сотрудникам возможности роста профессионального уровня и материального благосостояния.
        </p>
    </div>
</section>
{{/content}}
{{/extend}}