{{#extend "layout"}}
{{#content "main"}}
{{> bread-crumbs isTatt=true}}
<section class="suppliers purchases">
    <div class="gl__page-content suppliers__content">
        <div class="suppliers__content-block">
            {{> tatt-suppliers/tatt-table-list }}
            <div class="gl__lg-show">
                {{> common/btn-settings text="Навигация" }}
            </div>
        </div>
        <div class="suppliers__content-block mod-purchases">
            <h2 class="suppliers__block-title gl__title">
                Информация для субьектов МСП
            </h2>
            <p>
                АО "Корпорация "МСП" проводит онлайн-опрос субъектов малого и среднего предпринимательства, направленный на изучение проблем, возникающих у субъектов малого и предпринимательства при прохождении сертификации.
            </p>
            <p>
                В рамках опроса субъектов малого и среднего предпринимательства просят ответить на вопросы, касающиеся участия закупках заказчиков, осуществляющих закупочную деятельность по Закону № 223-ФЗ, а также оценить основные проблемы при прохождении сертификации
            </p>
        </div>
    </div>
</section>
{{/content}}
{{/extend}}