{{#extend "layout"}}
  {{#content "main"}}
    <div class="gl__page-content">

      {{#each links }}
        <a target="_blank" href="{{ this.url }}" class="test-link__wrapper">
          <div class="test-links__link">{{ this.name }}</div>

          <img src="img/test-links/{{ this.img }}" alt="" class="test-links__img">
        </a>
      {{/each}}
    </div>

  {{/content}}
{{/extend}}








































