{{#extend "layout"}}
  {{#content "main"}}
    <div class="gl__page-content">

      {{#each links }}
        <div class="test-link__wrapper">
          <a class="test-links__link" target="_blank" href="{{ this.url }}">{{ this.name }}</a>

          <img src="img/test-links/{{ this.img }}" alt="" class="test-links__img">
        </div>
      {{/each}}
    </div>

  {{/content}}
{{/extend}}








































