<section class="b-tariffs-list">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Тарифы
    </h2>

    {{> common/b-tariffs-list/content }}

    <a href="" download class="faq__download-link">
      <svg width="24" height="24" aria-hidden="true" class="faq__download-link-icon">
        <use xlink:href="#download-top"></use>
      </svg>
      <span>
      <span class="faq__download-link-name">
        Подробное описание тарифа Видеомониторинг
      </span>
        (PDF, 395.3 KB)
    </span>
    </a>
  </div>
</section>
