<li class="gl-slider__slide swiper-slide gl__white-container cashback__slide gl__link-arrow-container">
  <img src="{{ img }}" alt="" class="cashback__slide-background">
  <div class="cashback__slide-content-wrapper">
    <div class="cashback__slide-title">{{ title }}</div>
    <div class="cashback__slide-text">{{ text }}</div>
  </div>

  <a href="" class="cashback__slide-link">Подробнее</a>
</li>
