<section class="b-services-links gl__section">
  <div class="gl__page-content">

    <ul class="b-services-links__grid-wrapper">
      {{#each b-services-links }}
        <li class="b-services-links__grid-item">
          <a href="" class="b-services-links__grid-link">
            <span class="b-services-links__grid-link-text">
              {{ this }}
            </span>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</section>
