<section class="rates-info" id="rates-mobile-info-host">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Тариф «Много минут»
    </h2>

    {{> common/rates-info-form }}
  </div>
</section>
