<section class="faq" id="faq-host">
	<div class="gl__page-content">
		<div class="faq__content">
			<h2 class="gl__title">Часто задаваемые вопросы</h2>
			<form action="">
				<input type="text" class="faq__field" placeholder="Что будем искать?">
			</form>
		</div>
	</div>
</section>