.b-telephone-info {
  padding: 5rem 0;

  @include for-bg-down {
    padding: 3rem 0;
  }

  @include for-sm-down {
    padding: 2.6rem 0;
  }
}

.b-telephone-info__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 11.6rem;

  @include for-bg-down {
    grid-gap: 6rem;
    grid-template-columns: 1fr;
  }
}
