<a href="" download class="archive-file__file-link">
    <svg width="24" height="24" aria-hidden="true" class="archive-file__file-link-icon">
        <use xlink:href="#download2"></use>
    </svg>
  <div>
    <span class="archive-file__file-link-title">{{ archive-file.name }}</span>
    <span class="archive-file__file-link-subtitle">{{ archive-file.size }}</span>
  </div>
</a>
