<section class="b-about-service">
  <div class="gl__page-content">
    <div class="b-about-service__content">
      <button class="gl__drop-menu-btn js-drop-menu-btn b-about-service__btn">
        <span class="b-about-service__btn-label">{{b-about-service--accordion.name}}</span>
        <svg class="gl__drop-menu-icon b-about-service__btn-icon" width="24" height="24" aria-hidden="true">
          <use xlink:href="#arrow-down"></use>
        </svg>
      </button>
      <div class="gl__drop-menu-container js-drop-menu-container b-about-service__wrapper">
        <div class="gl__drop-menu js-drop-menu b-about-service__content-block">
          {{{b-about-service--accordion.contentText}}}
        </div>
      </div>
    </div>
  </div>
</section>