<section class="b-info">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Об услуге
    </h2>

    <p class="b-info__text mod-padding-left">
      {{ about-service.text }}
    </p>
  </div>
</section>
