<section class="b-about-service" id="b-about-service-host">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Об услуге
    </h2>

    <p class="b-about-service__text">
      {{ about-service.text }}
    </p>
  </div>
</section>
