<section class="b-additional-services">
  <div class="gl__page-content">
    <div class="b-additional-services__content">
      <h2 class="gl__title">Дополнительные услуги</h2>
      <ul class="b-additional-services__list">
        {{#each additionalServices }}
        <li class="b-additional-services__item">
          <button class="gl__drop-menu-btn js-drop-menu-btn b-additional-services__btn">
            <span class="b-additional-services__btn-label">{{this.name}}</span>
            <svg class="gl__drop-menu-icon b-additional-services__btn-icon" width="24" height="24" aria-hidden="true">
              <use xlink:href="#arrow-down"></use>
            </svg>
          </button>
          <div class="gl__drop-menu-container js-drop-menu-container b-additional-services__wrapper">
            <ul class="gl__drop-menu js-drop-menu b-additional-services__content-list">
              {{#each this.serviceList }}
              <li class="b-additional-services__content-item">
                <div class="b-additional-services__content-item-name-container">
                  <span class="b-additional-services__content-item-name">{{this.name}}</span>
                  {{> common/btn-info content-info=this.name }}
                </div>
                <span class="b-additional-services__content-item-cost">{{{this.cost}}}</span>
              </li>
              {{/each}}
            </ul>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>