<section class="b-advantages-list">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Преимущества
    </h2>

    <ul class="b-advantages-list__list">
      {{#each advantagesList }}
        <li class="b-advantages-list__item">
          <img src="{{ this.img }}" alt="" class="b-advantages-list__item-icon">
          <div class="b-advantages-list__item-caption">{{ this.caption }}</div>
        </li>
      {{/each}}
    </ul>
  </div>
</section>
