<div class="gl__page-content">
  <div class="b-link-back">
    <a href="{{ url }}" class="b-link-back__link">
      <svg width="20" height="20" aria-hidden="true" class="b-link-back-icon">
        <use xlink:href="#arrow-line-left"></use>
      </svg>
      Вернуться
    </a>
  </div>
</div>
