<div>
  <h3 class="b-support__contacts-title">Служба поддержки</h3>
  <span class="b-support__contacts-label">Для оперативной связи со службой поддержки обращайтесь одним из удобных способов</span>

  <a class="b-support__contacts-tel" title="Позвонить" href="tel:+78432222222">(843) 238-00-00</a>

  <ul class="b-socials">
    <li class="b-socials__item">
      <a class="b-socials__link" title="Написать в Whatsapp" href="#">
              <span class="b-socials__link-content whatsapp">
              <svg width="22" height="22" aria-hidden="true" class="b-socials__link-icon">
                <use xlink:href="#soc-whatsapp"></use>
              </svg>
              </span>
      </a>
    </li>
    <li class="b-socials__item">
      <a class="b-socials__link" title="Написать в Telegram" href="#">
              <span class="b-socials__link-content telegram">
              <svg width="22" height="20" aria-hidden="true" class="b-socials__link-icon">
                <use xlink:href="#soc-telegram"></use>
              </svg>
              </span>
      </a>
    </li>
    <li class="b-socials__item">
      <a class="b-socials__link" title="Написать в VK" href="#">
              <span class="b-socials__link-content vk">
              <svg width="26" height="16" aria-hidden="true" class="b-socials__link-icon">
                <use xlink:href="#soc-vk"></use>
              </svg>
              </span>
      </a>
    </li>
    <li class="b-socials__item">
      <a class="b-socials__link" title="Написать в Facebook" href="#">
              <span class="b-socials__link-content facebook">
              <svg width="10" height="22" aria-hidden="true" class="b-socials__link-icon">
                <use xlink:href="#soc-facebook"></use>
              </svg>
              </span>
      </a>
    </li>
  </ul>
</div>
