<!--
  text - текст кнопки
  iconIsRight - деф., иконка справа
-->

<button type="button" class="gl__btn-settings {{#if iconIsRight}}mod-right-icon{{/if}} js-open-filter-modal">
  {{ text }}
  <svg width="20" height="20" aria-hidden="true" class="gl__btn-settings-icon">
    <use xlink:href="#settigs"></use>
  </svg>
</button>
