<a href="" download class="dpf-file__file-link">
  <svg width="30" height="40" aria-hidden="true" class="dpf-file__file-link-icon">
    <use xlink:href="#pdf-file"></use>
  </svg>
  <div>
    <div class="dpf-file__file-link-title">{{ pdf-file.size }}</div>
    <div class="dpf-file__file-link-subtitle">{{ pdf-file.caption }}</div>
  </div>
</a>
