<form class="roaming-without-worries__form" data-need-validation data-parsley-validate data-parsley-focus="none">
  <div class="roaming-without-worries__form-item">
    <div class="roaming-without-worries__form-title-wrapper">
      <div class="roaming-without-worries__form-title">
        Куда вы едете?
      </div>
    </div>

    <div class="roaming-without-worries__selects-wrapper">
      {{> common/controls/select selects=country-select }}
    </div>
  </div>

  <div class="roaming-without-worries__form-item">
    <div class="roaming-without-worries__form-title-wrapper">
      <div class="roaming-without-worries__form-title">
        Ваш тариф
      </div>

      {{> common/btn-info content-info="Информация о тарифе" iconQuestion=true }}
    </div>

    <div class="roaming-without-worries__selects-wrapper">
      {{> common/controls/select selects=rate-select }}
    </div>
  </div>

  <div class="roaming-without-worries__form-item">
    <div class="roaming-without-worries__form-title-wrapper">
      <div class="roaming-without-worries__form-title">
        Что для вас важно в поездке?
      </div>
    </div>

    <div class="roaming-without-worries__checkbox-wrapper">
      <div class="roaming-without-worries__checkbox">
        {{> common/controls/input-checkbox
          required=true
          caption="Звонки"
          name="checkbox-important"
        }}
      </div>
      <div class="roaming-without-worries__checkbox">
        {{> common/controls/input-checkbox
          required=true
          caption="Интернет"
          name="checkbox-important"
        }}
      </div>
    </div>
  </div>

  <div class="roaming-without-worries__btn-wrapper">
    <button type="submit" class="roaming-without-worries__btn gl__main-btn">Узнать стоимость</button>
  </div>
</form>
