.support {
  padding: 4rem 0 28rem;

  @include for-sm-down {
    padding: 2rem 0 4rem;
  }
}

.support__subtitle {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.015em;
  margin-bottom: 6.4rem;

  @include for-sm-down {
    font-size: 2.6rem;
    line-height: 3.4rem;
    margin-bottom: 3rem;
  }
}

.support__tel {
  font-weight: 300;
  font-size: 5rem;
  line-height: 6rem;
  margin-bottom: 3.6rem;
  display: block;

  @include for-sm-down {
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 3rem;
  }
}

.support__messages-list {
  display: flex;
  align-items: center;
  margin-bottom: 6.8rem;

  @include for-sm-down {
    margin-bottom: 5.8rem;
  }
}

.support__messages-link {
  padding: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include for-sm-down {
    padding: 1.2rem;
  }
}

.support__messages-icon {
  height: 5rem;

  @include for-sm-down {
    height: 4.4rem;
  }
}

.support__links-list {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 2.4rem;
  margin-bottom: 12rem;

  @include for-sm-down {
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
  }
}

.support__link-item {
  padding: 3.2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 14rem;
}

.support__link-item-title {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.6rem;
}

.support__link {
  display: flex;
  align-items: center;
  margin-top: 3rem;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  color: var(--main-color);

  &:hover {
    color: var(--main-color-hover) !important;

    .support__link-icon {
      fill: var(--main-color-hover) !important;
    }
  }
}

.support__link-icon {
  height: 3rem;
  margin-left: 1rem;
  fill: var(--main-color);
}

.support__input-block {
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;

  @include for-sm-down {
    margin-bottom: 5rem;
  }
}

.support__input-container {
  @include for-bg-down {
    width: 100%;
  }
}

.support__input-wrapper {
  display: block;
  border-bottom: 1px solid var(--main-text-color);
  position: relative;
  min-width: 84.8rem;

  @include for-bg-down {
    min-width: auto;
    width: 100%;
  }
}

.support__input {
  padding: 2rem 3rem 2rem 0;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  width: 100%;

  &::placeholder {
    color: var(--main-grey-color);
  }
}

.support__input-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 2.4rem;
  fill: var(--main-text-color);
}

.support__input-hint {
  margin-top: 2rem;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--main-grey-color);

  .mark {
    color: var(--main-text-color);
  }
}

.support__info-links-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;

  @include for-bg-down {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem 3rem;
  }

  @include for-sm-down {
    grid-template-columns: repeat(2, 1fr);
  }

  @include for-xs-down {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
}

.support__info-links-caption {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 3.4rem;

  @include for-sm-down {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
}

.support__info-link-item-list {
  margin: -.8rem;

  @include for-sm-down {
    margin: -.4rem;
  }
}

.support__info-link {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  padding: .8rem;
  display: block;

  @include for-sm-down {
    padding: .4rem;
  }
}
