<section class="info-drop-menu" id="info-drop-menu-host">
  <div class="gl__page-content">
    <button type="button" class="info-drop-menu__title gl__drop-menu-btn js-drop-menu-btn">
      Включено в абонентскую плату
      <svg width="32" height="32" aria-hidden="true" class="info-drop-menu__title-icon gl__drop-menu-icon">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </button>

    <div class="gl__drop-menu-container js-drop-menu-container">
      <div class="gl__drop-menu js-drop-menu">
        <div class="gl__text">
          <h2>1. Организатор маркетинговой акции</h2>
          <p>Организатором маркетинговой акции является ПАО «Таттелеком».</p>
          <h2>2. Условие участие в акции</h2>
          <p>Вновь подключающимся абонентам к СПД, КТВ/ЦКТВ ПАО «Таттелеком» предоставляются условия акции с промо-периодом 3 месяца и абонентской платой 333 рубля/мес.</p>
          <p>Стоимость подключения услуг в рамках акции «333» устанавливается в размере 0 руб. за каждую услугу.</p>
          <p>Действующим абонентам СПД, КТВ/ЦКТВ ПАО «Таттелеком», изъявившим желание подключиться к данному тарифному плану, в том числе абонентам, обратившимся с намерением расторгнуть договор, предоставляется право участия в маркетинговой акции (согласно пункту 4 Настоящего Приложения).</p>
          <h2>3. Территория действия маркетинговой акции</h2>
          <p>Маркетинговая акция действует в гг. Альметьевск, Азнакаево, Бугульма, Елабуга, Джалиль, Заинск, Зеленодольск, Казань, Лениногорск, Менделеевск, Набережные Челны, Нижнекамск на территории Пилотных зон ПАО «Таттелеком».</p>
          <p>Под термином «Пилотные зоны» понимается список домов с указанием города, улицы, номера дома, на которые распространяется акция. Список адресов, входящих в Пилотную зону размещается на сайте tattelecom.ru.</p>
          <p>Обязательным условием включения дома в территорию Пилотных зон является наличие иного оператора, предоставляющего проводные услуги связи.</p>
          <p>Перечень домов, где данный тарифный план не может быть применен, фиксируется отдельным распоряжение к данному Приказу за подписью директора по работе с массовым рынком.</p>
          <h2>4. Условия Комплексного тарифа</h2>
          <p><b>Абонентская плата комплексного тарифа «333»</b><br>400 ₽/мес.</p>
          <p><b>Мобильная связь</b><br>По условиям тарифа «333 - Мобильная связь»</p>
          <p><b>Интернет при подключении по технологии Ethernet, MetroEthernet, GPON (многоквартирный дом)</b><br>до 100 Мбит/сек круглосуточно</p>
          <p><b>Телевидение при подключении КТВ, ЦКТВ</b><br>Базовый пакет</p>
          <p><i>Примечания</i><br >Для участия в маркетинговой акции абонент в обязательном порядке должен получить новый абонентский номер мобильной связи ПАО «Таттелеком».</p>
          <p>Комплексный тариф предоставляется на указанных условиях только при наличии у абонента всех услуг, входящих в комплексный тариф. В случае отказа от одной из услуг комплексного тарифа, услуги предоставляются на условиях, вне комплексного тарифа.</p>
          <p>Услуги мобильной связи предоставляются на условиях тарифного плана «333 - Мобильная связь».</p>
          <p>Заявленная скорость доступа в Интернет не является гарантированной в любой момент времени, значение является максимальной скоростью доступа.</p>
          <p>Количество каналов, входящих в Базовый пакет, зависит от типа подключения КТВ или ЦКТВ.</p>
          <p>Все услуги, входящие в комплексный тариф, должны быть оформлены на одного абонента и на один адрес подключения.</p>
          <p>Обслуживание абонента осуществляется в рамках единого лицевого счета. Оплата комплексного тарифа производится по номеру мобильной связи, входящего в состав комплексного тарифа «333».</p>
          <p>Для активации комплексного тарифа необходимо внести авансовый платёж в размере одной абонентской платы комплексного тарифа 400 руб. или 333 руб. (при подключении с промо-периодом) на номер мобильной связи в течение 7 (семи) дней с момента активации одной из проводных услуг.</p>
          <p>Услуги подвижной связи активируются с момента пополнения баланса.</p>
          <p>Выдача сим-карт осуществляется сотрудниками БКС одномоментно с подключением проводных услуг. Для действующих абонентов в рамках проводных услуг – выдача сим-карты осуществляется в офисах продаж.</p>
          <p>В случае не поступления первого платежа в сроки, обозначенные выше, производится блокировка доступа ко всем услугам по лицевому счету.</p>
          <p>Если в течение 7 дней с момента активации одной из проводных услуг комплекс из трех услуг неактивен (активировано менее трех услуг) – происходит блокировка доступа ко всем услугам по лицевому счету.</p>
          <p>Далее, по мере пополнения баланса и по мере активации всех трех услуг – происходит автоматическая разблокировка услуг по лицевому счету.</p>
          <p>В течение первых 7 дней с момента подключения абоненту предоставляются услуги в соответствии с условиями конвергентного тарифа «333» в кредит.  По услугам подвижной связи в течение первых 7 дней не предоставляются услуги международной исходящей связи и услуги мобильной коммерции.</p>
          <p>Первые 7 дней с момента подключения действует кредитный метод расчета. По истечению 7 дней кредитный метод расчета меняется на авансовый с помесячным списанием.</p>
          <p>В месяц подключения (с даты подключения по конец календарного месяца) на комплексном тарифе устанавливается абонентская плата в размере 0 руб.</p>
          <p>С месяца, следующего за месяцем подключения и далее, абонентская плата списывается ежемесячно авансом в полном объеме с лицевого счета, 1 числа каждого месяца. При отсутствии полной суммы, необходимой для списания, происходит блокировка всех услуг, входящих в комплексный тариф. С момента блокировки услуг (по инициативе абонента или по инициативе ПАО «Таттелеком»), абонентская плата не начисляется до поступления необходимой суммы на счёт. При пополнении баланса, достаточного для списания абонентской платы в полном объеме, доступ к услугам возобновляется до очередного списания абонентской платы. В случае, если возобновление предоставления услуг после блокировки не совпадает с началом расчётного периода, абонентская плата списывается в полном объеме.</p>
          <p>На комплексном тарифе «333» не предоставляется бронирование (приостановление) услуг.</p>
          <p>Услуги оказываются при наличии технической возможности предоставления всех услуг, входящих в комплексный тариф.</p>
          <p>Цены указаны для абонентов физических лиц с учетом НДС согласно НК РФ.</p>
          <h2>5. Промо-период</h2>
          <p>Для абонентов, впервые подключающих СПД и/или КТВ/ЦКТВ и мобильную связь ПАО «Таттелеком» на комплексный тариф «333», предоставляется абонентская плата 333 руб./мес. на 3 календарных месяца в следующем порядке:</p>
          <ul>
            <li>В месяц подключения (с даты подключения по конец календарного месяца) на комплексном тарифе устанавливается абонентская плата в размере 0 руб.;</li>
            <li>С месяца следующего за месяцем подключения устанавливается абонентская плата 333 руб./мес. сроком на 3 календарных месяца, по истечении 3 месяцев устанавливается абонентская плата по комплексному тарифу согласно пункту 4.</li>
          </ul>
          <p>Маркетинговая акция не применяется, если по адресу подключения производилось расторжение договора по услугам СПД менее, чем за 30 дней до даты заключения нового договора.</p>
          <h2>С месяца следующего за месяцем подключения устанавливается абонентская плата 333 руб./мес. сроком на 3 календарных месяца, по истечении 3 месяцев устанавливается абонентская плата по комплексному тарифу согласно пункту 4.</h2>
          <p>В рамках действия комплексного тарифа абонентская плата распределяется по услугам.</p>
          <p><i>В процентном выражении:</i><br>Мобильная связь - 100%<br>СПД - 0%<br>КТВ/ЦКТВ - 0%</p>
          <p><i>В денежном выражении (руб./мес.):</i><br>Мобильная связь - 333/400<br>СПД - 0<br>КТВ/ЦКТВ - 0</p>
          <p>333 руб. – абонентская плата на период действия промо-периода, 400 руб. – абонентская плата тарифа.</p>
          <h2>7. Условия тарификации вне комплексного тарифа</h2>
          <p>В случае изменения тарифного плана на услугу СПД, КТВ/ЦКТВ, мобильной связи или при расторжении договора на одну из услуг комплексный тариф прекращает свое действие и предоставление услуг абоненту производится на условиях вне комплексного тарифа.</p>
          <p>Вне рамок действия комплексного тарифа абонентская плата на услугах устанавливается в следующем порядке и размере:</p>
          <p><i>В денежном выражении (руб./мес.):</i><br>Мобильная связь - 300<br>СПД - 360<br>КТВ/ЦКТВ - 270</p>
          <p>Вне рамок действия комплексного тарифа условия предоставляемых услуг не меняются, меняется размер абонентской платы по каждой из услуг в соответствии с таблицей, списание абонентской платы происходит посуточно, пропорционально количеству дней в расчёт ном периоде.</p>
          <h2>8. Условия тарифного плана мобильной связи</h2>
          <h3>Пакет услуг, включенных в абонентскую плату</h3>
          <div class="info-drop-menu__flex-list-wrapper">
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Абонентская плата тарифного плана «333 - Мобильная связь» в составе комплексного тарифа</div>
              <div class="info-drop-menu__flex-value">согласно пункту 6</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Абонентская плата тарифного плана «333 - Мобильная связь» вне комплексного тарифа</div>
              <div class="info-drop-menu__flex-value">согласно пункту 7</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Исходящие вызовы на мобильные и городские номера РТ (за исключением номеров Оператора), минут в месяц</div>
              <div class="info-drop-menu__flex-value">300</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Исходящие вызовы на номера Оператора, минут в месяц </div>
              <div class="info-drop-menu__flex-value">700</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Мобильный Интернет, Гб в месяц </div>
              <div class="info-drop-menu__flex-value">безлимит</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Тетеринг, Гб в месяц</div>
              <div class="info-drop-menu__flex-value">Тетеринг, Гб в месяц</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Исходящие SMS на номера мобильных операторов РТ, SMS в месяц</div>
              <div class="info-drop-menu__flex-value">100</div>
            </div>
          </div>
          <h3>Стоимость услуг, не включенных в пакет и сверх предоставленного пакета</h3>
          <div class="info-drop-menu__flex-list-wrapper">
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Подключение дополнительного пакета 5 Гигабайт. Подключение осуществляется абонентом самостоятельно по USSD-команду *116*334#. Неизрасходованный трафик не переносится на следующий месяц.</div>
              <div class="info-drop-menu__flex-value">50</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Исходящие вызовы на мобильные и городские номера РТ (за исключением номеров Оператора), доступ к IP-телефонии, руб. за 1 мин</div>
              <div class="info-drop-menu__flex-value">1,5</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Исходящие вызовы на номера Оператора (внутри сети), руб. за 1 мин.</div>
              <div class="info-drop-menu__flex-value">1</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Исходящие вызовы на мобильные и городские номера РФ, руб. за 1 мин.</div>
              <div class="info-drop-menu__flex-value">3</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Исходящие SMS на номера мобильных операторов РТ, руб. за 1 SMS</div>
              <div class="info-drop-menu__flex-value">1</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Исходящие SMS на номера мобильных операторов РФ, руб. за 1 SMS</div>
              <div class="info-drop-menu__flex-value">2</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Исходящие местные вызовы на 01, 02, 03, 04, 112, 123, 118-08, 118-18, 118-88, 118-00,8-148, 8-128, (843)222-22-22, (843)238-00-00, (843) 561-09-92</div>
              <div class="info-drop-menu__flex-value">0</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Определение номера</div>
              <div class="info-drop-menu__flex-value">0</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Информирование абонентов посредством SMS, USSD</div>
              <div class="info-drop-menu__flex-value">0</div>
            </div>
            <div class="info-drop-menu__flex">
              <div class="info-drop-menu__flex-caption">Городской номер, ₽</div>
              <div class="info-drop-menu__flex-value">99</div>
            </div>
          </div>
          <p>На тарифном плане предоставляется федеральный или городской номер.</p>
          <p>Система оплаты – авансовая. Тарификация вызовов – поминутная. Интервал тарификации услуг Интернет – 1 байт. Соединения менее 3-х секунд не тарифицируются.</p>
          <p>Тарифы приведены в рублях с учетом НДС в соответствии с налоговым кодексом РФ. Тарифы действительны при нахождении Абонента на территории Республики Татарстан. При нахождении на территории других субъектов Федерации или за пределами Российской Федерации, действуют роуминговые тарифы.</p>
          <p>При подключении клиенту доступен следующий базовый пакет услуг: Местные вызовы, Междугородные вызовы из РТ, Национальный роуминг, Определитель номера, Переадресация вызова, Ожидание вызова, Удержание вызова, SMS, USSD-сервис, Мобильный интернет (пакетная передача данных), Уведомление о пропущенных вызовах.</p>
          <p>Все услуги предоставляются при наличии технической возможности, оказываются конечным потребителям и не предназначены для перепродажи третьим лицам.</p>
          <p>Тарифный план предназначен для использования на смартфоне/телефоне. Услуги не предоставляются при использовании SIM-карты на данном тарифном плане в модеме/роутере.</p>
          <p>При достижении порога отключения производится блокировка услуг. Разблокировка абонемента происходит после поступления достаточных средств на лицевой счет Абонента, в результате чего баланс лицевого счета должен превысить порог отключения.</p>
          <p>При очередном расчете абонентской платы проверяется достаточность баланса для ее списания, если баланс не достаточен для списания абонентской платы, то финансовая блокировка наступает при положительном балансе.</p>
          <p>С момента финансовой блокировки обслуживания Абонента (по инициативе ПАО «Таттелеком»), абонентская плата по условиям тарифного плана и плата за дополнительные услуги не начисляются.</p>
          <p>Информацию о состоянии баланса можно получить через USSD запрос *100#. Справочную информацию об условиях обслуживания на тарифном плане можно получить по телефону 118-08, (843) 222-22-22 (вызовы не тарифицируются).</p>
          <p>ПАО «Таттелеком» вправе в одностороннем порядке изменять условия обслуживания и стоимость услуг, уведомив об этом абонентов через СМИ и на сайте tattelecom.ru не позднее, чем за 10 дней до предполагаемой даты изменения условий.</p>
          <p>Под мобильной связью и мобильными телефонами понимается подвижная радиотелефонная связь и телефонные номера абонентов операторов подвижной радиотелефонной связи. Городские телефоны – телефонные номера абонентов операторов фиксированной связи. РТ – Республика Татарстан, РФ – Российская Федерация.</p>
          <p>Дополнительные услуги Мобильной связи оказываются по базовым тарифным планам ПАО «Таттелеком».</p>
        </div>
      </div>
    </div>
  </div>
</section>
