<section class="info-drop-menu" id="info-drop-menu-host">
  <div class="gl__page-content">
    <button type="button" class="info-drop-menu__title gl__drop-menu-btn js-drop-menu-btn">
      Дополнительная информация
      <svg width="32" height="32" aria-hidden="true" class="info-drop-menu__title-icon gl__drop-menu-icon">
        <use xlink:href="#arrow-down"></use>
      </svg>
    </button>

    <div class="gl__drop-menu-container js-drop-menu-container">
      <div class="gl__drop-menu js-drop-menu">
        <div class="gl__text">
          <ol>
            <li>Маркетинговая акция «333» не может применяться в сочетании с другими маркетинговыми акциями, в рамках которых предоставляются скидки на абонентскую плату, в том числе в сочетании с программами «Вместе выгодно», «Вместе выгодно 2.0».</li>
            <li>Все услуги оказываются абонентам – физическим лицам и не предназначены для перепродажи третьим лицам.</li>
            <li>Тарифы приведены в рублях с учетом НДС в соответствии с Налоговым кодексом РФ.</li>
            <li>Услуги оказываются при наличии технической возможности.</li>
          </ol>
          <p>Акция действует на ограниченной территории в гг. Альметьевск, Азнакаево, Бугульма, Елабуга, Джалиль, Заинск, Зеленодольск, Казань, Лениногорск, Менделеевск, Набережные Челны, Нижнекамск.</p>
          <p>Для активации комплексного тарифа необходимо внести авансовый платёж в размере одной абонентской платы комплексного тарифа 450 руб. или 350 руб. (при подключении с промо-периодом) на номер мобильной связи в течение 3х дней с момента подключения.</p>
          <p>Абонентская плата 333 руб/мес действительна первые 3 календарных месяца в рамках акции «333», для впервые подключившихся абонентов по комплексному тарифу услуг СПД, КТВ/ЦКТВ и мобильной связи по тарифу «333». Далее цена комплексного тарифа 400 руб/мес. Акция доступна для подключения до 31.12.2020г. Стоимость подключения к услугам связи взимается отдельно по каждой услуге, подключаемой абонентом, согласно действующим тарифам и акциям.</p>
          <p>Заявленная скорость интернета не является гарантированной в любой момент времени и зависит от множества параметров.</p>
          <p>160 каналов (из них 37 в НD-формате) предоставляются в рамках акции «Ультра». Акция проводится по З1.12.2020г. Список телеканалов доступен на сайте tattelecom.ru.</p>
          <p>Роутер предоставляется в аренду. Стоимость аренды в соответствии с действующими тарифами. Подробности на tattelecom.ru или у специалистов продаж.</p>
          <p>Услуги оказываются ПАО «Таттелеком» на основании лицензий No 148617, 148614, 155057, 155058, 182875 при наличии технической возможности. Информация, содержащаяся в данном материале, приведена в ограниченном виде и указана по состоянию на 3.12.2020г. Подробные условия акций, правила проведения, способы и места подключения услуг – по тел. (843) 222-22-22</p>
          <p>Тарифы приведены в рублях с учетом НДС в соответствии с НК РФ.</p>
        </div>
      </div>
    </div>
  </div>
</section>
