.checkbox__wrapper {
  display: flex;
  cursor: pointer;

  &.parsley-error {

    .checkbox__content {
      border-color: red;
    }

    .checkbox__text {
      color: red;
    }


    +.parsley-errors-list {
      display: none;
    }
  }

  & + & {
    margin-top: 2.2rem;
  }
}

.checkbox {
  display: none;

  &:checked {
    + .checkbox__content {
      .checkbox__content-icon {
        opacity: 1;
      }
    }
  }
}

.checkbox__content {
  width: 2.4rem;
  flex: 0 0 2.4rem;
  height: 2.4rem;
  background: #fff;
  border-radius: 4px;
  margin-right: 1.2rem;
  position: relative;

  &.mod-main {
    border: 1px solid #D4D4D4;

    .checkbox__content-icon {
      fill: var(--main-color);
    }
  }

  &.mod-business {
    .checkbox__content-icon {
      fill: var(--main-color-business);
    }
  }

  &.mod-modal {
    background: var(--border-color);

    .checkbox__content-icon {
      fill: #007BC3;;
    }
  }

  &.mod-filter {
    width: 1.4rem;
    flex: 0 0 1.4rem;
    height: 1.4rem;
    border-radius: 2px;
    border: 1px solid var(--main-grey-color);
    margin-right: 1.4rem;
  }
}

.checkbox__content-icon {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.6rem;
  height: 1.6rem;
  opacity: 0;
  transition: opacity 50ms;
}

.checkbox__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 2.2rem;
  letter-spacing: 0.02em;
  padding-top: 2px;
  user-select: none;

  &.mod-main {
    color: #F9FAFB;
  }

  &.mod-black {
    color: var(--main-text-color);
  }

  &.mod-modal {
    color: var(--grey-text);
  }

  &.mod-grey-dark {
    color: var(--main-grey-color);
  }

  &.mod-filter {
    line-height: 1.6rem;
    user-select: auto;
    padding-top: 0;
  }
}
