.gl-input__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;

  .parsley-errors-list {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    color: red;
    font-size: 1.2rem;
  }
}

.gl-input__title {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.02em;
  color: var(--main-grey-color);

  &.mod-white {
    color: #fff;
  }
}

.gl-input__input {
  background-color: #fff;
  box-shadow: var(--box-shadow-input);
  border-radius: 4px;
  padding: 1.2rem 1.4rem; // -2px в счёт border-а
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  border: 2px solid transparent;
  transition: border-color 250ms;
  width: 100%;

  &.mod-textarea {
    height: 9.4rem;
    resize: none;
  }

  &::placeholder {
    color: var(--main-grey-color);
  }

  &.parsley-error {
    border-color: red;
  }
}
