<section class="b-abb-services-banner">
  <div class="gl__page-content">
    <div class="b-abb-services-banner__content">
      <img src="img/common/b-page-banners/b-abb-services-banner.jpg" alt=""
           class="b-abb-services-banner__img gl__bg-hide">
      <img src="img/common/b-page-banners/test-2.jpg" alt=""
           class="b-abb-services-banner__img gl__bg-show">

      <div class="b-abb-services-banner__content-info-wrapper">
        <h2 class="gl__title mod-white">
          Корпоративная карта – удобный способ организации расчетов для бизнеса
        </h2>
        <div class="b-abb-services-banner__link-wrapper">
          <a href="" class="b-abb-services-banner__link">Тарифы</a>
        </div>
        <div class="b-abb-services-banner__link-wrapper">
          <a href="" class="b-abb-services-banner__link">Подробные условия</a>
        </div>
      </div>
    </div>
  </div>
</section>
