<section class="b-city-rates gl__section">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Тарифы
    </h2>

    <div class="js-menu-tabs-container">
      {{> common/controls/b-menu-tabs menuTabs=cityRatesTabs }}

      {{#each cityRatesContentsList }}
        <div class="js-menu-tab-content gl__menu-tab-content" data-menu="{{ this.type }}">
            <div class="b-city-rates__content">
              <div class="b-city-rates__content-text">
                {{ this.text }}
              </div>
              <div class="b-city-rates__content__price">
                {{ this.price }}
              </div>
            </div>

            <div class="gl__b-hint-nds">
              Тарифы указаны с учетом НДС
            </div>
          </div>
      {{/each}}
    </div>
  </div>
</section>
