<section class="b-info">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Об услуге
    </h2>

    <p class="b-info__text mod-padding-left">
      Организация виртуальных каналов связи между цифровой АТС клиента и телефонной сетью «Таттелеком». Услуга позволяет
      подключить по одному кабелю несколько телефонных линий через сеть доступа в Интернет. При этом можно использовать
      любое количество прямых телефонных номеров.
    </p>

    <h3 class="b-info__subtitle">
      Технология sip-trunking
    </h3>

    <p class="b-info__text mod-padding-left">
      При организации SIP-trunk поверх интернет-канала (интернет-кабель, проведенный в ваш офис) организуется несколько
      виртуальных каналов (транков), которые объединяются в транк-группу. На транк-группу выделяется диапазон нумерации.
      При необходимости предоставляются дополнительные виртуальные каналы, а также дополнительные номера. Таким образом
      происходит наращивание системы телефонной связи клиента. Данная технология требует организации широкополосного
      канала связи.
    </p>

    <h3 class="b-info__subtitle">
      Услуга подходит вам, если…
    </h3>

    <ul class="b-info__list-width-line-mark mod-padding-left">
      {{#each aboutServiceList }}
        <li class="b-info__item-line-mark">
          {{ this }}
        </li>
      {{/each}}
    </ul>
  </div>
</section>
