<section class="b-scheme-work">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Схема работы SIP-trunk
    </h2>

    <div class="b-scheme-work__content">
      <div class="b-scheme-work__text-wrapper">
        <p class="b-info__text b-scheme-work__text">
          SIP-trunk позволяет создать корпоративную телефонную сеть с короткой нумерацией, разграничением прав доступа,
          управлением входящими звонками. Кроме того, сотрудники вашей компании смогут звонить не только с аналоговых
          телефонных аппаратов, но и по IP-телефонам и даже с КПК и компьютера (для этого необходима установка
          программного soft-фона).
        </p>
        <p class="b-info__text b-scheme-work__text">
          Не стоит беспокоиться, если вы часто переезжаете из одного офиса в другой. При необходимости мы произведем
          перенос линий с сохранением нумерации.
        </p>
      </div>

      <img src="img/b-sip-trunk/scheme.jpg" alt="" class="b-scheme-work__img">
    </div>
  </div>
</section>
