<section class="useful-information" id="useful-information-host">
  <div class="gl__page-content">
    <h2 class="gl__title">Полезная информация</h2>
    <div class="gl-slider js-swiper-3">
      <div class="gl-slider__container swiper-container js-swiper-container-3">
        <ul class="gl-slider__wrapper swiper-wrapper">
          {{> main-page/useful-information/components/slide img="img/main-page/useful-information/image-1.jpg" title="Домофония" }}
          {{> main-page/useful-information/components/slide img="img/main-page/useful-information/image-2.jpg" title="Роуминг" }}
          {{> main-page/useful-information/components/slide img="img/main-page/useful-information/image-3.jpg" title="Приложения Таттелеком" }}
        </ul>
      </div>

<!--      {{> common/btns-slider}}-->
    </div>
  </div>
</section>
