.b-ip-telephony-list {
  padding: 2.6rem 0 5rem;

  @include for-lg-down {
    padding: 2rem 0 3rem;
  }

  @include for-sm-down {
    padding: 1.2rem 0 2.6rem;
  }
}

.b-ip-telephony-list__title {
  font-size: 2.6rem;
  line-height: 3.4rem;
  letter-spacing: 0.015em;
  margin-bottom: 3rem;
}

.b-ip-telephony-list__item {
  font-weight: 300;
  font-size: 16px;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  padding-left: 3.2rem;
  counter-increment: num;
  position: relative;

  &:before {
    content: counter(num) '.';
    position: absolute;
    left: 0;
    top: 0;
  }

  & + & {
    margin-top: .4rem;
  }
}
