<section class="b-telephone-services-links">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Сервисы и услуги телефонной связи
    </h2>

    <ul class="b-telephone-services-links__link-list">
      {{#each linksList }}
        {{> b-telephone-services-page/b-telephone-services-link-item }}
      {{/each}}
    </ul>
  </div>
</section>
