<li class="b-telephone-services-links__item gl__white-container">
  <div class="b-telephone-services-links__item-title">
    {{ this.title }}
  </div>
  <div class="b-telephone-services-links__item-caption">
    {{ this.caption }}
  </div>

  <a href="/b-telephone-service-item.html" class="b-telephone-services-links__item-link">
    Подробнее
    <svg width="20" height="20" aria-hidden="true" class="b-telephone-services-links__item-link-icon">
      <use xlink:href="#arrow-line-right"></use>
    </svg>
  </a>
</li>
