<section class="news-page news-page-detail">
    <div class="gl__page-content">
        <div class="news-page-detail__heading">
            <span class="news-page-detail__date">
                32 марта 2021
            </span>
            <h1 class="news-page-detail__title gl__title">
                Заголовок новости, может быть длинным, в две или даже три строки, хотя такого следует избегать
            </h1>
            <span class="news-page-detail__legend">
                Информация о тарифах
            </span>
        </div>

        <div class="news-page-detail__content">
            <div class="lead">
                <p>
                    Lead — суть новости как можно короче. Внезапно, действия представителей оппозиции являются только методом политического участия.
                </p>
            </div>

            <p>
                Простой абзац текста. Длина строки ориентировочно 70 символов. С другой стороны, высокотехнологичная концепция общественного уклада требует анализа поэтапного и последовательного развития общества.
            </p>
            <p>
                Простой абзац допускает использование <i>выделений</i>, <b>акцентов</b>, можно размещать <a href="">ссылки.</a>
            </p>

            <h1>
                Подзаголовки (уровень 1) также входят в комплект 
            </h1>

            <p>
                Противоположная точка зрения подразумевает, что базовые сценарии поведения пользователей представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть обнародованы.
            </p>

            <img src="img/news-detail.jpg" alt="">

            <h2>
                Подзаголовок уровень 2
            </h2>

            <p>
                И нет сомнений, что независимые государства лишь добавляют фракционных разногласий и обнародованы.
            </p>

            <p>
                Давайте добавим к новости список:
            </p>

            <ul>
                <li>Пункт первый;</li>
                <li>Пункт второй;</li>
                <li>За вторым идёт третий;</li>
                <li>Четвёртый пункт очень длинный, вылезает на пару-тройку строк, воображение закончилось, но строку добил.</li>
            </ul>

            <p>
               Нумерованный список лежит тут:
            </p>

            <ol>
                <li>Пункт первый;</li>
                <li>Пункт второй;</li>
                <li>Третий.</li>
            </ol>

            <h3>
                Подзаголовок уровень 3
            </h3>

            <p>
                Как уже неоднократно упомянуто, ключевые особенности структуры проекта формируют глобальную экономическую сеть и при этом — обнародованы.
            </p>

            <blockquote>
                <p>
                    Секрет японцев в том, что они не делают доклады о работе, а работают. Цитата в новости
                </p>
                <span>
                    — Питер Друкер
                </span>
            </blockquote>

            <button>
                Кнопка действия
            </button>
        </div>

    </div>
</section>