<section class="news-page">
  <div class="gl__page-content">
    <h2 class="gl__title">Новости</h2>

    <div class="news-page__content">
        <div class="news-page__block">
            <div class="news-page__news-warapper">
                {{#each news-page-list }}
                    <a href="/" class="gl__white-container news-list__slide gl__link-arrow-container news-page__news-item">
                    <div class="news-list__slide-title">{{ this.title }}</div>
                    <div class="news-list__slide-text">{{ this.text }}</div>
                    <div class="news-list__slide-legend">{{ this.legend }}</div>
                    <div class="news-list__link-arrow-wrapper gl__link-arrow-wrapper gl__link-arrow-block">
                        <div class="gl__link-arrow-link">
                        <svg width="26" height="26" aria-hidden="true" class="gl__link-arrow-icon">
                            <use xlink:href="#arrow-line-right"></use>
                        </svg>
                        </div>
                    </div>
                    </a>
                {{/each}}
            </div>
            <div class="news-page__pagination">
                {{> common/pagination-page pageNumbers=pageNumbers }}
            </div>
        </div>
        <div class="news-page__block">
            <form action="/" class="news-page__filter">
                <div class="news-page__filter-heading">
                    <span class="news-page__filter-legend">
                        Фильтр
                    </span>
                    <button type="button" class="news-page__filter-btn button js-filter-reset">
                        Сброс
                    </button>
                </div>

                {{> common/controls/select selects=year-select }}
                {{> common/controls/select selects=month-select }}
                {{> common/controls/select selects=all-news-select }}

                <button type="submit" class="button news-page__filter-sbmt-btn gl__main-btn">
                    Показать
                </button>

            </form>
        </div>
    </div>

  </div>
</section>
