.questions {
  &__tabs-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 4rem;

    margin-top: 8rem;
    margin-bottom: 10rem;

    @include for-lg-down {
      margin-top: 6rem;
      margin-bottom: 6rem;
    }
    @include for-bg-down {
      column-gap: 2.4rem;

      margin-top: 4rem;
      margin-bottom: 4rem;
    }
    @include for-sm-down {
      grid-template-columns: 1fr;
      column-gap: 0;
    }
  }

  &__search-result {
    display: inline-block;

    &.mod-select {
      background-color: yellow;
    }
  }

  &__nav {
    @include for-sm-down {
      position: fixed;
      top: calc(var(--header-height) + 2rem);
      left: -50%;
      z-index: 2;

      padding: 2rem;
      width: 50%;

      border-radius: 0 0 1rem 0;
      background-color: white;
      box-shadow: 0 0 0.4rem rgba(85, 87, 89, 0.4);

      transition: left 0.5s ease;
    }
    @include for-sm-down {
      left: -60%;

      width: 60%;
    }

    &.opened {
      left: 0;
    }
  }

  &__nav-mobile-btn {
    display: none;

    @include for-sm-down {
      position: absolute;
      top: 0;
      right: -4rem;
      z-index: 1;

      display: block;

      width: 4rem;
      height: 4rem;

      border-radius: 0 1rem 1rem 0;
      background-color: white;
      box-shadow: 0.4rem 0 0.4rem rgba(85, 87, 89, 0.3);
      cursor: pointer;
    }
  }

  &__tabs-header {
    position: sticky;
    top: calc(var(--header-height) + 2rem);
    left: 0;
  }

  &__tab-nav {
    padding: 1.2rem 0;

    border-bottom: 0.1rem solid var(--border-color);

    &:last-of-type {
      border-bottom: none;
    }

    @include for-lg-down {
      padding: 0.8rem 0;
    }
  }

  &__tab-nav-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    text-align: left;

    &:hover,
    &:focus {
      .questions__tab-nav-btn-label {
        color: var(--main-color);
      }
    }

    &.mod-open {
      .questions__tab-nav-btn-label {
        color: var(--main-color);
      }

      .questions__tab-nav-btn-icon {
        fill: var(--main-color);
        transform: rotate(-90deg);
      }
    }

    &.active-tab {
      .questions__tab-nav-btn-label {
        color: var(--main-color);
      }

      .questions__tab-nav-btn-icon {
        fill: var(--main-color);
        transform: rotate(-90deg);
      }
    }
  }

  &__tab-nav-btn-label {
    flex-shrink: 0;

    margin-right: 1rem;

    font-size: var(--fs-t2);
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  &__tab-nav-btn-icon {
    flex-shrink: 0;
  }

  &__tab-nav-content {
    padding-top: 1rem;
    padding-left: 3rem;
    padding-bottom: 0;

    @include for-lg-down {
      padding-top: 0.5rem;
      padding-left: 2rem;
    }
    @include for-bg-down {
      padding-left: 1rem;
    }
  }

  &__tab-nav-content-unit {
    padding: 0.8rem 0;
  }

  &__tab-nav-content-unit-link {
    font-size: var(--fs-t2);
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  &__tabs-content {
  }
}
