.questions-content {
    display: none;

    &.active {
        display: block;
    }

    &__item {
        margin-bottom: 6rem;
    }

    &__name {
        display: block;

        margin-bottom: 2rem;

        font-size: var(--fs-h2);
        line-height: 1.5;
        letter-spacing: 0.015em;
    }

    &__questions {
    }
}
