<section class="b-info">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Об услуге
    </h2>

    <p class="b-info__text">
      «Таттелеком» предоставляет своим клиентам площадки для размещения серверов в собственном дата-центре. Услуга
      Colocation удобна для тех компаний, которые имеют собственное оборудование, но не располагают подходящим для
      него помещением. В рамках услуги Colocation оборудования клиента размещается на технологической площадке
      «Таттелеком» и подключается к сети интернет по каналу высокой пропускной способности.
    </p>

    <h3 class="b-info__subtitle">
      Для надежной работы серверов в дата-центре обеспечиваются все необходимые технические условия
    </h3>

    <ul class="b-info__list-width-line-mark">
      <li class="b-info__item-line-mark">система охлаждения;</li>
      <li class="b-info__item-line-mark">система бесперебойного питания и резервные источники;</li>
      <li class="b-info__item-line-mark">несколько независимых резервируемых каналов;</li>
      <li class="b-info__item-line-mark">круглосуточный мониторинг оборудования;</li>
      <li class="b-info__item-line-mark">система безопасности, круглосуточное видеонаблюдение;</li>
      <li class="b-info__item-line-mark">система автоматического пожаротушения.</li>
    </ul>

    <h3 class="b-info__subtitle">
      Доступ к оборудованию
    </h3>

    <p class="b-info__text">
      После размещения управление сервером осуществляется клиентом самостоятельно, удаленно через Интернет. Исключения
      составляют работы, производство которых возможно только на технической территории Таттелеком.
    </p>
  </div>
</section>
