<section class="b-high-slider gl__section" id="b-high-slider-host">
  <div class="gl__page-content">
    <h2 class="gl__title">
      {{ this.sectionTitle }}
    </h2>
  </div>

  <div class="gl-slider js-swiper" data-swiper-slides-preview="5" data-swiper-gap="20">
    {{> common/controls/b-btns-slider }}
    <div class="gl__page-content">
      <div class="gl-slider__b-container gl-slider__container swiper-container js-swiper-container">
        <div class="gl-slider__wrapper swiper-wrapper">
          {{#each slidesList}}
            <a class="b-high-slider__slide swiper-slide">
              <img src="{{ this.img }}" alt="" class="b-high-slider__background">
              <div class="b-high-slider__title {{#if isWhiteTitle }}mod-white{{/if}}">
                {{{ this.title }}}
              </div>
              {{#if this.subtitleDown }}
                <div class="b-high-slider__subtitle {{#if isWhiteSubtitle }}mod-white{{/if}}">
                  {{ this.subtitleDown }}
                </div>
              {{/if}}
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</section>
