.b-city-rates {
  padding: 5rem 0;

  @include for-bg-down {
    padding: 3rem 0;
  }

  @include for-sm-down {
    padding: 2.6rem 0;
  }
}

.b-city-rates__content {
  padding: 4rem 0 .7rem;
  display: flex;
  border-top: 1px solid var(--border-color-2);

  @include for-xs-down {
    padding-top: 2rem;
    flex-direction: column;
  }
}

.b-city-rates__content-text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
  width: 68.6rem;
  max-width: 100%;
}

.b-city-rates__content__price {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  margin-left: 6.4rem;

  @include for-sm-down {
    margin-left: 3rem;
  }

  @include for-xs-down {
    margin-left: 0;
    margin-top: 2rem;
  }
}
