<div class="header__top-block">
  <div class="gl__page-content">
    <div class="header__top-block-content">
      <ul class="header__top-menu-items-list gl__md-hide">
        <li class="header__top-menu-items">
          <a href="" class="header__top-menu-items-link">Таттелеком</a>
        </li>
        <li class="header__top-menu-items">
          <a href="" class="header__top-menu-items-link">Частным клиентам</a>
        </li>
        <li class="header__top-menu-items">
          <a href="" class="header__top-menu-items-link">Бизнесу</a>
        </li>
        {{#if isBusiness }}
          <li class="header__top-menu-items">
            <a href="" class="header__top-menu-items-link">Акции</a>
          </li>
        {{/if}}
        <li class="header__top-menu-items">
          <button type="button" class="header__top-menu-items-link">Ещё</button>
        </li>
      </ul>

      <button type="button" class="header__top-menu-items-link gl__md-show">
        Частным клиентам
      </button>

      <div class="header__top-block-right">
        <ul class="header__top-menu-items-list gl__bg-hide">
          <li class="header__top-menu-items">
            <a href="" class="header__top-menu-items-link">Поддержка</a>
          </li>
          {{#if isPrivateClients }}
            <li class="header__top-menu-items">
              <a href="" class="header__top-menu-items-link">Офисы продаж</a>
            </li>
            <li class="header__top-menu-items">
              <a href="" class="header__top-menu-items-link">Оплата</a>
            </li>
          {{/if}}
        </ul>

        <div class="header__contacts-wrapper">
          <a href="" class="header__top-menu-items-link mod-with-icons js-show-location-popup" data-hover-value="location">
            <svg width="20" height="20" aria-hidden="true" class="header__top-menu-items-link-icon">
              <use xlink:href="#geolocation"></use>
            </svg>
            Казань
          </a>
          <a href="" class="header__top-menu-items-link mod-with-icons">
            <svg width="20" height="20" aria-hidden="true" class="header__top-menu-items-link-icon">
              <use xlink:href="#lk"></use>
            </svg>
            {{#if isPrivateClients }}
              <span class="gl__xs-hide">Личный кабинет</span>
              <span class="gl__xs-show">ЛК</span>
            {{ else }}
              Войти
            {{/if}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
