<div class="header__top-block">
  <div class="gl__page-content header__tatt-top-block-content_wrap">
    <a href="/" class="header__tatt-top-block-link">
      <img src="img/header/logo-tat.svg" alt="" class="header__tatt-top-block-logo">
    </a>
    <div class="header__top-block-content header__tatt-top-block-content">
      <ul class="header__top-menu-items-list gl__md-hide">
        <li class="header__top-menu-items">
          <a href="" class="header__top-menu-items-link _is-active">Таттелеком</a>
        </li>
        <li class="header__top-menu-items">
          <a href="" class="header__top-menu-items-link">Частным клиентам</a>
        </li>
        <li class="header__top-menu-items">
          <a href="" class="header__top-menu-items-link">Бизнесу</a>
        </li>
      </ul>
      <div class="header__top-menu-items header__top-menu-hover-nav-container">
        <button type="button" class="header__top-menu-items-link header__top-menu-hover-nav mod-tattelekom">
          Ещё
          <svg width="7" height="3" aria-hidden="true" class="header__top-menu-items-link-icon mod-tatt-arrow-down">
            <use xlink:href="#arrow-down"></use>
          </svg>
          <div class="header__top-menu-hover-container">
            <div class="header__top-menu-hover-content">
              <a href="" class="header__top-menu-items-link">Бизнесу</a>
              <a href="" class="header__top-menu-items-link">Таттелеком</a>
              <a href="" class="header__top-menu-items-link">Частным клиента</a>
            </div>
          </div>
        </button>
      </div>
      <div class="header__top-block-right">
        <div class="header__contacts-wrapper">
          <a href="" class="header__top-menu-items-link mod-tatt-right-block-link">Офисы продаж</a>
          <a href="" class="header__top-menu-items-link mod-with-icons mod-tatt-right-block-link">
            <svg width="20" height="20" aria-hidden="true" class="header__top-menu-items-link-icon mod-tatt-person-lk">
              <use xlink:href="#person-tatt"></use>
            </svg>
            <span class="gl__xs-hide">Личный кабинет</span>
            <span class="gl__xs-show">ЛК</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>