<div class="header__popup-container js-header-popup-container">
  <div class="header__popup-wrapper js-header-popup-wrapper">
    <div class="gl__page-content">
      <div class="header__popup-content js-header-popup" data-hover-value="mobile">
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Тарифы</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Безлимитный интернет</a></li>
            <li><a href="" class="header__popup-item-link">Много звонков</a></li>
            <li><a href="" class="header__popup-item-link">Все и сразу</a></li>
            <li><a href="" class="header__popup-item-link">Детский</a></li>
            <li><a href="" class="header__popup-item-link">Для модемов</a></li>
            <li><a href="" class="header__popup-item-link">Для умных устройств</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Стать абонентом «Летай»</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Выбрать красивый номер</a></li>
            <li><a href="" class="header__popup-item-link">Перейти со своим номером</a></li>
            <li><a href="" class="header__popup-item-link">Заказать доставку сим-карты</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Акции</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Вместе выгодно 2.0</a></li>
            <li><a href="" class="header__popup-item-link">Вместе выгодно</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Роуминг</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">В поездках по России</a></li>
            <li><a href="" class="header__popup-item-link">В поездках за границей</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Оплата услуг</a>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Полезные команды</a>
        </div>
      </div>

      <div class="header__popup-content js-header-popup" data-hover-value="internet">
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Тарифы</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Домашний интернет + ТВ + мобильная связь</a></li>
            <li><a href="" class="header__popup-item-link">Домашний интернет</a></li>
            <li><a href="" class="header__popup-item-link">Домашний интернет + ТВ</a></li>
            <li><a href="" class="header__popup-item-link">Интернет + ТВ для частного дома</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Акции</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Вместе выгодно 2.0</a></li>
            <li><a href="" class="header__popup-item-link">Вместе выгодно</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Дополнительные услуги</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Антивирус</a></li>
            <li><a href="" class="header__popup-item-link">Статичный IP</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Оплата услуг</a>
        </div>
      </div>

      <div class="header__popup-content js-header-popup" data-hover-value="tv">
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Тарифы</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Базовый пакет каналов</a></li>
            <li><a href="" class="header__popup-item-link">Дополнительные пакеты каналов</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Акции</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Вместе выгодно 2.0</a></li>
            <li><a href="" class="header__popup-item-link">Вместе выгодно</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Онлайн ТВ</a>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Оплата услуг</a>
        </div>
      </div>

      <div class="header__popup-content js-header-popup" data-hover-value="doorphone">
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Тарифы</a>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Акции</a>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Онлайн ТВ</a>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Оплата услуг</a>
        </div>
      </div>

      <div class="header__popup-content js-header-popup" data-hover-value="catalog">
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Смартфоны</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Смартфоны Honor</a></li>
            <li><a href="" class="header__popup-item-link">Смартфоны Samsung</a></li>
            <li><a href="" class="header__popup-item-link">Смартфоны Oppo</a></li>
            <li><a href="" class="header__popup-item-link">Смартфоны Realme</a></li>
            <li><a href="" class="header__popup-item-link">Смартфон Xiaomi</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Смарт-часы и Фитнес-браслеты</a>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Наушники и колонки</a>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Аксессуары</a>
        </div>
      </div>

      <div class="header__popup-content js-header-popup location-popup-content" data-hover-value="location">
        <div class="header__popup-item-wrapper">
          <span class="location-popup-content__heading">
            Республика Татарстан
          </span>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Казань</a></li>
            <li><a href="" class="header__popup-item-link">Альметьевск</a></li>
            <li><a href="" class="header__popup-item-link">Агрыз</a></li>
            <li><a href="" class="header__popup-item-link">Бугульма</a></li>
            <li><a href="" class="header__popup-item-link">Елабуга</a></li>
            <li><a href="" class="header__popup-item-link">Набережные Челны</a></li>
            <li><a href="" class="header__popup-item-link">Нижнекамск</a></li>
            <li><a href="" class="header__popup-item-link">Чистополь</a></li>
          </ul>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Азнакаево</a></li>
            <li><a href="" class="header__popup-item-link">Актюбинский</a></li>
            <li><a href="" class="header__popup-item-link">Боровое Матюшино</a></li>
            <li><a href="" class="header__popup-item-link">Бавлы</a></li>
            <li><a href="" class="header__popup-item-link">Высокая Гора</a></li>
            <li><a href="" class="header__popup-item-link">Джалиль</a></li>
            <li><a href="" class="header__popup-item-link">Заинск</a></li>
            <li><a href="" class="header__popup-item-link">Зеленодольск</a></li>
          </ul>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Камские поляны</a></li>
            <li><a href="" class="header__popup-item-link">Куркачи</a></li>
            <li><a href="" class="header__popup-item-link">Лениногорск</a></li>
            <li><a href="" class="header__popup-item-link">Менделеевск</a></li>
            <li><a href="" class="header__popup-item-link">Нурлат</a></li>
            <li><a href="" class="header__popup-item-link">Осиново</a></li>
            <li><a href="" class="header__popup-item-link">Усады</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <button class="location-popup-content__close-btn">
            <svg width="30" height="30" aria-hidden="true" class="header__search-btn-close-icon">
              <use xlink:href="#close"></use>
            </svg>
          </button>
          <form action="/" class="location-popup-content__form" data-need-validation data-parsley-validate>
            <span class="location-popup-content__legend">
              Другой населённый пункт
            </span>

            <div class="select">
              <div class="select__container mod-small-choices-list mod-simple-design">
                <label class="select__wrapper">
                  <select class="gl__select js-custom-select" data-parsley-class-handler="#region" name="region" required
                    data-parsley-required="" data-parsley-trigger="change"> <option placeholder value="">Район</option>
                    <option value="Район">Район</option>
                  </select>
                </label>
              </div>
            </div>
            <div class="select">
              <div class="select__container mod-small-choices-list mod-simple-design">
                <label class="select__wrapper">
                  <select class="gl__select js-custom-select" data-parsley-class-handler="#city" name="city" required
                    data-parsley-required="" data-parsley-trigger="change"> <option placeholder value="">Населённый пункт</option>
                    <option value="Район">Населённый пункт</option>
                  </select>
                </label>
              </div>
            </div>
            <button class="gl__main-btn location-popup-content__button">
              Выбрать город
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>