<div class="header__bottom-block">
  <div class="gl__page-content header__bottom-block-content">
    <div class="header__logo-wrapper">
      {{#if two-logos }}
        <a href="/" class="header__logo-link">
          <img src="img/header/logo-tat.svg" alt="" class="header__logo mod-tat">
        </a>
      {{/if}}
      <a href="/" class="header__logo-link">
        <img src="img/header/logo-fly.svg" alt="" class="header__logo mod-fly {{#if two-logos }}mot-two-logos{{/if}}">
      </a>
    </div>

    {{> layout-header/header-search }}

    <div class="header__bottom-block-right gl__bg-hide">
      <ul class="header__bottom-menu-list header__hide-when-search js-hide-when-search">
        <li class="header__bottom-menu-item">
          <a href="/mobile-communication.html" class="header__bottom-menu-link" data-hover-value="mobile">Мобильная
            связь</a>
        </li>
        <li class="header__bottom-menu-item">
          <a href="/" class="header__bottom-menu-link" data-hover-value="internet">Интернет</a>
        </li>
        <li class="header__bottom-menu-item">
          <a href="/tv-online.html" class="header__bottom-menu-link" data-hover-value="tv">Телевидение</a>
        </li>
        <li class="header__bottom-menu-item">
          <a href="/promo-intercom" class="header__bottom-menu-link" data-hover-value="doorphone">Домофон</a>
        </li>
        <li class="header__bottom-menu-item">
          <a href="/4g-services.html" class="header__bottom-menu-link" data-hover-value="catalog">Каталог устройств</a>
        </li>
      </ul>

      <div class="header__btns-container">
        <button type="button"
                class="header__bottom-btn header__btn-search header__hide-when-search js-open-search-btn js-hide-when-search">
          <svg width="30" height="30" aria-hidden="true" class="header__btn-search-icon">
            <use xlink:href="#search"></use>
          </svg>
        </button>
        <button type="button" class="header__bottom-btn header__btn-subscriber gl__main-btn js-open-callback-modal">
          Стать абонентом
        </button>
      </div>
    </div>

    <div class="header__bottom-block-right gl__bg-show">
      <div class="header__btns-container">
        <button type="button" class="header__bottom-btn header__btn-lk">
          <svg width="30" height="30" aria-hidden="true" class="header__btn-lk-icon">
            <use xlink:href="#lk"></use>
          </svg>
        </button>

        <button type="button" class="header__bottom-btn header__btn-burger js-open-side-bar"></button>
      </div>
    </div>
  </div>
</div>
