<div class="header__popup-container {{#if isTattelekom}} mod-tattelekom {{/if}} js-header-popup-container">
  <div class="header__popup-wrapper js-header-popup-wrapper">
    <div class="gl__page-content">
      <div class="header__popup-content js-header-popup" data-hover-value="company">
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">История</a>
          <a href="/" class="header__popup-item-caption">Достижения</a>
          <a href="/" class="header__popup-item-caption">Корпоративное управлеие</a>
          <a href="/" class="header__popup-item-caption">Раскрытие информации</a>
          <a href="/" class="header__popup-item-caption">Лицензии</a>
          <a href="/" class="header__popup-item-caption">Миссия</a>
        </div>
      </div>

      <div class="header__popup-content js-header-popup" data-hover-value="struktura">
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Чистопольский ЗУЭС</a>
          <a href="/" class="header__popup-item-caption">Казанское управление электросвязи</a>
          <a href="/" class="header__popup-item-caption">Альметьевский ЗУЭС</a>
          <a href="/" class="header__popup-item-caption">Арский ЗУЭС</a>
          <a href="/" class="header__popup-item-caption">Буинский ЗУЭС</a>
          <a href="/" class="header__popup-item-caption">Набережно-Челнинский ЗУЭС</a>
        </div>
      </div>

      <div class="header__popup-content js-header-popup" data-hover-value="aksii">
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption mod-2-span">Учредительные и внутренние документы</a>
          <a href="/" class="header__popup-item-caption mod-2-span">Эмиссионные документы</a>
          <a href="/" class="header__popup-item-caption mod-2-span">Годовые отчеты</a>
          <a href="/" class="header__popup-item-caption mod-2-span">Отчетность по МСФО</a>
          <a href="/" class="header__popup-item-caption mod-2-span">Список аффилированных лиц</a>
          <a href="/" class="header__popup-item-caption mod-2-span">Существенные факты</a>
          <a href="/" class="header__popup-item-caption mod-2-span">Раскрытие информации</a>
          <a href="/" class="header__popup-item-caption mod-2-span">Квартальная отчетность</a>
          <a href="/" class="header__popup-item-caption mod-2-span">Отчетность по МСФО</a>
          <a href="/" class="header__popup-item-caption mod-2-span">Рейтинги</a>
          <a href="/" class="header__popup-item-caption mod-2-span">Собрания акционеров</a>
          <a href="/" class="header__popup-item-caption mod-2-span">Бухгалтерская отчетность</a>
        </div>
      </div>

      <div class="header__popup-content js-header-popup" data-hover-value="partneram">
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Закупки</a>
          <a href="/" class="header__popup-item-caption">Информация для субъектов МСП</a>
          <a href="/" class="header__popup-item-caption">Перечень ТРУ для МСП</a>
          <a href="/" class="header__popup-item-caption">Нормативные документы</a>
          <a href="/" class="header__popup-item-caption">Операторам связи</a>
          <a href="/" class="header__popup-item-caption">Дилерам</a>
        </div>
      </div>
      <div class="header__popup-content js-header-popup" data-hover-value="press">
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Новости</a>
          <a href="/" class="header__popup-item-caption">Публикации</a>
          <a href="/" class="header__popup-item-caption">Контакты для СМИ</a>
        </div>
      </div>
      <div class="header__popup-content js-header-popup" data-hover-value="kontakty">
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Контактная информация</a>
          <a href="/" class="header__popup-item-caption">Реквизиты</a>
          <a href="/" class="header__popup-item-caption">Офисы продаж</a>
        </div>
      </div>
    </div>
  </div>
</div>