<header class="header {{#if isBusiness}}mod-business{{/if}} {{#if isBusinessMain}}js-business-main{{/if}}" id="header-host">
  <div class="header__content" {{#if isBusiness}}style="background-image: url('img/header/buliness-background.jpg')"{{/if}}>

    <div class="header__main-content">
      {{> layout-header/header-top-block }}

      {{#if isBusiness}}
        {{> layout-header/header-b-bottom-block }}
        {{#if isBusinessMain }}
          {{> layout-header/header-b-menu-main-page }}
        {{/if}}
      {{ else }}
        {{> layout-header/header-bottom-block }}
      {{/if}}
    </div>

    {{#if isBusiness }}
      {{> layout-header/header-b-pop-up }}
    {{ else }}
      {{> layout-header/header-pop-up }}
    {{/if}}
  </div>
</header>
