<div class="header__popup-container mod-business js-header-popup-container">
  <div class="header__popup-wrapper mod-business js-header-popup-wrapper" style="background-image: url('img/header/buliness-background.jpg')">
    <div class="gl__page-content">
        <div class="header__popup-content js-header-popup" data-hover-value="mobile">
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Тарифы</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Безлимитный интернет</a></li>
            <li><a href="" class="header__popup-item-link">Много звонков</a></li>
            <li><a href="" class="header__popup-item-link">Все и сразу</a></li>
            <li><a href="" class="header__popup-item-link">Детский</a></li>
            <li><a href="" class="header__popup-item-link">Для модемов</a></li>
            <li><a href="" class="header__popup-item-link">Для умных устройств</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Стать абонентом Летай</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Выбрать красивый номер</a></li>
            <li><a href="" class="header__popup-item-link">Перейти со своим номером</a></li>
            <li><a href="" class="header__popup-item-link">Заказать доставку сим-карты</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Акции</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">Вместе выгодно 2.0</a></li>
            <li><a href="" class="header__popup-item-link">Вместе выгодно</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Роуминг</a>
          <ul class="header__popup-item-list">
            <li><a href="" class="header__popup-item-link">В поездках по России</a></li>
            <li><a href="" class="header__popup-item-link">В поездках за границей</a></li>
          </ul>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Оплата услуг</a>
        </div>
        <div class="header__popup-item-wrapper">
          <a href="/" class="header__popup-item-caption">Полезные команды</a>
        </div>
      </div>

      <div class="header__popup-content js-header-popup" data-hover-value="business-solutions">
        <div class="header__b-menu-item">
          <div class="header__b-menu-item-caption">
            Комплексные решения для бизнеса
          </div>
          <ul class="header__b-menu-item-list">
            <li>
              <a href="" class="header__b-menu-item-control">
                <img src="img/header/business-menu/squares.svg" alt="" class="header__b-menu-item-control-icon">
                Комплекс услуг связи (Единый бизнес)
              </a>
            </li>
            <li>
              <a href="" class="header__b-menu-item-control">
                <img src="img/header/business-menu/tree.svg" alt="" class="header__b-menu-item-control-icon">
                Виртуальная АТС
              </a>
            </li>
            <li>
              <a href="" class="header__b-menu-item-control">
                <img src="img/header/business-menu/files.svg" alt="" class="header__b-menu-item-control-icon">
                Таттелеком Коннект (ЭДокс)
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="header__popup-content js-header-popup" data-hover-value="connection">
        <div class="header__b-menu-item">
          <div class="header__b-menu-item-caption">
            Связь
          </div>
          <ul class="header__b-menu-item-list">
            <li>
              <button type="button" class="header__b-menu-item-control mod-btn js-b-header-drop">
                <img src="img/header/business-menu/tel.svg" alt="" class="header__b-menu-item-control-icon">
                Мобильная связь
                <svg width="16" height="16" aria-hidden="true" class="header__b-menu-item-control-icon-arrow">
                  <use xlink:href="#arrow-right"></use>
                </svg>

                <span class="header__b-menu-item-drop-list">
            <a href="" class="header__b-menu-item-drop-link">
              Междугородная и международная связь
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Виртуальная АТС
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Цифровая Телефония
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Сервисы и услуги
            </a>
          </span>
              </button>
            </li>
            <li>
              <button type="button" class="header__b-menu-item-control mod-btn js-b-header-drop">
                <img src="img/header/business-menu/internet.svg" alt="" class="header__b-menu-item-control-icon">
                Интернет
                <svg width="16" height="16" aria-hidden="true" class="header__b-menu-item-control-icon-arrow">
                  <use xlink:href="#arrow-right"></use>
                </svg>

                <span class="header__b-menu-item-drop-list">
            <a href="" class="header__b-menu-item-drop-link">
              Междугородная и международная связь
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Виртуальная АТС
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Цифровая Телефония
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Сервисы и услуги
            </a>
          </span>
              </button>
            </li>
            <li>
              <button type="button" class="header__b-menu-item-control mod-btn js-b-header-drop">
                <img src="img/header/business-menu/telephony.svg" alt="" class="header__b-menu-item-control-icon">
                Телефония
                <svg width="16" height="16" aria-hidden="true" class="header__b-menu-item-control-icon-arrow">
                  <use xlink:href="#arrow-right"></use>
                </svg>

                <span class="header__b-menu-item-drop-list">
            <a href="" class="header__b-menu-item-drop-link">
              Междугородная и международная связь
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Виртуальная АТС
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Цифровая Телефония
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Сервисы и услуги
            </a>
          </span>
              </button>
            </li>
          </ul>
        </div>
      </div>

      <div class="header__popup-content js-header-popup" data-hover-value="digital-services">
        Цифровые сервисы
      </div>

      <div class="header__popup-content js-header-popup" data-hover-value="promotion">
        Продвижение
      </div>
    </div>
  </div>
</div>
