<div class="header__bottom-block">
  <div class="gl__page-content header__bottom-block-content">
    <div class="header__logo-wrapper">
      <a href="/" class="header__logo-link">
        <img src="img/header/logo-fly.svg" alt="" class="header__logo mod-tatt-logo">
      </a>
    </div>

    <div class="header__bottom-block-right gl__bg-hide">
      <ul class="header__bottom-menu-list">
        <li class="header__bottom-menu-item">
          <a href="/" class="header__bottom-menu-link" data-hover-value="company">О компании</a>
        </li>
        <li class="header__bottom-menu-item">
          <a href="/" class="header__bottom-menu-link" data-hover-value="struktura">Структурные подразделения</a>
        </li>
        <li class="header__bottom-menu-item">
          <a href="/" class="header__bottom-menu-link" data-hover-value="aksii">Акционерам и инвесторам</a>
        </li>
        <li class="header__bottom-menu-item">
          <a href="/" class="header__bottom-menu-link" data-hover-value="partneram">Партнерам</a>
        </li>
        <li class="header__bottom-menu-item">
          <a href="/" class="header__bottom-menu-link" data-hover-value="press">Пресс-центр</a>
        </li>
        <li class="header__bottom-menu-item">
          <a href="/" class="header__bottom-menu-link" data-hover-value="kontakty">Контакты</a>
        </li>
      </ul>
    </div>

    <div class="header__bottom-block-right gl__bg-show">
      <div class="header__btns-container">
        <button type="button" class="header__bottom-btn header__btn-lk">
          <svg width="30" height="30" aria-hidden="true" class="header__btn-lk-icon">
            <use xlink:href="#lk"></use>
          </svg>
        </button>

        <button type="button" class="header__bottom-btn header__btn-burger js-open-side-bar"></button>
      </div>
    </div>
  </div>
</div>