<div class="header__b-bottom-block">
  <div class="gl__page-content header__bottom-block-content">
    <div class="header__logo-wrapper">
      <a href="/" class="header__logo-link">
        <img src="img/header/logo-business.svg" alt="" class="header__logo mod-business">
      </a>
    </div>

    <div class="header__bottom-block-right mod-business gl__bg-hide js-b-menu-header">
      <ul class="header__bottom-menu-list">
        <li class="header__bottom-menu-item">
          <a href="" class="header__bottom-menu-link mod-business">
            Комплексные решения для бизнеса
          </a>
        </li>
        <li class="header__bottom-menu-item">
          <a href="" class="header__bottom-menu-link mod-business">
            Связь
          </a>
        </li>
        <li class="header__bottom-menu-item">
          <a href="" class="header__bottom-menu-link mod-business">
            Цифровые сервисы
          </a>
        </li>
        <li class="header__bottom-menu-item">
          <a href="" class="header__bottom-menu-link mod-business">
            Продвижение
          </a>
        </li>
      </ul>
    </div>

    <div class="header__bottom-block-right">
      <div class="header__btns-container">
        <button type="button" class="header__bottom-btn header__btn-burger mod-business"></button>

        <button type="button" class="header__bottom-btn header__btn-search">
          <svg width="30" height="30" aria-hidden="true" class="header__btn-search-icon mod-business">
            <use xlink:href="#search"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
