<div class="header__b-bottom-block" id="header-b-bottom-block-host">
  <div class="gl__page-content header__bottom-block-content">
    <div class="header__logo-wrapper">
      <a href="/" class="header__logo-link">
        <img src="img/header/logo-business.svg" alt="" class="header__logo mod-business">
      </a>
    </div>

    <div class="header__bottom-block-right gl__bg-hide">

      <div class="header__btns-container">
        <button type="button" class="header__bottom-btn header__btn-burger mod-business"></button>

        <button type="button" class="header__bottom-btn header__btn-search">
          <svg width="30" height="30" aria-hidden="true" class="header__btn-search-icon mod-business">
            <use xlink:href="#search"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
