<div class="gl__page-content header__b-main-page-menu mod-show" id="header-b-main-page-menu-host">
  <div class="header__b-menu-item">
    <div class="header__b-menu-item-caption">
      Комплексные решения для бизнеса
    </div>
    <ul class="header__b-menu-item-list">
      <li>
        <a href="" class="header__b-menu-item-control">
          <img src="img/header/business-menu/squares.svg" alt="" class="header__b-menu-item-control-icon">
          Комплекс услуг связи (Единый бизнес)
        </a>
      </li>
      <li>
        <a href="" class="header__b-menu-item-control">
          <img src="img/header/business-menu/tree.svg" alt="" class="header__b-menu-item-control-icon">
          Виртуальная АТС
        </a>
      </li>
      <li>
        <a href="" class="header__b-menu-item-control">
          <img src="img/header/business-menu/files.svg" alt="" class="header__b-menu-item-control-icon">
          Таттелеком Коннект (ЭДокс)
        </a>
      </li>
    </ul>
  </div>

  <div class="header__b-menu-item">
    <div class="header__b-menu-item-caption">
      Связь
    </div>
    <ul class="header__b-menu-item-list">
      <li>
        <button type="button" class="header__b-menu-item-control mod-btn js-b-header-drop">
          <img src="img/header/business-menu/tel.svg" alt="" class="header__b-menu-item-control-icon">
          Мобильная связь
          <svg width="16" height="16" aria-hidden="true" class="header__b-menu-item-control-icon-arrow">
            <use xlink:href="#arrow-right"></use>
          </svg>

          <span class="header__b-menu-item-drop-list">
            <a href="" class="header__b-menu-item-drop-link">
              Междугородная и международная связь
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Виртуальная АТС
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Цифровая Телефония
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Сервисы и услуги
            </a>
          </span>
        </button>
      </li>
      <li>
        <button type="button" class="header__b-menu-item-control mod-btn js-b-header-drop">
          <img src="img/header/business-menu/internet.svg" alt="" class="header__b-menu-item-control-icon">
          Интернет
          <svg width="16" height="16" aria-hidden="true" class="header__b-menu-item-control-icon-arrow">
            <use xlink:href="#arrow-right"></use>
          </svg>

          <span class="header__b-menu-item-drop-list">
            <a href="" class="header__b-menu-item-drop-link">
              Междугородная и международная связь
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Виртуальная АТС
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Цифровая Телефония
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Сервисы и услуги
            </a>
          </span>
        </button>
      </li>
      <li>
        <button type="button" class="header__b-menu-item-control mod-btn js-b-header-drop">
          <img src="img/header/business-menu/telephony.svg" alt="" class="header__b-menu-item-control-icon">
          Телефония
          <svg width="16" height="16" aria-hidden="true" class="header__b-menu-item-control-icon-arrow">
            <use xlink:href="#arrow-right"></use>
          </svg>

          <span class="header__b-menu-item-drop-list">
            <a href="" class="header__b-menu-item-drop-link">
              Междугородная и международная связь
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Виртуальная АТС
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Цифровая Телефония
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Сервисы и услуги
            </a>
          </span>
        </button>
      </li>
    </ul>
  </div>


  <div class="header__b-menu-item">
    <div class="header__b-menu-item-caption">
      Цифровые сервисы
    </div>
    <ul class="header__b-menu-item-list">
      <li>
        <button type="button" class="header__b-menu-item-control mod-btn js-b-header-drop">
          <img src="img/header/business-menu/internet-things.svg" alt="" class="header__b-menu-item-control-icon">
          Интернет вещей
          <svg width="16" height="16" aria-hidden="true" class="header__b-menu-item-control-icon-arrow">
            <use xlink:href="#arrow-right"></use>
          </svg>

          <span class="header__b-menu-item-drop-list">
            <a href="" class="header__b-menu-item-drop-link">
              Междугородная и международная связь
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Виртуальная АТС
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Цифровая Телефония
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Сервисы и услуги
            </a>
          </span>
        </button>
      </li>
      <li>
        <button type="button" class="header__b-menu-item-control mod-btn js-b-header-drop">
          <img src="img/header/business-menu/data-processing.svg" alt="" class="header__b-menu-item-control-icon">
          Обработка и хранение данных
          <svg width="16" height="16" aria-hidden="true" class="header__b-menu-item-control-icon-arrow">
            <use xlink:href="#arrow-right"></use>
          </svg>

          <span class="header__b-menu-item-drop-list">
            <a href="" class="header__b-menu-item-drop-link">
              Междугородная и международная связь
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Виртуальная АТС
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Цифровая Телефония
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Сервисы и услуги
            </a>
          </span>
        </button>
      </li>
      <li>
        <button type="button" class="header__b-menu-item-control mod-btn js-b-header-drop">
          <img src="img/header/business-menu/control.svg" alt="" class="header__b-menu-item-control-icon">
          Контроль и видеонаблюдение
          <svg width="16" height="16" aria-hidden="true" class="header__b-menu-item-control-icon-arrow">
            <use xlink:href="#arrow-right"></use>
          </svg>

          <span class="header__b-menu-item-drop-list">
            <a href="" class="header__b-menu-item-drop-link">
              Междугородная и международная связь
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Виртуальная АТС
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Цифровая Телефония
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Сервисы и услуги
            </a>
          </span>
        </button>
      </li>
      <li>
        <button type="button" class="header__b-menu-item-control mod-btn js-b-header-drop">
          <img src="img/header/business-menu/safety.svg" alt="" class="header__b-menu-item-control-icon">
          Безопасность
          <svg width="16" height="16" aria-hidden="true" class="header__b-menu-item-control-icon-arrow">
            <use xlink:href="#arrow-right"></use>
          </svg>

          <span class="header__b-menu-item-drop-list">
            <a href="" class="header__b-menu-item-drop-link">
              Междугородная и международная связь
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Виртуальная АТС
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Цифровая Телефония
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Сервисы и услуги
            </a>
          </span>
        </button>
      </li>
      <li>
        <button type="button" class="header__b-menu-item-control mod-btn js-b-header-drop">
          <img src="img/header/business-menu/solutions.svg" alt="" class="header__b-menu-item-control-icon">
          Решения для бизнеса
          <svg width="16" height="16" aria-hidden="true" class="header__b-menu-item-control-icon-arrow">
            <use xlink:href="#arrow-right"></use>
          </svg>

          <span class="header__b-menu-item-drop-list">
            <a href="" class="header__b-menu-item-drop-link">
              Междугородная и международная связь
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Виртуальная АТС
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Цифровая Телефония
            </a>
            <a href="" class="header__b-menu-item-drop-link">
              Сервисы и услуги
            </a>
          </span>
        </button>
      </li>
    </ul>
  </div>

  <div class="header__b-menu-item">
    <div class="header__b-menu-item-caption">
      Продвижение
    </div>
    <ul class="header__b-menu-item-list">
      <li>
        <a href="" class="header__b-menu-item-control">
          <img src="img/header/business-menu/sms.svg" alt="" class="header__b-menu-item-control-icon">
          SMS рассылка
        </a>
      </li>
      <li>
        <a href="" class="header__b-menu-item-control">
          <img src="img/header/business-menu/call-center.svg" alt="" class="header__b-menu-item-control-icon">
          Услуги Call–центра
        </a>
      </li>
      <li>
        <a href="" class="header__b-menu-item-control">
          <img src="img/header/business-menu/smart-wifi.svg" alt="" class="header__b-menu-item-control-icon">
          SMART Wi-Fi
        </a>
      </li>
    </ul>
  </div>

  <div class="header__b-main-page-menu-tel-wrapper">
    <div class="header__b-main-page-menu-tel-title">
      Свяжитесь <span class="gl__nowrap">с нами</span>
    </div>

    <div>
      <div class="header__b-main-page-menu-tel-caption">
        Контакт-центр:
      </div>

      <a href="tel:+78432222222" class="header__b-main-page-menu-tel-link">
        (843) 222-22-22
      </a>

      <button type="button" class="header__b-main-page-menu-btn">
        Подобрать решение
      </button>
    </div>
  </div>
</div>
