.application {
  padding: 11rem 0;
  position: relative;
  background-color: var(--border-color);
  z-index: 1;

  @include for-sm-down {
    padding: 3.4rem 0 5rem;
  }
}

.application__background {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.application__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.application__title {
  margin-bottom: 3.6rem;
  text-align: center;

  @include for-sm-down {
    margin-bottom: 2.4rem;
  }
}

.application__subtitle {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.015em;
  color: #555759;
  margin-bottom: 4.4rem;
  max-width: 47rem;
  text-align: center;

  @include for-sm-down {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
}

.application__form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  max-width: 80rem;

  @include for-sm-down {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem 1rem;
  }

  @include for-xs-down {
    grid-template-columns: 1fr;
    max-width: none;
    width: 100%;
    grid-gap: 2rem;
  }
}

.application__btn-wrapper {
  @include for-sm-down {
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
  }

  @include for-xs-down {
    grid-column: auto;
  }
}

.application__btn {
  height: 100%;

  @include for-xs-down {
    width: 100%;
  }
}
