.rates-preview {
  position: relative;
  height: 47rem;
  color: #fff;
  padding: 2rem 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include for-sm-down {
    background-color: #131419;
    background-image: none !important;
    display: flex;
    flex-direction: column;
    height: auto;
  }
}

.rates-preview-img-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2.6rem;
}

.rates-preview-img {
  height: 27.6rem;
  object-fit: contain;
}

.rates-preview__content-wrapper {
  display: flex;
  align-items: center;
  height: 100%;

  @include for-sm-down {
    width: 100%;
  }
}

.rates-preview__content {
  max-width: 45rem;

  @include for-sm-down {
    max-width: none;
  }
}

.rates-preview__content-title {
  font-size: 3.4rem;
  line-height: 4rem;
  margin-bottom: 2rem;

  @include for-sm-down {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}

.rates-preview__content-subtitle {
  font-weight: 600;
  font-size: 4.4rem;
  line-height: 5.4rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;

  @include for-sm-down {
    font-size: 3.2rem;
    line-height: 3.8rem;
    margin-bottom: 2rem;
  }
}

.rates-preview__content-caption {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 5.2rem;

  @include for-sm-down {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-bottom: 2.8rem;
  }
}
