<section class="error" id="error-host">
  <div class="gl__page-content">
    <div class="error__content">
      {{#if isBusiness}}
          <img src="img/error-page/b-error-4042.svg" alt="" class="error__image">
        {{ else }}
          <img src="img/error-page/error-404.svg" alt="" class="error__image">
      {{/if}}
      <div class="error__content-text">
        <div class="error__title">
          К сожалению, мы не смогли найти то, что вы искали.
        </div>

        <div class="error__caption">
          Возможно, вы указали неправильный адрес или страница, на которую вы хотели зайти, еще не создана.
        </div>

        <button type="button" class="error__btn gl__main-btn {{#if isBusiness}} mod-business {{/if}}">
          Вернуться на главную
        </button>
      </div>
    </div>
  </div>
</section>
