.b-sip-telephony-rates {
  padding: 5rem 0 2rem;

  @include for-bg-down {
    padding: 3rem 0 2rem;
  }

  @include for-sm-down {
    padding: 2.6rem 0 1rem;
  }
}

.b-sip-telephony-rates__select-wrapper {
  width: 33rem;
}
