<section class="include-page">
    <div class="gl__page-content include-page__content">
        <img class="include-page__image" src="img/include-page/img2.png" alt="Оплата успешно совершена!">

        <div class="include-page__info">
            <h1 class="include-page__heading">
                Что-то пошло не так, оплата не прошла!
            </h1>

            <p>
                Проверьте введённые данные и повторите попытку
            </p>

            <a href="/" class="gl__main-btn include-page__btn">
                Попробовать снова
            </a>
        </div>
    </div>
</section>