:root {
  --font-museo-sans-cyrl: 'MuseoSansCyrl';
  --header-height-top-block-desk: 4rem;
  --header-height-bottom-block-desk: 10rem;
  --header-height-desk: calc(var(--header-height-top-block-desk) + var(--header-height-bottom-block-desk));
  --header-height-top-block-mobile: 3rem;
  --header-height-bottom-block-mobile: 6rem;
  --header-height-mobile: calc(var(--header-height-top-block-mobile) + var(--header-height-bottom-block-mobile));

  --page-content-padding-fl: 8rem;
  --page-content-padding-bg: 5rem;
  --page-content-padding-small: 2rem;
  --page-content-padding-xxs: 1.6rem;

  //colors
  --main-color: #FA4907;
  --main-color-hover: #FF7846;
  --main-text-color: #2B2B2B;
  --main-grey-color: #A6A6A6;
  --grey-text: #555759;
  --border-color: #F5F5F5;
  --border-color-2: #DBDBDB;

  // z-index
  --z-index-header: 3;
  --z-index-roaming-top-block: 2;
}
