:root {
  --font-golos: 'Golos';
  --header-height-top-block: 4rem;
  --header-height-bottom-block: 10rem;
  --header-height: calc(var(--header-height-top-block) + var(--header-height-bottom-block));

  --page-content-padding-fl: 8rem;
  --page-content-padding-bg-down: 5rem;
  --page-content-padding-small: 2rem;
  --page-content-padding-xxs: 1.6rem;

  //colors
  --main-color: #fa4907;
  --main-hover: #ff7846;
  --main-text-color: #2b2b2b;
  --main-grey-color: #a6a6a6;
  --border-color: #F5F5F5;

  // z-index
  --z-index-header: 2;
}
