:root {
    --page-content-padding-fl: 100px;
    --page-content-padding-bg-down: 50px;
    --page-content-padding-small: 20px;
    --page-content-padding-xxs-down: 16px;
    --font-golos: 'Golos';
    --main-color: #FA4907;
    --main-text-color: #2B2B2B;
}
