body {
  color: var(--main-text-color);

  &.mod-no-scroll {
    overflow: hidden;
    height: 100vh;
  }
}

a {
  cursor: pointer;
  transition: color 250ms;

  &:hover {
    color: var(--main-color);

    svg {
      fill: var(--main-color);
    }
  }
}

svg {
  transition: fill 250ms;
}

button {
  &:hover {
    svg {
      fill: var(--main-color);
    }
  }
}

::selection {
 @extend %select-orange-background;
}

.gl__page-content {
  padding-left: var(--page-content-padding);
  padding-right: var(--page-content-padding);
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
}

.gl__layout-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.gl__layout-content {
  flex: 1 1 100%;
  margin-top: var(--header-height);
}

.gl__title-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;

  .gl__title {
    margin-bottom: 0;
  }

  @include for-sm-down {
    margin-bottom: 2.6rem;
  }
}

.gl__title {
  font-size: 3.8rem;
  line-height: 5rem;
  letter-spacing: 0.015em;
  color: var(--main-text-color);
  margin-bottom: 5rem;
  font-weight: normal;

  @include for-sm-down {
    font-size: 2.6rem;
    line-height: 3.4rem;
    margin-bottom: 2.6rem;
  }

  &.mod-white {
    color: #fff;
  }
}

.gl__white-container {
  box-shadow: 0 0 12px 4px #0000000f;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.gl__drop-menu-btn {
  &.mod-open {
    .gl__drop-menu-icon {
      transform: rotate(-180deg);
    }
  }
}

.gl__drop-menu-icon {
  transform: rotate(0);
  transition: transform 250ms;
}

.gl__drop-menu-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 400ms;

  &.mod-open {
    //max-height: ??; // высчитывается через js
    pointer-events: auto;
  }

  &:not(.mod-open) {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.gl__drop-menu {
  padding-bottom: 2rem;
}

.gl__menu-tab-content {
  &:not(.mod-show) {
    display: none;
  }
}

.gl__filter-container {
  @include for-bg-down {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: 400ms opacity;
    background-color: rgba(0, 0, 0, .4);
    pointer-events: none;

    &.mod-show {
      opacity: 1;
      z-index: var(--z-index-header);
      pointer-events: auto;
    }
  }

  &--lg {
    @include for-lg-down {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      opacity: 0;
      transition: 400ms opacity;
      background-color: rgba(0, 0, 0, .4);
      pointer-events: none;

      &.mod-show {
        opacity: 1;
        z-index: var(--z-index-header);
        pointer-events: auto;
      }
    }
  }
}

.gl__filter {
  @include for-bg-down {
    width: auto !important;
    margin: 1rem var(--page-content-padding);
    padding-top: 8rem !important;
    position: relative;
    max-height: calc(100vh - 1rem);
    overflow: auto;
    border-radius: 10px;
  }

  &--lg {
    @include for-lg-down {
      width: auto !important;
      margin: 1rem var(--page-content-padding);
      padding-top: 8rem !important;
      position: relative;
      max-height: calc(100vh - 1rem);
      overflow: auto;
      border-radius: 10px;
    }
  }
}

.gl__filter-modal-close {
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  height: 7rem !important;
  width: 7rem !important;
}
