<section class="rates-mobile-list" id="rates-mobile-list-page-host">
  <div class="gl__page-content">

    <div class="rates-list__content">
      <h2 class="rates-list__title gl__title">Тарифы мобильной связи</h2>

      <ul class="rates-list__menu-wrapper gl__lg-hide">
        {{#each menuBtns }}
          <li class="rates-list__menu-item">
            <button type="button" class="rates-list__menu-btn">
              {{ this }}
              <svg width="26" height="26" aria-hidden="true" class="rates-list__menu-btn-icon">
                <use xlink:href="#arrow-right"></use>
              </svg>
            </button>
          </li>
        {{/each}}
      </ul>

      <div class="gl__lg-show">
        {{> common/btn-settings text="Безлимитный интернет" }}
      </div>

      <div class="rates-list__list-wrapper">
        <ul class="rates-list__list">
          {{#each rates-list}}
            {{> common/rates/rates-item }}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>
