<section class="about-service" id="about-service-host">
  <div class="gl__page-content">
    <h2 class="gl__title">
      Об услуге
    </h2>

    <p class="about-service__text">
      Все услуги связи в одном тарифе. Интернет для бизнеса, корпоративная мобильная связь и телефония для обработки звонков клиентов.
    </p>
  </div>
</section>
