<section class="intercom-functions" id="intercom-functions-host">
  <div class="gl__page-content">
    <div class="intercom-functions__content">
      <img src="img/promo-intercom/phones.png" alt="" class="intercom-functions__image">

      <ul class="intercom-functions__list">
        {{#each intercom-functions }}
          <li class="intercom-functions__item">
            <img src="img/promo-intercom/check.svg" alt="" class="intercom-functions__item-image">
            <div class="intercom-functions__item-text">
              {{ this }}
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
