{{#each faq }}
  <li class="faq__item">
    <button type="button" class="faq__item-btn-wrapper gl__drop-menu-btn js-drop-menu-btn">
      <svg width="24" height="24" aria-hidden="true" class="faq__item-btn-icon gl__drop-menu-icon">
        <use xlink:href="#arrow-down"></use>
      </svg>
      {{ this.title }}
    </button>

    {{#if this.text }}
      <div class="faq__item-content-wrapper gl__drop-menu-container js-drop-menu-container">
        <div class="gl__drop-menu js-drop-menu">
          {{#each this.text }}
            <p class="faq__item-content-text">{{ this }}</p>
          {{/each}}
        </div>
      </div>
    {{/if}}

    {{#if this.flexs }}
      <div class="faq__flexs-list gl__drop-menu-container js-drop-menu-container">
        <ul class="gl__drop-menu js-drop-menu">
          {{#each this.flexs }}
            <li class="faq__flexs-item">
              <div class="faq__flexs-item-caption">{{ this.caption }}</div>
              <div class="faq__flexs-item-value">{{ this.value }}</div>
            </li>
          {{/each}}
        </ul>
      </div>
    {{/if}}
  </li>
{{/each}}
