<section class="ussd-faq" id="ussd-requests-host">
  <div class="gl__page-content">
    <div class="ussd-faq__content">
      <h2 class="gl__title">USSD-запросы</h2>
      <div class="ussd-faq__subtitle">
        USSD-запросы позволяют выполнить различные действия с вашим номером путем ввода определенной комбинации.
      </div>
      {{> common/faq/faq-item faq=ussd-faq }}
    </div>
  </div>
</section>
